<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/blog.css}"
		type="text/css">
</th:block>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="content">
		<div class="container" x-data="{ rightSide: false, leftSide: false }">
		  <div class="main">
		    <div class="main-container">
		    <!-- 프로필 -->
		      <div class="profile">
		        <div class="profile-avatar">
		        	<img th:if="${blogInfo.fileRoute != null}"
						th:src="'/fileView/'+${blogInfo.fileRoute}"
						alt="profile-sample5" class="profile-img" />
					<img th:if="${blogInfo.fileRoute == null}"
						th:src="@{/images/defaulltProfile.png}"
						alt="profile-sample5" class="profile-img" />
		          <div class="profile-name">[[${blogInfo.nickname}]] <span style="font-size:20px">@[[${blogInfo.blogId}]]</span> <br><p>[[${blogInfo.introduction}]]</p></div>
		        	
		        </div>
		        <!-- 헤더 -->
		        <img src="/fileView/20230127/befd71a4-98a8-4042-a72a-07ff9c715e36.gif" alt="" class="profile-cover">
		        <!-- 헤더 끝 -->
		        
		        <div class="profile-menu">
		          <a class="profile-menu-link active">Timeline</a>
		          <a class="profile-menu-link">About</a>
		          <a class="profile-menu-link">Friends</a>
		          <a class="profile-menu-link">Photos</a>
		          <a class="profile-menu-link">More</a>
		        </div>
		      </div>
		     <!-- 프로필 끝 -->
		      <div class="timeline">
			       <div class="left-side">
					    <div class="left-side-button">
					      <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
					      <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
					  		<path d="M19 12H5M12 19l-7-7 7-7"/>
						  </svg>
					    </div>
			    
					    <!-- 카테고리 -->
					    <div class="side-wrapper">
					      <div class="side-title">MENU</div>
					      <div class="side-menu">
					        <a href="#">
					          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
					            <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
					            <path d="M9 22V12h6v10" />
					          </svg>
					          Home
					        </a>
					        <a href="#">
					          <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
					            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
					            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
					          </svg>
					          Latest News
					        </a>
					        <a href="#">
					          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
					            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z" />
					            <circle cx="12" cy="10" r="3" /></svg>
					          Explore
					        </a>
					        <a href="#">
					          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
					            <path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z" />
					            <path d="M14 2v6h6M16 13H8M16 17H8M10 9H8" />
					          </svg>
					          Files
					        </a>
					        <a href="#">
					          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					            <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
					            <circle cx="8.5" cy="8.5" r="1.5" />
					            <path d="M21 15l-5-5L5 21" />
					          </svg>
					          Galery
					        </a>
					        <a href="#">
					          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					            <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
					            <path d="M16 2v4M8 2v4M3 10h18" />
					          </svg>
					          Events
					        </a>
					      </div>
					    </div>
			    		<!-- 카테고리 끝 -->
			    
			    <!-- 최신글 -->
			    
			    <!-- 최신글 끝 -->
			    
			    <!-- 구독 목록 -->
			    <div class="side-wrapper">
			      <div class="side-title">YOUR FAVOURITE</div>
			      <div class="side-menu">
			        <a href="#">
			          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 472.11 472.11">
			            <path d="M260.07 216.11a63.94 63.94 0 00-28.26-53.1 55.95 55.95 0 00-43.74-90.9c-.8 0-1.6.1-2.4.12a56 56 0 10-107.2 0c-.8 0-1.6-.12-2.4-.12a55.95 55.95 0 00-43.75 90.9 64 64 0 000 106.2 55.95 55.95 0 0043.75 90.9h112a55.95 55.95 0 0043.74-90.9 63.94 63.94 0 0028.26-53.1z" fill="#6a9923" />
			            <path d="M193.8 178.51a8 8 0 00-11.32-.16l-42.41 41.03V104.1a8 8 0 00-16 0v56.7l-36.35-36.35a8 8 0 00-11.31 11.3l47.66 47.67V292.8l-34.35-34.34a8 8 0 00-11.31 11.3l45.66 45.67V464.1a8 8 0 0016 0V241.63l53.6-51.78a8 8 0 00.12-11.34z" fill="#618c20" />
			            <path d="M468.07 216.11a63.94 63.94 0 00-28.26-53.1 55.95 55.95 0 00-43.74-90.9c-.8 0-1.6.1-2.4.12a56 56 0 10-107.2 0c-.8 0-1.6-.12-2.4-.12a55.95 55.95 0 00-43.75 90.9 64 64 0 000 106.2 55.95 55.95 0 0043.75 90.9h112a55.95 55.95 0 0043.74-90.9 63.94 63.94 0 0028.26-53.1z" fill="#6a9923" />
			            <path d="M401.72 178.46a8 8 0 00-11.31 0l-42.34 42.34V104.11a8 8 0 00-16 0v56.7l-36.35-36.35a8 8 0 00-11.31 11.3l47.66 47.67V292.8l-34.35-34.34a8 8 0 00-11.31 11.3l45.66 45.67V464.1a8 8 0 0016 0V242.87c.6-.3 1.15-.66 1.65-1.1l52-52a8 8 0 000-11.31z" fill="#618c20" />
			            <path d="M364.07 216.11a63.94 63.94 0 00-28.26-53.1 55.95 55.95 0 00-43.74-90.9c-.8 0-1.6.1-2.4.12a56 56 0 10-107.2 0c-.8 0-1.6-.12-2.4-.12a55.95 55.95 0 00-43.75 90.9 64 64 0 000 106.2 55.95 55.95 0 0043.75 90.9h112a55.95 55.95 0 0043.74-90.9 63.94 63.94 0 0028.26-53.1z" fill="#88b337" />
			            <path d="M297.72 178.46a8 8 0 00-11.31 0l-42.34 42.34V104.11a8 8 0 00-16 0v56.7l-36.35-36.35a8 8 0 00-11.31 11.3l47.66 47.67V292.8l-34.35-34.34a8 8 0 00-11.31 11.3l45.66 45.67V464.1a8 8 0 0016 0V242.87c.6-.3 1.15-.66 1.65-1.1l52-52a8 8 0 000-11.31z" fill="#6a9923" />
			            <path d="M372.07 472.11h-272a8 8 0 010-16h272a8 8 0 010 16z" fill="#595959" /></svg>
			          Foresto
			        </a>
			        
			        
			        <a href="#">
			          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
			            <path d="M424 101l-8 25v6l16 21c3 4 0 9-4 9h-27l-5 2-15 22c-3 4-9 3-10-2l-8-25-4-4-25-8c-5-1-6-7-2-10l22-15 2-5V90c0-4 5-7 9-4l21 16h6l25-8c4-2 9 3 7 7z" fill="#fe9901" />
			            <path d="M428 162h-27l-5 2-15 22c-3 4-9 3-10-2l-5-15 2-2 16-23 5-2h28c2 0 4-1 5-3l10 14c3 4 0 9-4 9z" fill="#fb8801" />
			            <circle cx="438.8" cy="403.5" fill="#60b7ff" r="23.4" />
			            <path d="M462 403a23 23 0 11-46-2c4 4 9 7 16 7 12 0 22-10 23-21 4 4 7 10 7 16z" fill="#26a6fe" />
			            <path d="M24 511l321-137-101-100-100-101L7 494c-4 11 6 21 17 17z" fill="#fe7d43" />
			            <path d="M345 374L24 511c-11 4-21-6-17-17 3 1 5 0 8-1l315-134z" fill="#fd6930" />
			            <g fill="#7acaa6">
			              <path d="M47 401l95 60-54 22-60-37zM84 315l162 101-54 23-128-80zM120 229l210 131 15 14-49 21-195-122z" />
			            </g>
			            <g fill="#57be92">
			              <path d="M142 461l-54 22-20-12 54-23zM246 416l-54 23-20-13 54-23zM345 374l-49 21-20-13 53-23 1 1z" />
			            </g>
			            <path d="M136 4c-6 11-18 33-38 41-3 1-3 5 0 7 20 8 32 29 38 41 1 2 4 2 6 0 5-12 18-33 37-41 3-2 3-6 0-7-19-8-32-30-37-41-2-2-5-2-6 0z" fill="#fe9901" />
			            <path d="M179 52c-19 8-32 29-37 41-2 2-5 2-6 0l-9-15a87 87 0 0139-41l13 8c3 1 3 5 0 7z" fill="#fb8801" />
			            <path d="M345 426c-4 9-14 26-30 33-2 1-2 4 0 5 16 7 26 24 30 33 1 2 4 2 5 0 5-9 15-26 31-33 2-1 2-4 0-5-16-7-26-24-31-33-1-2-4-2-5 0z" fill="#fe9901" />
			            <path d="M381 464c-16 7-26 24-31 33-1 2-4 2-5 0l-7-12a70 70 0 0132-33l11 7c2 1 2 4 0 5z" fill="#fb8801" />
			            <g fill="#acacac">
			              <path d="M504 288a52 52 0 00-37-19c-7 0-13 1-20 3-13-8-30-8-50-1a8 8 0 106 14c7-2 17-5 28-3l-3 3c-10 10-13 27-5 38a26 26 0 0021 11c7 0 14-4 18-9l5-12c2-10-1-20-6-28h5c10 0 19 5 26 13a8 8 0 1012-10zm-52 23c-1 4-4 7-8 7s-7-2-8-4c-4-5-2-13 3-18l7-6c5 6 7 13 6 21zM443 80c11 9 28 8 39-2l2-2c2 10-2 21-5 28a8 8 0 1014 6c8-18 9-36 3-50 3-6 4-12 5-19 1-14-5-28-15-39a8 8 0 10-11 11 37 37 0 0110 33c-8-7-18-10-28-9-5 0-9 2-12 4-6 3-10 10-10 18-1 8 2 16 8 21zm7-20c0-2 0-5 3-6 4-3 9-2 13-1 1 0 13 6 12 7l-6 7c-6 4-14 5-19 1-2-2-3-5-3-8zM289 43c-4 1-6 6-5 10 11 30 2 84-18 109a8 8 0 1012 10c11-14 20-36 24-60s3-48-3-65c-2-4-6-6-10-4zM460 231a8 8 0 105-15c-17-6-41-7-65-3s-46 13-60 25a8 8 0 1010 11c25-20 79-29 110-18z" />
			            </g>
			            <circle cx="345.3" cy="31.1" fill="#60b7ff" r="23.4" />
			            <path d="M369 31a23 23 0 11-47 0v-1c4 3 8 5 13 5 13 0 23-10 24-23 6 4 10 11 10 19z" fill="#26a6fe" />
			            <circle cx="227.5" cy="94.5" fill="#60b7ff" r="23.4" />
			            <path d="M251 94a23 23 0 11-47 0c4 2 8 4 13 4 13 0 23-10 23-23 7 4 11 11 11 19z" fill="#26a6fe" />
			            <path d="M164 136l217 217c3 3 3 8 0 11l-21 21c-3 3-8 3-11 0L132 168c-3-3-3-8 0-11l21-21c3-3 8-3 11 0z" fill="#f3eae6" />
			            <path d="M381 364l-21 20c-3 4-8 4-11 0l-15-14c4 3 9 3 12 0l20-20c3-4 3-9 0-12l15 15c3 3 3 8 0 11z" fill="#e1d3ce" />
			          </svg>
			          Dance
			        </a>
			      </div>
			    </div>
			    <!-- 구독 목록 끝 -->
			  </div>
		        <div class="timeline-right">
		        <!-- 모먼트 -->
		        		<h3 style="text-align: center; margin: 0 auto;">
							MOMENT <a data-bs-toggle="modal" data-bs-target="#insertModal"
								type="button" th:if="${mmtCnt<4} and ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}">▶</a> 
								<a type="button"
								th:if="${mmtCnt==4}"
								onclick="alert('😥 저장 가능한 모먼트 용량이 초과되었습니다. 삭제 후 등록해주세요!')">✖</a>
								<a type="button" th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}" style="display:none;"></a>
						</h3>
				      <div id="card-app" class="card-container mmtpage-content">
				      	<!-- 모달창 띄우는 버튼 -->
						<a th:each="moment : ${moments}" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalBtn"
						 th:if="${moment.publicScope}=='public' or
						  ${moment.publicScope}=='partial' and  ${subCount} =='T' or
						  ${moment.blogId} == ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}">
						<a style="padding: 100px;"
						 th:unless="${moment.publicScope}=='public' or
						  ${moment.publicScope}=='partial' and  ${subCount} =='T' or
						  ${moment.blogId} == ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}"></a>
						  
							<input type="hidden" id="mmtId" th:value="${moment.momentId}">
					      
					        <card th:data-image="@{'/fileView/'+${moment.fileRoute}}"
					            class="mmtcard inputfield" id="preview-image"
								th:style="'background: url('+@{'/fileView/'+${moment.fileRoute}}+');background-repeat:no-repeat;background-size:cover;'">
					            <h1 class="mmttitle">@[[${moment.blogId}]]</h1>
					            <p class="mmtcopy">[[${moment.momentWrite}]]</p>
					        </card>
				        </a>
				      </div>
		        <!-- 모먼트 끝 -->
		        
		        <!-- 페이징 해야함 -->
		          <div class="album box">
		            <div class="album-content">글제목1
		              <div class="album-photos">
		                <img src="https://images.unsplash.com/photo-1508179719682-dbc62681c355?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80" alt="" class="album-photo" />
		              </div>
		            </div>
		            <div class="album-actions">
		              <a href="#" class="album-action">
		                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
		                  <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
		                </svg>
		                87
		              </a>
		              <a href="#" class="album-action">
		                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
		                  <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
		                </svg>
		                20
		              </a>
		            </div>
		          </div>
		          <!-- 페이징 해야함 -->
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

<!-- 모달창 조회 -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content">

					<div class="modal-body row">
						<div class="col-md-6 modal-image sticky-top">
							<img id="modalImg"
								src="https://unsplash.it/800/1200.jpg?image=256"
								class="img-fluid sticky-top">
						</div>
						<div class="col-md-6 p-3">
							<span class="round">
								<img th:if="${blogInfo.fileRoute != null}"
										th:src="'/fileView/'+${blogInfo.fileRoute}"
										alt="profile-sample5" class="profile" width="70" style="border-radius:100px"/>
								<img th:if="${blogInfo.fileRoute == null}"
										th:src="@{/images/defaulltProfile.png}"
										alt="profile-sample5" class="profile" width="70" style="border-radius:100px"/>
								<a class="mt-3" style="font-weight: bold;font-size:20px;">닉네임</a>
							</span>

							<p id="nickname">Edited · 1d</p>
							<button class="mmtbtn" style="color: red;" id="mmtDelBtn">delete</button>
							<div class="mt-2 mx-2">
								<input type="text" class="form-control"
									placeholder="type comment" id="addUrl" readonly>
							</div>

							<div class="d-flex flex-row comment-row mt-2">
								<div class="p-2"></div>
								<div class="comment-text active w-100">
									<h5 id="mmtWrite">내용</h5>
								</div>
							</div>
							<p id="uploadDate"></p>
							<!-- 하트 시간 남으면-->
							
							<!-- 하트 끝 -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달창 끝 -->
		
		<!-- 모먼트 작성 -->
		<div class="modal fade" id="insertModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content">

					<div class="modal-body row">
						<div class="col-md-6 modal-image sticky-top">
							<h3>상세 내용</h3>
							<textarea id="momentWrite" cols="58" rows="20"
								placeholder="500자 미만으로 입력해주세요"></textarea>
						</div>
						<div class="col-md-6 p-3">

							<input type="text" class="form-control"
								placeholder="첨부할 주소를 입력하세요" id="insertUrl"> <br>
							<fieldset>
								<h3>업로드 기간</h3>
								<input type="date" id="date" placeholder="Select a date"
									data-datepicker-events="{date: '2020-07-12T12:00', name: 'Business Lunch Zürich', type: 'holiday'}"
									required /> <br>
								<h3>공개범위</h3>
								<select name="publicScope" id="scope">
									<!-- 공개범위 부분 나중에 value 수정 필요 -->
									<option value="public">전체공개</option>
									<option value="partial" selected>일부공개</option>
									<option value="private">비공개</option>
								</select>
							</fieldset>
							<div class="mt-2 mx-2"></div>

							<div class="d-flex flex-row comment-row mt-2">
								<form id="momentFrm">
									<div class="p-2">
										이미지 미리보기
										<div class="image-container">
											<img style="width: 500px;" id="preview-image2"
												src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
											<input style="display: block;" type="file" name="uploadfile"
												multiple="multiple" id="input-image">
										</div>
									</div>
								</form>
							</div>
							<input type="hidden" id="getblogId" th:value="${blogInfo.blogId}">
							<button type="button" id="mmtInsertBtn">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 모먼트 작성 끝 -->

	<!-- moment -->
		<script type="text/javascript">
			
			//csrf설정
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");	
			
// 			// 블로그 아이디 가져오기
// 			let blogId = $('#getblogId').val();
// // 			console.log("블로그 아이디 찾아요~!"+blogId);
// 			// 세션 아이디 값
// 			let sessionId = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";

// 			// 검색할 때 값 넣기
// 			let nowData = {"writeTitle" : null, 
// 						   "blogId": blogId}; 
			
// 			// 구독했는지 확인하기
// 			let subTF = $('.follow').attr('value');
			
// 			// 페이징 할 때 리스트 클론하기
// 			let listClone = $(".template").find(".col-md-6").first();
			
// 			// 좋아요 조회
// 			let likeTF = $('.blogLike').val();
			
// 			// 검색할때 값 넣는 곳
// 			function dataMake(){
// 				let data = {};
// 				if($("#searchWord").val()){
// 					data['writeTitle'] = $("#searchWord").val();
// 					data['blogId'] = blogId;
// 				}
// 				return data;
// 			}
			
// 			// 제목 검색
// 			$("#searchBtn").on("click", function(){
// 				nowData = dataMake();
// 				newBlogList(1);
// 			})
			
// 			// 카테고리 검색
// 			$(".searchCate").each(function(){
// 				$(this).on("click", function(){
// 					let categoryId = $(this).attr("value"); // value는 input아니면 attr로 가져오기!!!!!
// 					nowData = {"categoryId" : categoryId,
// 							   "blogId" : blogId};
// 					newBlogList(1);
// 				})
// 			})
			
			

			
// 			// moment 모달
			//moment 등록버튼을 누르면, 입력된 값을 DB로 보내기
			$("#mmtInsertBtn").on("click", function(){
				let data = new FormData($('#momentFrm')[0]); //아이디가 momentFrm을 가져온다.
				
				data.append("momentWrite", $('#momentWrite').val());
				data.append("addUrl", $('#insertUrl').val());
				data.append("uploadEnd", $('#date').val());
				data.append("publicScope",$('#scope').val());  //컨트롤러에 가져갈 내용을 담는다.
				
				console.log(data.get("uploadfile"));
				
				$.ajax({
					url : '/blog/insertMoment',
					enctype: 'multipart/form-data',
					method : 'POST',
					processData: false,
					contentType: false,
					data : data,
					beforeSend : function(xhr)
		               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		               xhr.setRequestHeader(header, token);
		               },
					dataType:'json',
					success : function(result) {
						alert('성공');
						location.reload();
					},
					error : function(error) {
						console.log(error);
						alert('실패');
					}
				})
			})
			
			// moment 모달 상세보기 모먼트번호 보내기
			$(".mmtpage-content").children("#modalBtn").each(function(){ 
				$(this).on("click", function(){
					console.log(this);
					let mno = $(this).children('#mmtId').val();
					console.log(mno);
	 				$.ajax({
	 					url: '/blog/getMoment',
	 					method: 'post',
	 					contentType: 'application/x-www-form-urlencoded',
	 					data: {"momentId": mno},
	 					beforeSend : function(xhr)
	 	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 	               xhr.setRequestHeader(header, token);
	 	               },
	 					success: function(result){
	 						$('#exampleModal').modal('show');
	 						
	 						console.log(result);
 	 						$(".mt-3").text(result.nickname);
 	 						$("#modalImg").attr("src", "/fileView/"+result.fileRoute);
 	 						$("#addUrl").attr("placeholder",result.addUrl);
 	 						$("#mmtWrite").text(result.momentWrite);
							$("#nickname").text("@"+result.blogId+" · "+result.writeDate.substr(0,10)+" "+result.writeDate.substr(11,5));
							$("#uploadDate").text(result.uploadStart.substr(0,10)+" - "+result.uploadEnd.substr(0,10));
	 					},
	 					error: function (error){
	 						console.log(error);
	 					}
	 				})
				})
				
				
			})
			
			
			// 모달 끝
			
			
// 			// input file에 change 이벤트 부여
			const inputImage = document.getElementById("input-image")
			inputImage.addEventListener("change", function(e) {
				console.log('확인');
			    readImage(e.target);
			})
			// 이미지 미리보기
			function readImage(input) {
			    // 인풋 태그에 파일이 있는 경우
			    if(input.files && input.files[0]) {
			        // 이미지 파일인지 검사 (생략)
			        // FileReader 인스턴스 생성
			        const reader = new FileReader();
			        // 이미지가 로드가 된 경우
			        // reader가 이미지 읽도록 하기
			        reader.readAsDataURL(input.files[0]);
			        reader.onload = e => {
			            const previewImage = document.getElementById("preview-image2");
			            console.log('확인22');
			            previewImage.src = e.target.result;
			            console.log(previewImage.src);
			        }
			        
			    }
			}
			
// 			// 구독
// 			if(subTF == 'T'){ // 만약 값이 있다면
// 				$(".follow").css({'background-color':'#2980b9','color':'white','border-color':'white'});
// 			}else{
// 				$(".follow").css({'background-color':'','color':'#2980b9','border-color':'#2980b9'});
// 			}
			
			
// 			//구독 저장
// 			$(".follow").on("click", function(){
// 				let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
// 				if(id!=""){
// 					if(subTF =='F'){ // 구독하지 않았다면~
// 						$(this).css({'background-color':'#2980b9','color':'white','border-color':'white'});
						
// 						$.ajax({
// 							url: '/blog/addSub',
// 							method: 'post',
// 							contentType: 'application/x-www-form-urlencoded',
// 							data: {"groupId":blogId},
// 							beforeSend : function(xhr)
// 				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
// 				               xhr.setRequestHeader(header, token);
// 				               },
// 							success: function(result){
// 								console.log(result);
// 								alert("구독 완료");
								
// 								subTF = 'T';
// 							},
// 							error: function(error){
// 								console.log(error);
// 							}
// 						})
					
// 				}else{
// 				//구독 취소
// 		 				$(this).css({'background-color':'','color':'#2980b9','border-color':'#2980b9'});
						
// 		 				$.ajax({
// 		 					url: '/blog/delSub',
// 		 					method: 'post',
// 		 					contentType: 'application/x-www-form-urlencoded',
// 							data: {"groupId":blogId, "memberId": id},
// 							beforeSend : function(xhr)
// 				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
// 				               xhr.setRequestHeader(header, token);
// 				               },
// 							success: function(result){
// 								console.log(result);
// 								alert("구독 취소");
								
// 								subTF = 'F';
// 							},
// 							error: function(error){
// 								console.log(error);
// 							}
// 		 				});
// 				}
// 			}else{
// 					alert('로그인이 필요합니다');
// 				}
// 			});
			
			
			
// 			console.log($("document").find('#mmtDelBtn'));
			$("#mmtDelBtn").each(function(){
				console.log(this);
				$(this).on("click", function(){
					let momentId = $('#mmtId').val();
					console.log("momentID: "+momentId);
	 				$.ajax({
	 					url: '/blog/momentDel',
	 					method: 'post',
	 					contentType: 'application/x-www-form-urlencoded',
	 					data: {"momentId":momentId},
	 					beforeSend : function(xhr)
	 	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 	               xhr.setRequestHeader(header, token);
	 	               },
	 					success: function(result){
	 						console.log(result);
	 						alert("삭제완료");
	 						location.reload();
	 					},
	 					error: function(error){
	 						console.log(error);
	 					}
	 				});
				});
			});
			
			
// 			// 페이지 이동
// 			$(".blogList").on("click","#pageNum",function(e){
// 				newBlogList($(e.target).text());
// 			});

		
			
			
// 			// 페이징 만들기 이건 본인 css나 html에 맞춰서 할것
// 			function makePageing(page){
// 				// 가져온 결과값이 0개면 리턴
// 				if(page.totalRecord == 0){
// 					return;
// 				}
// 				// 페이징을 넣을 div, ul 생성
// 				let pagination = $("<div/>").addClass("pagination p1");
// 				let ul = $("<ul/>");
// 				// 페이징 시작부분이 1보다 크면 이전으로 가기 버튼 생성 ex) <<
// 				if(page.startPage > 1){
// 					$(ul).append($("<li/>").html("&laquo;").css("font-size","30px").on("click",function(){newBlogList(page.startPage-page.pageSize)}));
// 				}
// 				// 페이지 생성  ex) 1 2 3 4 5
// 				for(let i = page.startPage; i <= page.endPage; i++){
// 					if(page.page == i){
// 						// 현재페이지와 맞는 페이지는 정해진 css가 입혀서 생성
// 						$(ul).append($("<li/>").text(i).css("background-color","#2ecc71").css("border-radius","100%").css("color","#fff"));
// 					}else {
// 						$(ul).append($("<li/>").text(i).attr("id","pageNum").on("click",function(){newBlogList($(this).text());}));
// 					}
// 				}
// 				// 페이징 끝부분이 페이징 마지막페이지보다 작으면 다음으로 가기 버튼 생성 ex) >>
// 				if(page.endPage < page.lastPage){
// 					$(ul).append($("<li/>").html("&raquo;").css("font-size","30px").on("click",function(){newBlogList(page.startPage+page.pageSize)}));
// 				}
// 				// 완성된 페이징을 넣기
// 				pagination.append(ul);
// 				return pagination;
// 			}
			
			
// 			// 블로그 리스트 만들기
// 			function makeBlogList(item){
// 				console.log("이야!!!!!!!!!!!!!!!!!!!!!!!!!"+item.blogId);
// 				let makeClone = $(listClone).clone();
// 				$(makeClone).find(".blog__item__pic").find("input[type=hidden].thumbnail").val(item.blogWrite);
// 				$(makeClone).find(".blog__item__pic").find("img").attr("src",item.fileRoute);
// 				$(makeClone).find(".blog__item__text").find("i.fa-calendar-o").text(" "+item.writeDate.substr(0,10));
// 				$(makeClone).find(".blog__item__text").find("i.fa-comment-o").text(" "+item.replyCnt);
// 				$(makeClone).find(".blog__item__text").find("i.fa-eye").text(" "+item.cnt);
// 				$(makeClone).find(".blog__item__text").find("a:eq(0)").data("writeid",item.writeId).data("scope",item.publicScope).data("userid",item.blogId).text(item.writeTitle);
// 				$(makeClone).find(".blog__item__text").find("p").text(item.subTitle);
// 				$(makeClone).find(".blog__item__text").find("a.blog__btn").attr("href","/blog/myblog/blogWrite?bno="+item.writeId).text("READ MORE");
			
// 				return makeClone;
// 			}
			
// 			function scopeCheck(obj){
// 				let subTF = "[[${subCount}]]";
// 				let writeId = $(obj).data("writeid");
// 				let blogId = $(obj).data("userid");
// 				let scope = $(obj).data("scope");
// 				let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
			
// 				console.log("공개범위"+subTF);
// 				if(scope == "public" || scope =="partial" && subTF == "T" || blogId == id){  // 구독여부 체크
// 					location.href="/blog/myblog/blogWrite?bno="+writeId+"&userId="+blogId
// 				}else if(scope == "private" && blogId == id){
// 					location.href="/blog/myblog/blogWrite?bno="+writeId+"&userId="+blogId
// 				}else{
// 					alert("일부공개 된 글입니다.");
// 				} 
				
// 			}
			
// 			// 블로그 리스트 가져오기
// 			function newBlogList(page){
// 				let data = nowData;
// 				data['page'] = page;
				
// 		        console.log(data);
// 		        $.ajax({
// 		        	url: '/blog/blogSearch',
// 			      method: 'GET',
// 			      contentType: 'application/x-www-form-urlencoded',
// 			      data: data,
// 			      success: function (result) {
// 					 $(".row").find(".col-sm-6").detach();
// 					 $(".row").find(".pagination").detach();
// 					 $(result["blogList"]).each(function(index, item){
// 						$(".blogList").append(makeBlogList(item));
// 					 })
// 					 // 페이징 새로 생성
// 					 $(".blogList").append(makePageing(result["newPaging"]));
// 			      },
// 			      error: function (error) {
// 			         console.log(error);
// 			         alert('실패');
// 			      }
// 		        })
// 			}
			
//  			// 마이블로그 들어오자마자 1페이지로 보여주기
// 			newBlogList(1);
		</script>


	<script type="text/javascript">
	$('card').each(function () {
        let Image = $(this).attr('data-image');
        let header = $(this).html();
        let template = `
<div class="card-wrap">
  <div class="card">
    <div class="card-bg" style="background-image: url(` + Image + `)"></div>
    <div class="card-info">` + header + `
      <slot name="content"></slot>
    </div>
  </div>
</div>`;
        $(this).replaceWith($(template).on('mousemove', handleMouseMove).on('mouseleave', handleMouseLeave));
    })

    function handleMouseMove(e) {
        let mouseX = e.pageX - $(this).find('.card').offset().left - $(this).find('.card').outerWidth() / 2;
        let mouseY = e.pageY - $(this).find('.card').offset().top - $(this).find('.card').outerHeight() / 2;
        let mousePX = mouseX / $(this).find('.card').outerWidth();
        let mousePY = mouseY / $(this).find('.card').outerHeight();
        let tX = mousePX * -40;
        let tY = mousePY * -40;
        let rX = mousePX * 30;
        let rY = mousePY * -30;
        $(this).find('.card').css('transform', `rotateY(${rX}deg) rotateX(${rY}deg)`);
        $(this).find('.card-bg').css('transform', `translateX(${tX}px) translateY(${tY}px)`);
    };
    function handleMouseLeave() {
        setTimeout(() => {
            let mouseX = 0;
            let mouseY = 0;
            let mousePX = mouseX / $(this).find('.card').outerWidth();
            let mousePY = mouseY / $(this).find('.card').outerHeight();
            let tX = mousePX * -40;
            let tY = mousePY * -40;
            let rX = mousePX * 30;
            let rY = mousePY * -30;
            $(this).find('.card').css('transform', `rotateY(${rX}deg) rotateX(${rY}deg)`);
            $(this).find('.card-bg').css('transform', `translateX(${tX}px) translateY(${tY}px)`);
        }, 1500);
    }
	</script>
		<!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
			<script src="https://kit.fontawesome.com/fef5f4c5da.js" crossorigin="anonymous"></script>
		</th:block>
	</div>

</body>
</html>