<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.shop.mapper.AdminShopMapper">
	<!-- 승인처리하기 -->
	<update id="adminApproProduct" parameterType="com.onsaem.web.shop.service.ProductVO">
		UPDATE PRODUCTS SET
		PRODUCT_STATUS=#{productStatus} WHERE PRODUCT_ID=#{productId}
	</update>
</mapper>