<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.shop.mapper.CartMapper">

	<!-- 상품목록 장바구니 클릭시 장바구니에 담김 -->
	<insert id="cartAdd" parameterType="CartVO">
		INSERT INTO CARTS
		(CART_ID,PRODUCT_ID,CART_AMOUNT,
		CART_OPTION,CART_PRICE,MEMBER_ID)
		VALUES
		('CT'||TO_CHAR(CT_SEQ.NEXTVAL),
		#{productId},#{cartAmount},#{cartOption},
		(SELECT PRICE
		FROM PRODUCTS
		WHERE PRODUCT_ID=#{productId}) ,#{memberId})
	</insert>
	<!-- 장바구니 리스트 -->
	<select id="cartList" resultType="CartVO">
		SELECT * FROM CARTS
		WHERE
		MEMBER_ID=#{memberId}
	</select>

	<!-- 나의 장바구니 리스트 -->
	<select id="myCartList"
		resultType="com.onsaem.web.shop.service.CartVO">
		sELECT P.PRODUCT_ID,P.PRODUCT_NAME,P.DELIVERY_FEE,P.PRICE AS CART_PRICE,
		C.CART_AMOUNT,C.CART_OPTION,M.FILE_ROUTE,M.MEDIA_NAME
		FROM PRODUCTS
		P,CARTS C,MEDIA M
		WHERE P.PRODUCT_ID = C.PRODUCT_ID AND C.PRODUCT_ID=M.GROUP_ID AND
		C.MEMBER_ID = #{memberId} AND M.SUB_GROUP='대표이미지'
		GROUP BY
		P.PRODUCT_ID,P.PRODUCT_NAME,P.DELIVERY_FEE,P.PRICE, C.CART_AMOUNT,
		C.CART_OPTION,M.FILE_ROUTE,M.MEDIA_NAME
	</select>
</mapper>