<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.shop.mapper.OrderMapper">
	<!-- 구매자 정보가져오기 -->
	<select id="userData"
		resultType="com.onsaem.web.member.service.MemberVO">
		SELECT *
		FROM MEMBERS
		WHERE MEMBER_ID=#{memberId}
	</select>

	<!-- 나의 주문목록 가져오기 -->
	<select id="myOrderList"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		M.FILE_ROUTE
		FROM ORDERS O,MEDIA M
		WHERE O.MEMBER_ID=#{memberId} AND M.SUB_GROUP='대표이미지'  AND O.PRODUCT_ID=M.GROUP_ID
		GROUP BY O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		M.FILE_ROUTE
	</select>
</mapper>