<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.shop.mapper.ProductMapper">

	<!-- 상품전체조회 -->
	<select id="proList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT
		P.PRODUCT_ID AS PRODUCT_ID,
		P.PRODUCT_NAME AS
		PRODUCT_NAME,
		P.PRODUCT_DETAIL AS PRODUCT_DETAIL,
		P.PRICE AS PRICE,
		P.STAR AS STAR,
		P.AMOUNT AS AMOUNT,
		P.DELIVERY_FEE AS DELIVERY_FEE,
		P.CATEGORY AS CATEGORY,
		P.PRODUCT_STATUS AS
		PRODUCT_STATUS,
		P.REGISTER_DATE AS REGISTER_DATE,
		P.MEMBER_ID AS
		MEMBER_ID,
		M.FILE_NAME
		AS FILE_NAME,
		M.FILE_ROUTE AS
		FILE_ROUTE,
		M.MEDIA_NAME AS MEDIA_NAME
		FROM
		PRODUCTS P
		JOIN MEDIA M
		ON
		P.PRODUCT_ID=M.GROUP_ID
		WHERE M.SUB_GROUP =
		'대표이미지'
		ORDER BY
		P.REGISTER_DATE DESC
	</select>

	<!-- 상품전체조회(인기순) -->
	<select id="popList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT
		P.PRODUCT_ID AS PRODUCT_ID,
		P.PRODUCT_NAME AS
		PRODUCT_NAME,
		P.PRODUCT_DETAIL AS PRODUCT_DETAIL,
		P.PRICE AS PRICE,
		P.STAR AS STAR,
		P.AMOUNT AS AMOUNT,
		P.DELIVERY_FEE AS DELIVERY_FEE,
		P.CATEGORY AS CATEGORY,
		P.PRODUCT_STATUS AS
		PRODUCT_STATUS,
		P.REGISTER_DATE AS REGISTER_DATE,
		P.MEMBER_ID AS
		MEMBER_ID,
		M.FILE_NAME
		AS FILE_NAME,
		M.FILE_ROUTE AS
		FILE_ROUTE,
		M.MEDIA_NAME AS MEDIA_NAME
		FROM
		PRODUCTS P
		JOIN MEDIA M
		ON
		P.PRODUCT_ID=M.GROUP_ID
		WHERE M.SUB_GROUP =
		'대표이미지'
		ORDER BY P.STAR DESC
	</select>

	<!-- 카테고리별 상품목록 -->
	<select id="proCategory"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT
		P.PRODUCT_ID AS PRODUCT_ID,
		P.PRODUCT_NAME AS
		PRODUCT_NAME,
		P.PRODUCT_DETAIL AS PRODUCT_DETAIL,
		P.PRICE AS PRICE,
		P.STAR AS STAR,
		P.AMOUNT AS AMOUNT,
		P.DELIVERY_FEE AS DELIVERY_FEE,
		P.CATEGORY AS CATEGORY,
		P.PRODUCT_STATUS AS
		PRODUCT_STATUS,
		P.REGISTER_DATE AS REGISTER_DATE,
		P.MEMBER_ID AS
		MEMBER_ID,
		M.FILE_NAME
		AS FILE_NAME,
		M.FILE_ROUTE AS
		FILE_ROUTE,
		M.MEDIA_NAME AS MEDIA_NAME
		FROM
		PRODUCTS P
		JOIN MEDIA M
		ON
		P.PRODUCT_ID=M.GROUP_ID
		WHERE CATEGORY=#{data}
		AND M.SUB_GROUP = '대표이미지'
		ORDER BY P.STAR DESC
	</select>

	<!-- 검색후 품목리스트 -->
	<select id="searchProduct"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT
		P.PRODUCT_ID AS PRODUCT_ID,
		P.PRODUCT_NAME AS
		PRODUCT_NAME,
		P.PRODUCT_DETAIL AS PRODUCT_DETAIL,
		P.PRICE AS PRICE,
		P.STAR AS STAR,
		P.AMOUNT AS AMOUNT,
		P.DELIVERY_FEE AS DELIVERY_FEE,
		P.CATEGORY AS CATEGORY,
		P.PRODUCT_STATUS AS
		PRODUCT_STATUS,
		P.REGISTER_DATE AS REGISTER_DATE,
		P.MEMBER_ID AS
		MEMBER_ID,
		M.FILE_NAME
		AS FILE_NAME,
		M.FILE_ROUTE AS
		FILE_ROUTE,
		M.MEDIA_NAME AS MEDIA_NAME
		FROM
		PRODUCTS P
		JOIN MEDIA M
		ON
		P.PRODUCT_ID=M.GROUP_ID
		WHERE M.SUB_GROUP =
		'대표이미지'
		AND PRODUCT_NAME
		LIKE '%'||#{data}||'%'
		ORDER BY
		P.REGISTER_DATE
		DESC
	</select>

	<!-- 찜담기 -->
	<insert id="likeAdd" parameterType="String">
		INSERT INTO LIKES(LIKE_ID,
		GROUP_ID,
		GROUPS,
		INSERT_DATE,
		MEMBER_ID)
		VALUES
		('LK'||LPAD(LK_SEQ.NEXTVAL,3,0),#{groupId},'쇼핑몰',CURRENT_DATE
		,#{memberId})
	</insert>

	<!-- 찜삭제 -->
	<delete id="likeDel" parameterType="String">
		DELETE FROM LIKES
		WHERE
		GROUP_ID=#{groupId}
		AND MEMBER_ID=#{memberId}
	</delete>

	<!-- 찜리스트 -->
	<select id="likeList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT L.GROUP_ID,P.PRODUCT_NAME,P.PRICE,
		L.GROUPS,
		L.INSERT_DATE,
		L.LIKE_ID,M.FILE_ROUTE,M.MEDIA_NAME
		FROM LIKES L,MEDIA
		M,PRODUCTS P
		WHERE L.MEMBER_ID=#{memberId} AND M.SUB_GROUP='대표이미지' AND
		L.GROUPS='쇼핑몰'
		AND
		M.GROUP_ID=L.GROUP_ID AND L.GROUP_ID=P.PRODUCT_ID
	</select>

	<!-- 상품상세보기 -->
	<select id="selectPro"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT
		P.PRODUCT_ID AS PRODUCT_ID,
		P.PRODUCT_NAME AS
		PRODUCT_NAME,
		P.PRODUCT_DETAIL AS PRODUCT_DETAIL,
		P.PRICE AS PRICE,
		P.STAR AS STAR,
		P.AMOUNT AS AMOUNT,
		P.DELIVERY_FEE AS DELIVERY_FEE,
		P.CATEGORY AS CATEGORY,
		P.PRODUCT_STATUS AS
		PRODUCT_STATUS,
		P.REGISTER_DATE AS REGISTER_DATE,
		P.MEMBER_ID AS
		MEMBER_ID,
		M.FILE_NAME
		AS FILE_NAME,
		M.FILE_ROUTE AS
		FILE_ROUTE,
		M.MEDIA_NAME AS MEDIA_NAME,
		P.PRODUCT_INFO
		FROM PRODUCTS P
		JOIN MEDIA M
		ON
		P.PRODUCT_ID=M.GROUP_ID
		WHERE PRODUCT_ID=#{data}
		AND M.SUB_GROUP
		='대표이미지'
	</select>

	<!-- 추가이미지 -->
	<select id="addImg"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT M.FILE_ROUTE, M.MEDIA_NAME
		FROM MEDIA M JOIN PRODUCTS
		P
		ON p.product_id = M.GROUP_ID
		WHERE M.SUB_GROUP like '추가이미지'||'%'
		AND
		P.PRODUCT_ID=#{data}
	</select>

	<!-- 카테고리 리스트 출력 -->
	<select id="categoryList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT OPTION_CONTENT FROM OPTIONS
		WHERE
		PRODUCT_ID='category'
		GROUP BY OPTION_CONTENT
	</select>


	<!-- 상품등록 -->
	<insert id="addProduct"
		parameterType="com.onsaem.web.shop.service.ProductVO">
		<selectKey resultType="string" keyProperty="productId"
			order="BEFORE">
			SELECT 'PR'||PRODUCT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		PRODUCTS(PRODUCT_ID,
		PRODUCT_NAME,
		PRODUCT_DETAIL,
		PRICE,
		STAR,
		AMOUNT,
		DELIVERY_FEE,
		CATEGORY,
		PRODUCT_STATUS,
		REGISTER_DATE,
		MEMBER_ID,
		PRODUCT_INFO,
		SELLER_ADDR)
		VALUES(#{productId},#{productName},#{productDetail}
		,#{price},0,#{amount},#{deliveryFee},#{category},'승인대기',CURRENT_DATE,#{memberId},#{productInfo},#{sellerAddr})
	</insert>

	<!-- 상품이미지등록 -->
	<insert id="addMedia"
		parameterType="com.onsaem.web.common.service.MediaVO">
		INSERT INTO
		MEDIA(MEDIA_ID,
		GROUP_ID,
		GROUPS,
		SUB_GROUP,
		FILE_NAME,
		FILE_ROUTE,
		MEDIA_NAME)
		VALUES('M'||LPAD(MEDIA_SEQ.NEXTVAL,3,0),#{groupId},'쇼핑몰',null,#{fileName},
		'/shoptemplate/img/product/','M'||LPAD(media_seq.nextval,3,0)||'.jpg')
	</insert>

	<!-- 신고등록 -->
	<insert id="addBan"
		parameterType="com.onsaem.web.common.service.ReportVO">
		INSERT INTO REPORTS
		VALUES('R'||LPAD(REPORT_SEQ.NEXTVAL,3,0),#{fromId},(SELECT MEMBER_ID
		FROM PRODUCTS WHERE PRODUCT_ID=#{groupId}),CURRENT_DATE,#{reason}
		,#{detailReason},'신고대기','쇼핑몰',#{groupId})
	</insert>

	<!-- 친환경이미지 -->
	<select id="natureImg"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT FILE_ROUTE,MEDIA_NAME
		FROM MEDIA
		WHERE SUB_GROUP LIKE
		'친환경이미지'||'%'
		AND
		GROUP_ID=#{data}
	</select>

	<!-- 상품리뷰리스트 -->
	<select id="reviewList"
		resultType="com.onsaem.web.common.service.ReviewVO">
		SELECT * FROM REVIEWS
		WHERE GROUP_ID=#{data}
	</select>

	<!-- 나의찜삭제 -->
	<delete id="delMyLike"
		parameterType="com.onsaem.web.shop.service.ProductVO">
		delete from likes
		where like_id=#{likeId}
	</delete>

	<!-- 상품 옵션 저장 -->
	<insert id="addOption"
		parameterType="com.onsaem.web.shop.service.OptionVO">
		INSERT INTO OPTIONS
		VALUES('OP'||OPTION_SEQ.NEXTVAL,#{productId},#{optionContent},#{topOptionId})
	</insert>

	<!-- 상품옵션리스트 -->
	<select id="optionList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT O.OPTION_CONTENT
		FROM OPTIONS O, PRODUCTS P
		WHERE
		O.PRODUCT_ID=#{data} and p.product_id=o.product_id
	</select>

	<!-- 리뷰작성 -->
	<insert id="addReview"
		parameterType="com.onsaem.web.common.service.ReviewVO">
		INSERT INTO REVIEWS
		VALUES('RV'||LPAD(REVIEW_SEQ.NEXTVAL,3,0),#{reviewContent},#{reviewStar},#{writerId},CURRENT_DATE,#{groupId},'쇼핑몰')
	</insert>
</mapper>