<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.shop.mapper.SellerMapper">
	<!-- 승인대기 -->
	<select id="waitList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='승인대기' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 판매대기 -->
	<select id="waitSell"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='판매대기' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 판매중 -->
	<select id="selling"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='판매중' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 품절 -->
	<select id="endSell"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='품절' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 판매중지 -->
	<select id="stopSell"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='판매중지' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 판매정지 -->
	<select id="banSell"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE PRODUCT_STATUS='판매정지' AND
		MEMBER_ID=#{data}
	</select>

	<!-- 상태별 갯수 -->
	<select id="countList"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT COUNT(CASE WHEN MEMBER_ID=#{data} AND
		PRODUCT_STATUS='판매대기' THEN 1 END) AS WAIT_SELL_PRODUCT,
		COUNT(CASE WHEN
		MEMBER_ID=#{data} AND PRODUCT_STATUS='판매중' THEN 1 END) AS
		SELLING_PRODUCT,
		COUNT(CASE WHEN MEMBER_ID=#{data} AND
		PRODUCT_STATUS='품절'
		THEN 1 END) AS
		END_PRODUCT,
		COUNT(CASE WHEN
		MEMBER_ID=#{data} AND
		PRODUCT_STATUS='승인대기' THEN 1 END) AS
		WAIT_PRODUCT,
		COUNT(CASE WHEN
		MEMBER_ID=#{data} AND
		PRODUCT_STATUS='판매중지' THEN 1 END) AS
		stop_product,
		COUNT(CASE WHEN
		MEMBER_ID=#{data} AND
		PRODUCT_STATUS='판매정지' THEN 1 END) AS
		BAN_PRODUCT
		FROM PRODUCTS
	</select>

	<!-- 전체목록조회 -->
	<select id="arrayProductAll"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT * FROM PRODUCTS WHERE (PRODUCT_ID LIKE
		'%'||#{productId}||'%' OR
		PRODUCT_NAME LIKE '%'||#{productName}||'%')
		AND MEMBER_ID=#{memberId}
	</select>

	<!-- 상품명 조회 -->
	<select id="arrayProductName"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT * FROM PRODUCTS WHERE
		PRODUCT_NAME LIKE
		'%'||#{productName}||'%'
		AND MEMBER_ID=#{memberId}
	</select>

	<!-- 상품번호 조회 -->
	<select id="arrayProductId"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT * FROM PRODUCTS WHERE
		PRODUCT_Id LIKE
		'%'||#{productId}||'%'
		AND MEMBER_ID=#{memberId}
	</select>

	<!-- 판매상태별 조회 -->
	<select id="statusProduct"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE MEMBER_ID=#{data}
		ORDER BY
		PRODUCT_STATUS
	</select>

	<!-- 수량별 조회 -->
	<select id="amountProduct"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE MEMBER_ID=#{data}
		ORDER BY AMOUNT
	</select>

	<!-- 품목별 조회 -->
	<select id="categoryProduct"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT *
		FROM PRODUCTS
		WHERE MEMBER_ID=#{data}
		ORDER BY
		CATEGORY
	</select>

	<!-- 날짜별 조회 -->
	<select id="dateProduct"
		resultType="com.onsaem.web.shop.service.ProductVO">
		SELECT * FROM PRODUCTS WHERE
		to_char(REGISTER_DATE,'yyyy-MM-dd')=#{registerDate}
		AND
		MEMBER_ID=#{memberId}
	</select>

	<!-- 품절처리 -->
	<update id="endProduct"
		parameterType="com.onsaem.web.shop.service.ProductVO">
		UPDATE PRODUCTS
		SET PRODUCT_STATUS='품절', AMOUNT=0
		WHERE
		PRODUCT_ID=#{productId}
	</update>

	<!-- 판매자 주문목록 -->
	<select id="orderList"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{data} AND
		P.PRODUCT_ID=O.PRODUCT_ID
	</select>

	<!-- 주문목록 날짜조회 -->
	<select id="changeDate"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID AND <![CDATA[
		TO_CHAR(O.ORDER_DATE,'YYYY-MM-DD')>=#{startDate} AND
		TO_CHAR(O.ORDER_DATE,'YYYY-MM-DD')<=#{endDate} ]]>
	</select>

	<!-- 오늘 주문조회 -->
	<select id="todaySearch"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID AND
		TO_CHAR(O.ORDER_DATE,'yyyy-MM-dd')=TO_CHAR(CURRENT_DATE,'yyyy-MM-dd')
	</select>

	<!-- 이번주 조회 -->
	<select id="weekSearch"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID AND <![CDATA[
		TO_CHAR(O.ORDER_DATE,'yyyy-MM-dd')>=TO_CHAR( CURRENT_DATE-( (SELECT
		TO_CHAR(CURRENT_DATE,'D') FROM DUAL) -2 )-1, 'yyyy-mm-dd' ) AND
		TO_CHAR(O.ORDER_DATE,'yyyy-MM-dd')<=TO_CHAR( CURRENT_DATE-( (SELECT
		TO_CHAR(CURRENT_DATE,'D') FROM DUAL) -2 )+5, 'yyyy-mm-dd' ) ]]>
	</select>

	<!-- 이번달 조회 -->
	<select id="monthSearch"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID AND <![CDATA[
		TO_CHAR(O.ORDER_DATE,'yyyy-MM-dd')>=TO_CHAR( TRUNC(CURRENT_DATE, 'MM'), 'yyyy-mm-dd' ) AND
		TO_CHAR(O.ORDER_DATE,'yyyy-MM-dd')<=TO_CHAR( LAST_DAY(CURRENT_DATE), 'yyyy-mm-dd' ) ]]>
	</select>

	<!-- 전체주문조회 -->
	<select id="arrayOrderAll"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND (O.RECIV_NAME LIKE
		'%'||#{data}||'%' OR O.MEMBER_ID LIKE '%'||#{data}||'%' OR O.ORDER_ID
		LIKE
		'%'||#{data}||'%' OR O.PRODUCT_ID LIKE '%'||#{data}||'%')
	</select>

	<!-- 구매자명 -->
	<select id="buyName"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND (O.RECIV_NAME LIKE
		'%'||#{data}||'%')
	</select>

	<!-- 구매자ID 조회 -->
	<select id="buyId"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND (O.MEMBER_ID LIKE
		'%'||#{data}||'%')
	</select>

	<!-- 주문번호조회 -->
	<select id="orderNumber"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND (O.ORDER_ID
		LIKE
		'%'||#{data}||'%')
	</select>
	
	<!-- 상품번호조회 -->
	<select id="productId"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND (O.PRODUCT_ID LIKE '%'||#{data}||'%')
	</select>
	
	<!-- 교환/반품 조회 -->
	<select id="orderExchange"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND O.ORDER_STATUS='교환/반품'
	</select>
	
	<!-- 배송완료 조회 -->
	<select id="endShipping"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND O.ORDER_STATUS='배송완료'
	</select>
	
	<!-- 배송중 조회 -->
	<select id="shipping"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND O.ORDER_STATUS='배송중'
	</select>
	
	<!-- 배송중 조회 -->
	<select id="waitOrder"
		resultType="com.onsaem.web.shop.service.OrderVO">
		SELECT O.ORDER_ID,
		O.ORDER_DATE,
		O.ORDER_STATUS,
		O.MEMBER_ID,
		O.RECIV_NAME,
		O.RECIV_ADDR,
		O.RECIV_PHONE,
		O.RECIV_REQ,
		O.DELIVERY_FEE,
		O.DELIVERY_ID,
		O.PRODUCT_ID,OD.DETAIL_AMOUNT,OD.DETAIL_OPTION,P.PRODUCT_NAME FROM
		ORDER_DETAILS OD,ORDERS O,PRODUCTS P WHERE
		OD.ORDER_ID=O.ORDER_ID AND
		P.MEMBER_ID=#{id} AND
		P.PRODUCT_ID=O.PRODUCT_ID
		AND O.ORDER_STATUS='주문대기'
	</select>
</mapper>