<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.course.mapper.BookingMapper">

	<!-- 회원이 한 예약 전체조회 -->
	<select id="getBookingList" resultType="BookingVO"
		parameterType="BookingVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
		SELECT *
		FROM BOOKINDS
		WHERE ORDERER_ID = #{ordererId}
		ORDER BY ORDER_DATE DESC
		<![CDATA[
				)A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
			]]>
	</select>

	<!-- 예약 단건조회 -->
	<select id="getBooking" resultType="BookingVO"
		parameterType="BookingVO">
		SELECT *
		FROM BOOKINDS
		WHERE BOOKING_ID = #{bookingId}
	</select>

	<!-- 예약 갯수 조회 -->
	<select id="BookingCount" resultType="Paging"
		parameterType="BookingVO">
		SELECT COUNT(*) AS TOTALRECORD
		FROM BOOKINDS
		WHERE
		ORDERER_ID = #{ordererId}
	</select>

	<!-- 예약 등록 -->
	<insert id="insertBooking" parameterType="BookingVO">
		INSERT INTO BOOKINDS
		(BOOKING_ID, C_NO, BOOKER_NAME, BOOKER_PHONE, REQUIREMENT,
		TOTAL_PEOPLE, ORDERER_ID, PAYMENT_ID)
		VALUES
		(#{bookingId},#{cNo},#{bookerName},#{bookerPhone},#{requirement},#{totalPeople},#{ordererId},#{paymentId})
	</insert>

	<!-- 예약 수정 -->
	<update id="updateBooking" parameterType="BookingVO"></update>

	<!-- 결제 조회 -->
	<select id="getPayment" resultType="PaymentVO"
		parameterType="PaymentVO">
		SELECT *
		FROM PAYMENTS
		WHERE PAYMENT_ID = #{paymentId}
	</select>

	<!-- 결제 등록 -->
	<insert id="insertPayment" parameterType="PaymentVO">
		INSERT INTO PAYMENTS
		(PAYMENT_ID, PRICE, PAYER_ID,
		PAYMENT_METHOD,GROUP_ID,
		GROUPS,USE_POINT)
		VALUES
		(#{paymentId},#{price},#{payerId},#{paymentMethod},#{groupId},'클래스',#{usePoint})
	</insert>

	<!-- 결제 수정 -->
	<update id="updatePayment" parameterType="PaymentVO"></update>

	<!-- 포인트 부여 -->
	<update id="updatePoint" parameterType="PaymentVO">
		UPDATE MEMBERS
		SET POINT =
		(SELECT POINT FROM MEMBERS WHERE MEMBER_ID = #{payerId}) -
		#{usePoint}
		+ TRUNC(#{price}*0.01)
		WHERE MEMBER_ID = #{payerId}
	</update>

	<!-- 포인트 조회 -->
	<select id="getPoint" resultType="Integer"
		parameterType="String">
		SELECT NVL(POINT,0)
		FROM MEMBERS
		WHERE MEMBER_ID =
		#{MemberId}
	</select>

	<!-- 강사 예약 전체조회 -->
	<select id="getMyClassBookingList" resultType="BookingVO"
		parameterType="BookingVO">
		SELECT *
		FROM BOOKINDS
		WHERE
		C_NO IN (SELECT C_NO FROM
		CLASSES WHERE CLASS_ID IN (SELECT CLASS_ID FROM CLASS_INFO WHERE
		MEMBER_ID = #{memberId}))
		AND ORDER_DATE > (CURRENT_DATE - 30)
		ORDER BY ORDER_DATE DESC
	</select>
</mapper>