<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.course.mapper.ClassQueMapper">
	<!-- 리뷰 전체조회 -->
	<select id="getQuestionList" resultType="QuestionVO"
		parameterType="QuestionVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
		SELECT *
		FROM REVIEWS
		WHERE
		GROUP_ID = #{groupId}
		ORDER BY REVIEW_DATE DESC
			<![CDATA[
				)A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
			]]>
	</select>
	<!-- 리뷰 단건조회 -->
	<select id="getQuestion" resultType="QuestionVO"
		parameterType="QuestionVO">
		SELECT *
		FROM REVIEWS
		WHERE REVIEW_ID = #{queId}
	</select>

	<!-- 리뷰 갯수 -->
	<select id="questionCount" resultType="Paging">
		SELECT COUNT(*) AS
		TOTALRECORD
		FROM REVIEWS
		WHERE GROUP_ID = #{groupId}
	</select>
</mapper>