<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.course.mapper.ClassMapper">
	<select id="getClassList" resultType="ClassInfoVO"
		parameterType="ClassInfoVO">
		SELECT * FROM ( SELECT ROWNUM RN, A.* FROM (
		SELECT  C.CLASS_ID,  C.CLASS_NAME,  C.PRICE,  C.CLASS_TIME, C.CLASS_GROUP, NVL(TRUNC(AVG(R.REVIEW_STAR),1),0) AS star, M.FILE_NAME, M.FILE_ROUTE, M.MEDIA_NAME
		FROM CLASS_INFO C, REVIEWS R, MEDIA M
        where  C.CLASS_ID = R.GROUP_ID(+)
        and C.CLASS_ID = M.GROUP_ID
        and M.SUB_GROUP = '대표이미지'
			<if test="className">
				AND C.CLASS_NAME LIKE '%' || #{className} || '%'
			</if>
			<if test="minPrice">
				<![CDATA[
					AND C.PRICE >= #{minPrice}
				]]>
			</if>
			<if test="maxPrice">
				<![CDATA[
					AND C.PRICE <= #{maxPrice}
				]]>
			</if>
		GROUP BY C.CLASS_ID,  C.CLASS_NAME,  C.PRICE,  C.CLASS_TIME, C.CLASS_GROUP, M.FILE_NAME, M.FILE_ROUTE, M.MEDIA_NAME
		ORDER BY C.CLASS_ID
			<![CDATA[
				)A WHERE ROWNUM <= #{last} ) WHERE RN >= #{first}
			]]>
	</select>
	
	<select id="getClass" resultType="ClassInfoVO"
		parameterType="ClassInfoVO">
		SELECT  C.CLASS_ID,  C.CLASS_NAME,  C.PRICE,  C.CLASS_TIME, C.EXPLANATION, C.CLASS_GROUP, NVL(TRUNC(AVG(R.REVIEW_STAR),1),0) AS STAR, COUNT(R.REVIEW_ID) AS REVIEW_COUNT
		FROM CLASS_INFO C, REVIEWS R
        WHERE  C.CLASS_ID = R.GROUP_ID(+)
        AND C.CLASS_ID = #{classId}
        GROUP BY C.CLASS_ID,  C.CLASS_NAME,  C.PRICE,  C.CLASS_TIME, C.EXPLANATION, C.CLASS_GROUP

	</select>
	
	<select id="classMediaList" resultType="MediaVO" parameterType="ClassInfoVO">
		SELECT *
		from MEDIA
		where GROUP_ID = #{classId}
		ORDER BY SUB_GROUP
	</select>
	
	
	
	<!-- [위는 완성 아래는 미완성] -->
	<select id="popularClassList">
	
	</select>
	


	
	<insert id="classInfoInsert">

	</insert>

	<update id="classInfoUpdate">

	</update>

	<insert id="classInsert">

	</insert>

	<update id="classUpdate">

	</update>

</mapper>