<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/AdminLayout}">

<!-- Css  -->
<th:block layout:fragment="css">
</th:block>

<head>
<meta charset="UTF-8">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header">
			<h1 class="app-content-headerText">Class</h1>
			<button class="app-content-headerButton">Add Product</button>
		</div>
		<div class="app-content-actions">
			<input class="search-bar" placeholder="Search..." type="text">
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
						</svg>
					</button>
					<div class="filter-menu">
						<label>Category</label> <select>
							<option>All Categories</option>
							<option>Furniture</option>
							<option>Decoration</option>
							<option>Kitchen</option>
							<option>Bathroom</option>
						</select> <label>Status</label> <select>
							<option>All Status</option>
							<option>Active</option>
							<option>Disabled</option>
						</select>
						<div class="filter-menu-buttons">
							<button class="filter-button reset">Reset</button>
							<button class="filter-button apply">Apply</button>
						</div>
					</div>
				</div>
				<button class="action-button list active" title="List View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-list">
						<line x1="8" y1="6" x2="21" y2="6" />
						<line x1="8" y1="12" x2="21" y2="12" />
						<line x1="8" y1="18" x2="21" y2="18" />
						<line x1="3" y1="6" x2="3.01" y2="6" />
						<line x1="3" y1="12" x2="3.01" y2="12" />
						<line x1="3" y1="18" x2="3.01" y2="18" />
					</svg>
				</button>
				<button class="action-button grid" title="Grid View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-grid">
						<rect x="3" y="3" width="7" height="7" />
						<rect x="14" y="3" width="7" height="7" />
						<rect x="14" y="14" width="7" height="7" />
						<rect x="3" y="14" width="7" height="7" />
					</svg>
				</button>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell image">
					클래스ID
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell category">
					클래스
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell sales">
					회원ID
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell sales">
					등록일자
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					강의상태
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
			</div>
			<div class="products-row" v-for="(cl,index) in classList">
				<div class="product-cell" v-text="cl.classId"></div>
				<div class="product-cell image">
					<img
						:src="'/fileView/'+cl.media.fileRoute"
						alt="product"> <span v-text="cl.className"></span>
				</div>
				<div class="product-cell" v-text="cl.memberId"></div>
				<div class="product-cell" v-text="cl.classDate"></div>
				<div class="product-cell status-cell">
					<span class="status active" v-text="cl.status"></span>
				</div>
			</div>
		</div>

		<script>
			//csrf설정
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");	

			  //뷰 사용
			 const app = Vue.createApp({
			        data() {
			            return {	
			            	classList:[]
			            };
			        },
			        created() {
			            this.fetchComments();		            
			        },
			        methods: {		
			        	//모달창띄우기
			        	displayModal:function(){	        				        		
			        		const modal = document.querySelector(".modal");
			        		modal.classList.toggle("hidden");
			        		let is=this;		        		
			        	},
			        	//모달창닫기
			        	closeModal:function(){
			        		const modal = document.querySelector(".modal");
			        		modal.classList.toggle("hidden");
			        	},
			        	
			        	//회원정보가져오기
			            fetchComments: function () {
			            	let is=this;
			                $.ajax({
			                    url: '/class/getAdminClassList',
			                    method: 'GET',
			                    success: function (data) {	
			                    	is.classList=data;		                    		                       
			                    }
			                });
			            },
			            apply:function(){		            	
			            	let role;
			            	let status;
			            	//상태구분
			            	if($("#status").val()=='TRUE'){
			            		status='true'
			            	}else if($("#status").val()=='STATUS'){
			            		
			            	}else{
			            		status='false'
			            	}		
			            	//role구분
			            	if($("#role").val()=='ROLE'){
			            		
			            	}else{
			            		role=$("#role").val();
			            	}
			            	let startDate=$("#startDate").val();
			            	let endDate=$("#endDate").val();
			            	let is=this;
			            	 $.ajax({
									type : 'get', 
									url : '/class/getAdminClassList', 										
									beforeSend : function(xhr)
						            {
						            	xhr.setRequestHeader(header, token);
						            },		      
						            data:{"role":role,
						            	"status":status,
						            	"startDate":startDate,
						            	"endDate":endDate,
						            	},
									success : function(result) {
										is.members=result
									},
									error : function(error) { 
									}
								})
			            }
			        }
			    });	    		
				app.mount('#app');	
		</script>
		<script type="text/javascript">
			document.querySelector(".jsFilter").addEventListener(
					"click",
					function() {
						document.querySelector(".filter-menu").classList
								.toggle("active");
					});

			document
					.querySelector(".grid")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.remove("active");
								document.querySelector(".grid").classList
										.add("active");
								document
										.querySelector(".products-area-wrapper").classList
										.add("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("tableView");
							});

			document
					.querySelector(".list")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.add("active");
								document.querySelector(".grid").classList
										.remove("active");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.add("tableView");
							});

			var modeSwitch = document.querySelector('.mode-switch');
			modeSwitch.addEventListener('click', function() {
				document.documentElement.classList.toggle('light');
				modeSwitch.classList.toggle('active');
			});
		</script>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>

</html>