<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<title>shop detail</title>

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/course/courseStyle.css}"
		type="text/css">
</th:block>

<div layout:fragment="content">
	<br>
	<!-- Product Details Section Begin -->
	<section class="product-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large"
								th:src=${mediaList[0].fileRoute}+${mediaList[0].mediaName}
								alt="">
						</div>
						<div class="product__details__pic__slider owl-carousel">
							<img th:each="media : ${mediaList}"
								th:data-imgbigurl=${media.fileRoute}+${media.mediaName}
								th:src=${media.fileRoute}+${media.mediaName} alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3 th:text="${class.className}"></h3>
						<div class="product__details__rating">
							<i class="fa-solid fa-star" th:if="${class.star != 0}"
								th:each="num:${#numbers.sequence(1,class.star)}"
								style="color: #ffe949"></i><i class="fa-solid fa-star-half"
								th:if="${class.star%1 >= 0.5}" style="color: #ffe949"></i> <span>([[${class.reviewCount}]]
								reviews)</span>
						</div>
						<div class="product__details__price">[[${class.price}]]원</div>
						<ul>
							<li><b>소요시간</b> <span>[[${class.classTime}]]시간</span></li>
							<li><b>난이도</b> <span>[[${class.difficulty}]]</span></li>
						</ul>
						<a href="#" class="primary-btn">예약하기</a> <a href="#"
							class="heart-icon"><span class="icon_heart_alt"></span></a>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
							</li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#tabs-2" role="tab" aria-selected="false">Information</a>
							</li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#tabs-3" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
							</li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#tabs-4" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tabs-1" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>Products Infomation</h6>
									<p th:text="${class.explanation}">Vestibulum ac diam sit
										amet quam vehicula elementum sed sit amet dui. Pellentesque in
										ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus
										suscipit tortor eget felis porttitor volutpat. Vestibulum ac
										diam sit amet quam vehicula elementum sed sit amet dui. Donec
										rutrum congue leo eget malesuada. Vivamus suscipit tortor eget
										felis porttitor volutpat. Curabitur arcu erat, accumsan id
										imperdiet et, porttitor at sem. Praesent sapien massa,
										convallis a pellentesque nec, egestas non nisi. Vestibulum ac
										diam sit amet quam vehicula elementum sed sit amet dui.
										Vestibulum ante ipsum primis in faucibus orci luctus et
										ultrices posuere cubilia Curae; Donec velit neque, auctor sit
										amet aliquam vel, ullamcorper sit amet ligula. Proin eget
										tortor risus.</p>
								</div>
							</div>
							<div class="tab-pane" id="tabs-2" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>Products Infomation</h6>
									<p>Vestibulum ac diam sit amet quam vehicula elementum sed
										sit amet dui. Pellentesque in ipsum id orci porta dapibus.
										Proin eget tortor risus. Vivamus suscipit tortor eget felis
										porttitor volutpat. Vestibulum ac diam sit amet quam vehicula
										elementum sed sit amet dui. Donec rutrum congue leo eget
										malesuada. Vivamus suscipit tortor eget felis porttitor
										volutpat. Curabitur arcu erat, accumsan id imperdiet et,
										porttitor at sem. Praesent sapien massa, convallis a
										pellentesque nec, egestas non nisi. Vestibulum ac diam sit
										amet quam vehicula elementum sed sit amet dui. Vestibulum ante
										ipsum primis in faucibus orci luctus et ultrices posuere
										cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
										ullamcorper sit amet ligula. Proin eget tortor risus.</p>
									<p>Praesent sapien massa, convallis a pellentesque nec,
										egestas non nisi. Lorem ipsum dolor sit amet, consectetur
										adipiscing elit. Mauris blandit aliquet elit, eget tincidunt
										nibh pulvinar a. Cras ultricies ligula sed magna dictum porta.
										Cras ultricies ligula sed magna dictum porta. Sed porttitor
										lectus nibh. Mauris blandit aliquet elit, eget tincidunt nibh
										pulvinar a.</p>
								</div>
							</div>
							<div class="tab-pane" id="tabs-3" role="tabpanel">
								<div class="product__details__tab__desc">
										<div class="container">
											<div class="row">

												<div class="col-lg-7 col-12">
													<div class="news-block">
														
														<div class="news-block-info">
															

															<div class="author-comment d-flex mt-3 mb-4">
																<img
																	src="images/avatar/studio-portrait-emotional-happy-funny.jpg"
																	class="img-fluid avatar-image" alt="">

																<div class="author-comment-info ms-3">
																	<h6 class="mb-1">Jack</h6>

																	<p class="mb-0">Kind Heart Charity is the most
																		supportive organization. This is Bootstrap 5 HTML CSS
																		template for everyone. Thank you.</p>

																	<div class="d-flex mt-2">
																		<a href="#" class="author-comment-link me-3">Like</a>

																		<a href="#" class="author-comment-link">Reply</a>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>

											</div>
										</div>
								</div>
							</div>
							<div class="tab-pane" id="tabs-4" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>Products Infomation</h6>
									<p>문의자리</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Details Section End -->



	<!-- JS -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
		<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
		<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>
	</section>
	<!-- Related Product Section End -->
</div>