<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/myClass.css}" type="text/css">
</th:block>

<head>
	<meta charset="UTF-8">
	<style>
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="title">클래스예약조회</div>
		<div class="app-content-actions">
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>search</span> <i class="fa-solid fa-magnifying-glass"></i>
					</button>
					<div class="filter-menu">
						<label>Category</label> <select>
							<option>All Categories</option>
							<option>Furniture</option>
							<option>Decoration</option>
							<option>Kitchen</option>
							<option>Bathroom</option>
						</select> <label>Status</label> <select>
							<option>All Status</option>
							<option>Active</option>
							<option>Disabled</option>
						</select>
						<div class="filter-menu-buttons">
							<button class="filter-button reset">Reset</button>
							<button class="filter-button apply">Apply</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell category">예약번호</div>
				<div class="product-cell image">클래스</div>
				<div class="product-cell">예약일자</div>
				<div class="product-cell price">예약상태</div>
			</div>
			<div class="products-row" th:each="booking : ${bookingList.bList}" th:id="${booking.bookingId}">
				<div class="product-cell" th:text="${booking.bookingId}"></div>
				<div class="product-cell">
					<img th:src="@{'/fileView/'+${booking.bClass.classInfo.mediaList[0].fileRoute}}" alt="product">
					<span th:text="${booking.bClass.classInfo.className}"></span>
				</div>
				<div class="product-cell" th:text="${#dates.format(booking.bClass.startDate, 'MM월dd일 HH:mm')}">

				</div>
				<div class="product-cell">
					<span class="status active" th:text="${booking.status}"></span>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deltailBooking" data-bs-keyboard="false" aria-hidden="true" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered" style="min-width: 1000px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="modal-wrapper">
							<div class="title">예약상세</div>

						</div>
						<button type="button">신고</button>
						<button type="button">후기작성</button>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			let token = $("meta[name='_csrf']").attr("content");
			let header = $("meta[name='_csrf_header']").attr("content");
			let memberId = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:null}]]";

			$('.products-row').each(function () {
				$(this).on('click', function () {
					$.ajax({
						url: '/class/getBooking',
						method: 'GET',
						contentType: 'application/x-www-form-urlencoded',
						data: {
							"bookingId": $(this).attr('id')
						},
						success: function (result) {
							console.log(result);
							console.log(result.bClass);
							$('#deltailBooking').find('.title').siblings().remove();
							let content = $(`<p>예약번호 : ${result.bookingId}</p>
							<p>클래스 이름 : ${result.bclass.classInfo.className}</p>
							<p>시간 : ${result.bclass.startTime}</p>
							<p>인원 : ${result.totalPeople}</p>
							<p>총가격 : ${result.payment.price + result.payment.usePoint}</p>
							<p>예약자 : ${result.bookerName}</p>
							<p>예약자 연락처 : ${result.bookerPhone}</p>
							<p>요구사항 : ${result.requirement}</p>
							<p>예약상태 : ${result.status}</p>`);
							$('#deltailBooking').find('.modal-wrapper').append(content);
							$('#deltailBooking').modal("show");
						},
						error: function (error) {
							console.log(error);
							alert('실패');
						}
					})
				})
			})


			document.querySelector(".jsFilter").addEventListener(
				"click",
				function () {
					document.querySelector(".filter-menu").classList
						.toggle("active");
				});
		</script>

		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>

</html>