
form{
	width: 50%;
	 margin: auto;
}

.form-outline{
	width: 50%;
    margin: 20px auto;
}

.btn-primary{
	width: 50%;
	margin: auto;
	background-color: #5bc1ac;
	border: none
}
.btn-primary:hover{
	background-color: #44525d;
}

.text-center a{
	color: #5bc1ac;
}