<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.chal.mapper.ParticipantMapper">
	
	<!--  참가자 리스트 조회 -->
	<select id="listParticipantAll" resultType="ParticipantVO" parameterType="string">
		SELECT *
		FROM PARTICIPANTS
		WHERE CHAL_ID = #{chalId} 
	</select>
	
	
	
	<!--  참가자가 참가 -->
	<select id="getParticipant" resultType="ParticipantVO" parameterType="ParticipantVO">
		SELECT *
		FROM PARTICIPANTS
		WHERE CHAL_ID = #{chalId}
		AND PARTICIPANT_ID = #{participantId} 
	</select>
	
	<!-- 챌린저스 참가 -->
	<insert id="inputParticipant" parameterType="ParticipantVO">
		<selectKey keyProperty="participateId" resultType="string" order="BEFORE">
			SELECT 'P'||to_char(part_seq.NEXTVAL) FROM DUAL	
		</selectKey>
		INSERT INTO PARTICIPANTS(PARTICIPATE_ID, CHAL_ID, PRIVATE_DONATE, BET_POINT,PARTICIPANT_ID ) 
		VALUES(#{participateId}, #{chalId}, #{privateDonate}, #{betPoint}, #{participantId})		
	</insert>
	
	<!-- 결제 -->
	<insert id="inputPayment" parameterType="PaymentVO">
		<selectKey keyProperty="paymentId" resultType="string" order="BEFORE">
			SELECT 'PAY'||LPAD(pay_seq.NEXTVAL,3,0) FROM DUAL	
		</selectKey>
		INSERT INTO PAYMENTS
		VALUES(#{paymentId}, #{price}, #{payerId}, #{paymentMethod}, current_date, #{groupId}, '챌린저스') 
	</insert>
	
	<!-- 환불테이블에 등록 -->
	<insert id="inputRefund" parameterType="RefundVO">
		<selectKey keyProperty="refundId" resultType="string" order="BEFORE">
			SELECT 'RF'||LPAD(pay_seq.NEXTVAL,3,0) FROM DUAL	
		</selectKey>
		INSERT INTO REFUNDS
		VALUES(#{REFUNDID}, #{PAYMENTID}, #{REFUNDMETHOD}, #{REFUNDACCOUNT}, CURRENT_DATE, #{GROUPID}, '챌린저스' )
	</insert>
	
	
</mapper>