<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onsaem.web.chal.mapper.ParticipantMapper">
	<sql id="condition">
		<if test="team">
			AND TEAM = #{team}
		</if>
	</sql>
	
	<!--  참가자 리스트 조회 -->
	<select id="listParticipantAll" resultType="ParticipantVO" parameterType="ParticipantVO">
		SELECT *
		FROM PARTICIPANTS
		WHERE CHAL_ID = #{chalId}
		<include refid="condition"/> 
	</select>
	
	<!--  참가자 1명 조회 ㅎ -->
	<select id="getParticipant" resultType="ParticipantVO" parameterType="ParticipantVO">
		SELECT *
		FROM PARTICIPANTS
		WHERE CHAL_ID = #{chalId}
		AND PARTICIPANT_ID = #{participantId} 
	</select>
	
	<!-- 해당 챌린지에 참가했는지 확인 필요 -->
	<select id="cntParticipant" parameterType="ParticipantVO" resultType="ParticipantVO">
		SELECT count(*) as cnt
		FROM PARTICIPANTS
		WHERE CHAL_ID = #{chalId}
		AND PARTICIPANT_ID = #{participantId}	
	</select>
	
	<!-- 챌린저스 참가 -->
	<insert id="inputParticipant" parameterType="ParticipantVO">
		<selectKey keyProperty="participateId" resultType="string" order="BEFORE">
			SELECT 'P'||LPAD(part_seq.NEXTVAL,3,0) FROM DUAL	
		</selectKey>
		INSERT INTO PARTICIPANTS(PARTICIPATE_ID, CHAL_ID, PRIVATE_DONATE, BET_POINT,PARTICIPANT_ID , TEAM) 
		VALUES(#{participateId}, #{chalId}, #{privateDonate}, #{betPoint}, #{participantId}, #{team})		
	</insert>
	
	<!-- 결제 -->
	<insert id="inputPayment" parameterType="PaymentVO">
		INSERT INTO PAYMENTS
		VALUES(#{paymentId}, #{price}, #{payerId}, #{paymentMethod}, current_date, #{groupId}, '챌린저스', '결제완료', #{usePoint}) 
	</insert>
	
	<!-- 환불테이블에 등록 -->
	<insert id="inputRefund" parameterType="RefundVO">
		<selectKey keyProperty="refundId" resultType="string" order="BEFORE">
			SELECT 'RF'||LPAD(pay_seq.NEXTVAL,3,0) FROM DUAL	
		</selectKey>
		INSERT INTO REFUNDS
		VALUES(#{refundId}, #{paymentId}, #{refundMethod}, #{refundAccount}, CURRENT_DATE, #{groupId}, '챌린저스' )
	</insert>
	
	<!-- 환불목적 - 결제 테이블 수정 -->
	<update id="updateForRefund" parameterType="PaymentVO">
		UPDATE PAYMENTS
		SET STATUS = '환불'
		WHERE PAYMENT_ID = #{paymentId}
	</update>
	
	<!-- 참가자 테이블에서 삭제 -->
	<delete id="delParticipant" parameterType="ParticipantVO">
		DELETE PARTICIPANTS
		WHERE CHAL_ID = #{chalId}
		AND PARTICIPANT_ID = #{participantId}
	</delete>
	
	<!-- 팀전 챌린저스 종료 후 참가자 테이블 resultPOint 업데이트 하는거 -->
	<update id = "updateResultPoint" parameterType = "ParticipantVO">
		UPDATE PARTICIPANTS
		SET RESULT_POINT = #{resultPoint},
		RESULT = #{result}
		WHERE TEAM = #{team}
		AND CHAL_ID = #{chalId}
	</update>

	<!-- 개인전 챌린저스 포인트 정산 -->
	<update id = "updatePointOne" parameterType = "ParticipantVO">
		UPDATE PARTICIPANTS
		SET RESULT_POINT = #{resultPoint},
		RESULT = #{result}
		WHERE PARTICIPANT_ID = #{participantId}
		AND CHAL_ID = #{chalId}
	</update>	
	
	
</mapper>