<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>ONSAEM</title>
<meta name="viewport"
	content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
<!-- CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{/css/templatemo-kind-heart-charity.css}"
	rel="stylesheet">
<script th:src="@{https://kit.fontawesome.com/6094ba072a.js}" crossorigin="anonymous"></script>
<!-- JAVASCRIPT -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/counter.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/TextPlugin.min.js}"></script>

<!-- content script -->
<th:block layout:fragment="css"></th:block>
<!-- content script -->
<th:block layout:fragment="script"></th:block>
</head>
<body>
	<!-- header fragment 사용 -->
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	<!-- content fragment 사용 -->
	<th:block layout:fragment="content"></th:block>
	<!-- footer fragment 사용 -->
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>