<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">

	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>



<!-- Content -->

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>내 주문목록</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<form action="/addProduct" method="post" enctype="multipart/form-data">
		<h3>상품 등록</h3>
		<label for="productName" id="productName">상품명</label><br> <input
			type="text" id="productName" name="productName">
		<div>
			<label for="productDetail">상품설명</label>
			<textarea rows="5" cols="20" placeholder="상품에 대한 간단한 설명"
				id="productDetail" value="contents" name="productDetail"></textarea>
		</div>
		<p>
			가격: <input id="price" value=5000 name="price"></input>
		</p>
		<p>
			재고량: <input id="amount" value=5000 name="amount"></input>
		</p>
		<p>
			배송비: <input id="deliveryFee" value=5000 name="deliveryFee"></input>
		</p>
		<div>
			<p>
				상품옵션1: <input class="option" value=5000 name="options"></input>
				상품옵션2: <input class="option" value=5000></input> 상품옵션3: <input
					class="option" value=5000></input> 상품옵션4: <input class="option"
					value=5000></input>
			</p>
		</div>
		<label for="category">카테고리</label> <select name="category">
			<option value="">==카테고리 선택==</option>
			<option th:each="category:${categoryList}"
				th:value="${category.category}" th:text="${category.category}"></option>
		</select> <br> <label for="proofEx">친환경인증증서</label> <input type="file"
			id="proofEx" name="uploadFile">

		<form name="mediaFrm">
			<div class="inputfield">
				<img id="preview-image"
					src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
			</div>
			<div class="filebox">
				<label style="width: 20%;"></label> <input class="inputfile"
					placeholder="프로필사진" readonly> <label for="file"
					class="filelabel">사진등록</label> <input type="file" id="file"
					name="uploadfile" multiple="multiple">
			</div>
			<input type="hidden" name="groupId" value="test"> <input
				type="hidden" name="groups" value="테스트용이미지">
			<div class="inputfield">
				<input type="button" value="등록" class="btn sendMedia">
			</div>
		</form>

		<div>
			<label for="contents">상품상세설명</label>
			<textarea rows="5" cols="20" placeholder="상품에 대한 상세한 설명"
				id="contents" name="productInfo"></textarea>
		</div>
		<button type="submit">제출</button>
		<button>취소</button>
	</form>


	<th:block layout:fragment="script">

		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>
</div>
</html>