<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="light"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/AdminLayout}">
<head>
<meta charset="UTF-8">
<title>뷰테스트</title>
<link type="text/css" rel="stylesheet"
	th:href="@{https://cdn.jsdelivr.net/npm/aksfileupload@1.0.0/dist/aksFileUpload.min.css}">
<script th:src="@{/js/fileupload.js}"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style type="text/css">
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}

li {
	list-style-type: none;
}



.slider{
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */

    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
</style>

</head>
<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header">
			<h1 class="app-content-headerText">Products</h1>
			<button class="mode-switch" title="Switch Theme">
				<svg class="moon" fill="none" stroke="currentColor"
					stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
			</button>
			<button class="app-content-headerButton">Add Product</button>
		</div>
		<div class="app-content-actions">
			<input class="search-bar" placeholder="Search..." type="text">
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg>
					</button>
					<div class="filter-menu">
						<label>Category</label> <select>
							<option>All Categories</option>
							<option>Furniture</option>
							<option>Decoration</option>
							<option>Kitchen</option>
							<option>Bathroom</option>
						</select> <label>Status</label> <select>
							<option>All Status</option>
							<option>Active</option>
							<option>Disabled</option>
						</select>
						<div class="filter-menu-buttons">
							<button class="filter-button reset">Reset</button>
							<button class="filter-button apply">Apply</button>
						</div>
					</div>
				</div>
				<button class="action-button list active" title="List View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-list">
						<line x1="8" y1="6" x2="21" y2="6" />
						<line x1="8" y1="12" x2="21" y2="12" />
						<line x1="8" y1="18" x2="21" y2="18" />
						<line x1="3" y1="6" x2="3.01" y2="6" />
						<line x1="3" y1="12" x2="3.01" y2="12" />
						<line x1="3" y1="18" x2="3.01" y2="18" /></svg>
				</button>
				<button class="action-button grid" title="Grid View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-grid">
						<rect x="3" y="3" width="7" height="7" />
						<rect x="14" y="3" width="7" height="7" />
						<rect x="14" y="14" width="7" height="7" />
						<rect x="3" y="14" width="7" height="7" /></svg>
				</button>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell image">
					Items
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell category">
					Category
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					Status
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell sales">
					요청날짜
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell stock">
					요청인
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell price">
					Price
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
			</div>

			<div class="products-row" v-for="product in products">

				<button class="cell-more-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-more-vertical">
						<circle cx="12" cy="12" r="1" />
						<circle cx="12" cy="5" r="1" />
						<circle cx="12" cy="19" r="1" /></svg>
				</button>
				<div class="product-cell image">
					<img :src="'/fileView/'+product.fileRoute" alt="product"> <span
						@click="displayModal(product)">{{product.productName}}</span>
				</div>
				<div class="product-cell category">
					<span class="cell-label">Category:</span>{{product.category}}
				</div>
				<div class="product-cell status-cell">
					<span class="cell-label">Status:</span> <span class="status active">
						{{product.productStatus}} </span>
				</div>
				<div class="product-cell sales">
					<span class="cell-label">요청날짜:</span>{{product.registerDate}}
				</div>
				<div class="product-cell stock">
					<span class="cell-label">Stock:</span>{{product.memberId}}
				</div>
				<div class="product-cell price">
					<span class="cell-label">Price:</span>{{product.price}}
				</div>
			</div>




			<!-- 상품승인모달창(상세보기) -->
			<div class="modal hidden">
				<div class="modal__background"></div>
				<div class="modal__content" text-align:center>
					승인요청일 {{selectProduct.registerDate}} 승인요청인아이디
					{{selectProduct.memberId}}


					<div class="slider">
						<input type="radio" name="slide" id="slide1" checked> <input
							type="radio" name="slide" id="slide2"> <input
							type="radio" name="slide" id="slide3"> <input
							type="radio" name="slide" id="slide4">
						<ul id="imgholder" class="imgs">
							<li><img :src="'/fileView/'+selectProduct.fileRoute"></li>
							<li v-for="add in addImg"><img :src="'/fileView/'+add.fileRoute"></li>
							<li v-for="nat in nature"><img :src="'/fileView/'+nat.fileRoute"></li>							
						</ul>
						<div class="bullets">
							<label for="slide1">&nbsp;</label> <label for="slide2">&nbsp;</label>
							<label for="slide3">&nbsp;</label> <label for="slide4">&nbsp;</label>
						</div>
					</div>


					<table style="text-align: center">
						<thead>
							<tr>
								<th>대표이미지</th>
								<th>추가이미지</th>
								<th>친환경인증증서</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><img alt="" :src="'/fileView/'+selectProduct.fileRoute"
									style="width: 200px; height: 200px;"></td>
								<td v-for="add in addImg"><img alt=""
									:src="'/fileView/'+add.fileRoute"
									style="width: 200px; height: 200px;"></td>
								<td v-for="nat in nature"><img alt=""
									:src="'/fileView/'+nat.fileRoute"
									style="width: 200px; height: 200px;"></td>
							</tr>
						</tbody>
					</table>
					<ul style="list-style-type: none;">
						<li>상품명 {{selectProduct.productName}}</li>
						<li>상품상세설명 {{selectProduct.productDetail}}</li>
						<li>가격 {{selectProduct.price}}</li>
						<li>카테고리 {{selectProduct.category}}</li>
					</ul>
					<button @click="approProduct(selectProduct.productId)">승인</button>
					&nbsp&nbsp&nbsp&nbsp
					<button class="closeBtn" @click="closeModal()">닫기</button>
				</div>
			</div>
		</div>



		<script>
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");			 
		
		 
		 //뷰 사용
		 const app = Vue.createApp({
		        data() {
		            return {
		                products:[],
		                selectProduct:[],
		            	addImg:[],
		            	nature:[]
		            };
		        },
		        created() {
		            this.fetchComments();
		            
		        },
		        methods: {
		        	//승인하기
		        	approProduct:function(data){
		        		if (!confirm("승인처리 하시겠습니까?")) {
					        // 취소(아니오) 버튼 클릭 시 이벤트
					    } else {
					        // 확인(예) 버튼 클릭 시 이벤트
					         $.ajax({
									type : 'post', 
									url : '/admin/approProduct', 										
									beforeSend : function(xhr)
						            {
						            	xhr.setRequestHeader(header, token);
						            },		      
						            data:{"productId":data},
									success : function(result) {									
										if(result=='성공'){
											alert("승인처리 되었습니다.")
										}
										location.reload();
									},
									error : function(error) { 
										console.log(error)
									}
								})
							 }
		        		
		        	},
		        	//모달창띄우기
		        	displayModal:function(data){		        		
		        		this.selectProduct=data;		        		
		        		const modal = document.querySelector(".modal");
		        		modal.classList.toggle("hidden");
		        		let is=this;
		        		//추가이미지 가져오기
		        		$.ajax({
								type : 'post', 
								url : '/admin/addImg', 										
								beforeSend : function(xhr)
					            {
					            	xhr.setRequestHeader(header, token);
					            },		      
					            data:{"data":data.productId},
								success : function(result) {									
									is.addImg=result									
								},
								error : function(error) { 
									console.log(error)
								}
							})
						//친환경이미지 가져오기						
		        		$.ajax({
								type : 'post', 
								url : '/admin/natureImg', 										
								beforeSend : function(xhr)
					            {
					            	xhr.setRequestHeader(header, token);
					            },		      
					            data:{"data":data.productId},
								success : function(result) {									
									is.nature=result																	
								},
								error : function(error) { 
									console.log(error)
								}
							})
		        	},
		        	//모달창닫기
		        	closeModal:function(){
		        		const modal = document.querySelector(".modal");
		        		modal.classList.toggle("hidden");
		        	},
		        	//상품목록가져오기
		            fetchComments: function () {
		            	let is=this;
		                $.ajax({
		                    url: '/shop/approProduct',
		                    method: 'GET',
		                    success: function (data) {		                    	
		                    	is.products=data;		                    		                       
		                    }
		                });
		            },		            
		        }
		    });	    		
			app.mount('#app');	     
			
			 
		    </script>

		<script type="text/javascript">
			document.querySelector(".jsFilter").addEventListener(
					"click",
					function() {
						document.querySelector(".filter-menu").classList
								.toggle("active");
					});

			document
					.querySelector(".grid")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.remove("active");
								document.querySelector(".grid").classList
										.add("active");
								document
										.querySelector(".products-area-wrapper").classList
										.add("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("tableView");
							});

			document
					.querySelector(".list")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.add("active");
								document.querySelector(".grid").classList
										.remove("active");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.add("tableView");
							});

			var modeSwitch = document.querySelector('.mode-switch');
			modeSwitch.addEventListener('click', function() {
				document.documentElement.classList.toggle('light');
				modeSwitch.classList.toggle('active');
			});
		</script>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>



</body>
</html>