<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/AdminLayout}">
<head>
<meta charset="UTF-8">
<title>뷰테스트</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style type="text/css">
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
	width: 20%;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}
</style>
</head>
<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header" >
			<h1 class="app-content-headerText">Products</h1>
			<button class="mode-switch" title="Switch Theme">
				<svg class="moon" fill="none" stroke="currentColor"
					stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
			</button>
			<button class="app-content-headerButton">Add Product</button>
		</div>
		<div class="app-content-actions">
			<input class="search-bar" placeholder="Search..." type="text">
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg>
					</button>
					<div class="filter-menu">
						<label>Category</label> <select>
							<option>All Categories</option>
							<option>Furniture</option>
							<option>Decoration</option>
							<option>Kitchen</option>
							<option>Bathroom</option>
						</select> <label>Status</label> <select>
							<option>All Status</option>
							<option>Active</option>
							<option>Disabled</option>
						</select>
						<div class="filter-menu-buttons">
							<button class="filter-button reset">Reset</button>
							<button class="filter-button apply">Apply</button>
						</div>
					</div>
				</div>
				<button class="action-button list active" title="List View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-list">
						<line x1="8" y1="6" x2="21" y2="6" />
						<line x1="8" y1="12" x2="21" y2="12" />
						<line x1="8" y1="18" x2="21" y2="18" />
						<line x1="3" y1="6" x2="3.01" y2="6" />
						<line x1="3" y1="12" x2="3.01" y2="12" />
						<line x1="3" y1="18" x2="3.01" y2="18" /></svg>
				</button>
				<button class="action-button grid" title="Grid View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-grid">
						<rect x="3" y="3" width="7" height="7" />
						<rect x="14" y="3" width="7" height="7" />
						<rect x="14" y="14" width="7" height="7" />
						<rect x="3" y="14" width="7" height="7" /></svg>
				</button>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell image">
					Items
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell category">
					Category
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					Status
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell sales">
					요청날짜
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell stock">
					요청인
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell price">
					Price
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
			</div>
			<div >
				<div class="products-row" v-for="product in products">

					<button class="cell-more-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-more-vertical">
						<circle cx="12" cy="12" r="1" />
						<circle cx="12" cy="5" r="1" />
						<circle cx="12" cy="19" r="1" /></svg>
					</button>
					<div class="product-cell image">
						<img :src="'/fileView/'+product.fileRoute" alt="product"> <span
							@click="displayModal()">{{product.productName}}</span>
					</div>
					<div class="product-cell category">
						<span class="cell-label">Category:</span>{{product.category}}
					</div>
					<div class="product-cell status-cell">
						<span class="cell-label">Status:</span> <span
							class="status active"> {{product.productStatus}} </span>
					</div>
					<div class="product-cell sales">
						<span class="cell-label">요청날짜:</span>{{product.registerDate}}
					</div>
					<div class="product-cell stock">
						<span class="cell-label">Stock:</span>{{product.memberId}}
					</div>
					<div class="product-cell price">
						<span class="cell-label">Price:</span>{{product.price}}
					</div>
				</div>
			</div>
		</div>


		<!-- 상품신고모당창 -->
		<div class="modal hidden">
			<div class="modal__background"></div>
			<div class="modal__content">
				<h3>신고하기</h3>
				<div class="modalText">
					<p>사유선택</p>
					<input type="checkbox" name="reason" id="ban1"
						th:onclick="checkOnlyone(this)" value="욕설 및 비하 발언">욕설 및 비하
					발언 <span id="1"></span><br> <input type="checkbox"
						value="친환경 물품이 아님" id="ban2" name="reason"
						th:onclick="checkOnlyone(this)"> 친환경 물품이 아님<span id="2"></span>

					<br> <input type="checkbox" value="불건전한 게시물 등록" name="reason"
						id="ban3" th:onclick="checkOnlyone(this)"> 불건전한 게시물 등록 <span
						id="3"></span><br> <input type="checkbox" value="기타"
						name="reason" id="ban4" th:onclick="checkOnlyone(this)">
					기타 <span id="4"></span> <br>

					<button th:onclick="banSubmit()">신고하기</button>
					<button class="closeBtn" @click="displayModal()">닫기</button>
				</div>
			</div>
		</div>

		<script type="module">
		
		    methods: {
		    	
		    }
			

		</script>

		<script>
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");			

		 //상품목록가져오기
		 const app = Vue.createApp({
		        data() {
		            return {
		                products:[]		                
		            };
		        },
		        created() {
		            this.fetchComments();
		           		         
		        },
		        methods: {
		        	
		        	displayModal:function(){
		        		const modal = document.querySelector(".modal");
		        		modal.classList.toggle("hidden");
		        	},
		            fetchComments: function () {
		            	let is=this;
		                $.ajax({
		                    url: '/shop/approProduct',
		                    method: 'GET',
		                    success: function (data) {		                    	
		                    	is.products=data;		                    		                       
		                    }
		                });
		            },
			        
		        }
		    });	    		
			app.mount('#app');	     
			
			 
		    </script>

		<script type="text/javascript">
			document.querySelector(".jsFilter").addEventListener(
					"click",
					function() {
						document.querySelector(".filter-menu").classList
								.toggle("active");
					});

			document
					.querySelector(".grid")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.remove("active");
								document.querySelector(".grid").classList
										.add("active");
								document
										.querySelector(".products-area-wrapper").classList
										.add("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("tableView");
							});

			document
					.querySelector(".list")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.add("active");
								document.querySelector(".grid").classList
										.remove("active");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.add("tableView");
							});

			var modeSwitch = document.querySelector('.mode-switch');
			modeSwitch.addEventListener('click', function() {
				document.documentElement.classList.toggle('light');
				modeSwitch.classList.toggle('active');
			});
		</script>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>



</body>
</html>