<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">

	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>



<!-- Content -->

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>내 주문목록</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shoping Cart Section Begin -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="shoping__cart__table">
						<table>
							<thead>
								<tr>
									<th><button>전체</button></th>
									<th><button>배송중</button></th>
									<th><button>배송완료</button></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order:${myOrderList}">
									<td>주문일자 [[${order.orderDate}]]<br> <img
										id="preview-image" th:src="'/fileView/'+${order.fileRoute}">
									</td>
									<td>배송상태<br>
									<br>상품명 [[${order.productName}]] 옵션
										[[${order.detailOption}]] <br>
									<br>상품가격 [[${order.price}]]원 수량 [[${order.detailAmount}]]
									</td>
									<td>
										<button>배송조회</button>
										<br>
									<br>
										<button>교환/반품</button>
										<br>
									<br>
										<button>리뷰작성</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
		</div>
		<!-- JS -->
		<th:block layout:fragment="script">

			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
	</section>

	<script type="text/javascript">		
	</script>
	
</div>