<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">

	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<head>
<style type="text/css">
/* 교환환불모달창 */
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
	width: 20%;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}

/* 리뷰모달창 */
.black-bg {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
	padding: 30px;
}

.white-bg {
	background: white;
	border-radius: 5px;
	padding: 30px;
}

/* 별점 */
#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio] {
	display: none; /* 라디오박스 감춤 */
}

#myform label {
	font-size: 3em; /* 이모지 크기 */
	color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform label:hover {
	text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}

#myform label:hover ~ label {
	text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset {
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	direction: rtl; /* 이모지 순서 반전 */
	border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
</style>
</head>

<!-- Content -->

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>내 주문목록</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shoping Cart Section Begin -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="shoping__cart__table">
						<table>
							<thead>
								<tr>
									<th><button onclick="location.href='/myOrder'">전체</button></th>
									<th><button
											onclick="location.href='/myOrder?orderStatus=배송중'">배송중</button></th>
									<th><button
											onclick="location.href='/myOrder?orderStatus=배송완료'">배송완료</button></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order:${myOrderList}">
									<td>주문일자 [[${order.orderDate}]]<br> <img
										id="preview-image" th:src="'/fileView/'+${order.fileRoute}">
									</td>
									<td>배송상태 [[${order.orderStatus}]]<br> <br>상품명
										[[${order.productName}]] 옵션 [[${order.detailOption}]] <br>
										<br>상품가격 [[${order.price}]]원 수량 [[${order.detailAmount}]]
									</td>
									<td>
										<form action="http://info.sweettracker.co.kr/tracking/5"
											method="post">
											<input type="hidden" class="form-control" id="t_key"
												name="t_key" placeholder="wHiuV3rGs7cAmlcFLjZXiw"
												value="wHiuV3rGs7cAmlcFLjZXiw"> <input type="hidden"
												class="form-control" name="t_code" id="t_code"
												placeholder="04" value="04"> <input type="hidden"
												class="form-control" name="t_invoice" id="t_invoice"
												placeholder="운송장 번호" value="570110926163">
											<button type="submit" class="btn btn-default"
												style="all: unset; background-color: mediumslateblue; color: white; padding: 5px 25px; border-radius: 10px; cursor: pointer;">배송조회</button>
										</form> <br> <br> <span
										th:if="${order.orderStatus=='배송완료'}">
											<button th:onclick="displayModal([[${order}]])">교환/반품</button>
											<br> <br>
											<button class="modals">리뷰작성</button> <input type="hidden"
											th:value="${order.productId}" id="productId">
									</span>
									</td>
									<!-- 리뷰 모달창 -->
									<td>
										<div class="black-bg">
											<div class="white-bg">
												<h4>리뷰작성</h4>
												<br> 별점<br>
												<form name="myform" id="myform" method="post"
													action="./save">
													<fieldset>
														<label for="rate1">⭐</label><input type="radio"
															name="rating" value="5" id="rate1"> <label
															for="rate2">⭐</label><input type="radio" name="rating"
															value="4" id="rate2"> <label for="rate3">⭐</label><input
															type="radio" name="rating" value="3" id="rate3">
														<label for="rate4">⭐</label><input type="radio"
															name="rating" value="2" id="rate4"> <label
															for="rate5">⭐</label><input type="radio" name="rating"
															value="1" id="rate5">

													</fieldset>
												</form>
												상세리뷰<br>
												<textarea rows="10" cols="40" id="reviewContent"></textarea>
												<div>
													<button class="btn btn-danger"
														th:onclick="submitReview([[${order.productId}]])">작성</button>
													<button class="btn btn-danger" id="close">닫기</button>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>




			<!-- 교환/환불 모달창 -->
			<div class="modal hidden">
				<div class="modal__background"></div>
				<div class="modal__content">
					<h3>교환/반품</h3>
					<div class="modalText">
						<p>사유선택</p>
						<input type="checkbox" name="reason" id="ban"
							th:onclick="checkOnlyone(this)" value="단순 변심">단순 변심 <span
							id="1"></span><br> <input type="checkbox" value="배송문제"
							id="ban" name="reason" th:onclick="checkOnlyone(this)">
						배송문제<span id="2"></span> <br> <input type="checkbox"
							value="상품문제" name="reason" id="ban"
							th:onclick="checkOnlyone(this)"> 상품문제 <span id="3"></span><br>
						<input type="checkbox" value="기타" name="reason" id="ban"
							th:onclick="checkOnlyone(this)"> 기타 <span id="4"></span>
						<br> <br>
						<p>해결방법</p>
						<input type="checkbox" name="method" value="교환">교환 <input
							type="checkbox" name="method" value="반품">반품 <br> <br>
						<br>
						<p>
							회수시 요청사항<br>
							<textarea rows="" cols="" id="please"></textarea>
							<br>
							<button th:onclick="submitBtn()">신청하기</button>
							<button class="closeBtn">닫기</button>
					</div>
				</div>
			</div>

			<script type="text/javascript">
			//csrf설정
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");
			
			 //리뷰 작성여부 확인(수정해야함)
			 window.onload=function(){
				 $.ajax({
						type : 'get', 
						url : '/shop/myReviewList', 				
						headers : { 
							"Content-Type" : "application/json"					
						},
						beforeSend : function(xhr)
			               {   
			               xhr.setRequestHeader(header, token);
			               },						
						success : function(result) {					
							console.log(result);
						},
						error : function(error) { 
							console.log(error)
						}
					}) 
			 }
			 
			//교환/환불 신청
			function submitBtn(){							
				let reasonLength = document.getElementsByName("reason").length;  
				let orderStatus;				
   				for (var i=0; i<reasonLength; i++) {
        			if (document.getElementsByName("reason")[i].checked == true) {
            			console.log(document.getElementsByName("reason")[i].value); 
            			document.getElementsByName("reason")[i].value
        			}
				}
   				let methodLength = document.getElementsByName("method").length; 
   				for (var i=0; i<methodLength; i++) {
        			if (document.getElementsByName("method")[i].checked == true) {
            			console.log(document.getElementsByName("method")[i].value); 
            			 orderStatus=document.getElementsByName("method")[i].value
        			}
				}
   				let subRecivReq=document.getElementById("detailReason").value;    			
   				let recivReq=$("#please").val();
   				console.log(modalData.orderId)
   		 		let orderId=modalData.orderId;
   				
   				$.ajax({
				type : 'post', 
				url : '/shop/orderExchange', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "orderStatus" : orderStatus,
				      "recivReq" : recivReq,
				      "subRecivReq" : subRecivReq,
				      "orderId" : orderId,
				    }),
				success : function(result) {					
					alert("교환신청하였습니다.")
					location.reload();
				},
				error : function(error) { 
					console.log(error)
				}
			}) 
			}
			 
			//배송조회버튼
			function shippingSearch(){
				$.ajax({
					type : 'post', 
					url : "http://info.sweettracker.co.kr/tracking/5", 				
					headers : { 
						"Content-Type" : "application/json"					
					},
					success : function(result) {					
						console.log(result);				
					},
					error : function(error) { 
						console.log(error)
					}
				})
			}					
			
			//리뷰제출
			function submitReview(data){
				let groupId=data;				
				let reviewContent=$('#reviewContent').val();
				let reviewStar=$('input[name="rating"]:checked').val();
				$.ajax({
				    type : 'post',           
				    url : '/addReview',          	   
				    headers : {              
				      "Content-Type" : "application/json"				      
				    },
				    beforeSend : function(xhr)
		            {
		            	xhr.setRequestHeader(header, token);
		            },
				    data : JSON.stringify({  
				      "groupId" : groupId,
				      "reviewContent" : reviewContent,
				      "reviewStar" : reviewStar
				    }),
				    success : function(result) { 
				        alert("리뷰가 작성 및 10포인트 적립되었습니다.")
				    },
				    error : function(request, status, error) { 
				        console.log(error)
				    }
				})
			}
			
			
			//리뷰 모달창 생성
			  $(".modals").click(function () {
			        $(".black-bg").fadeIn();
			      });  
			      $(".btn-danger").click(function () {
			        $(".black-bg").fadeOut(); 
			      });
			
				
			
				//교환/환불 모달창 생성
				const openButton = document.querySelector(".openBtn");
				const modal = document.querySelector(".modal");
				const closeButton = modal.querySelector(".closeBtn");
				const modalBackground = modal
						.querySelector(".modal__background");
				
				let modalData;
				function displayModal(data) {
					modalData=data;				
					modal.classList.toggle("hidden");
				}

				
				closeButton.addEventListener("click", displayModal)
				modalBackground.addEventListener("click", displayModal);
				
				
				//체크박스선택시 자세내용적기 창 생성
				function checkOnlyone(element){
					const reason=document.getElementsByName("reason");
					reason.forEach((cb) => 
					{cb.checked = false;	
					let span=cb.nextElementSibling;
					span.innerHTML="";	
					})						
					element.checked = true;
					let span=element.nextElementSibling;
					span.innerHTML="<br><textarea name='text' placeholder='상세설명' id='detailReason'></textarea>";										
				}
				
				//주소API
				function sample6_execDaumPostcode() {
					new daum.Postcode(
							{
								oncomplete : function(data) {
									// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

									// 각 주소의 노출 규칙에 따라 주소를 조합한다.
									// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
									var addr = ''; // 주소 변수
									var extraAddr = ''; // 참고항목 변수

									//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
									if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
										addr = data.roadAddress;
									} else { // 사용자가 지번 주소를 선택했을 경우(J)
										addr = data.jibunAddress;
									}

									// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
									if (data.userSelectedType === 'R') {
										// 법정동명이 있을 경우 추가한다. (법정리는 제외)
										// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
										if (data.bname !== ''
												&& /[동|로|가]$/g.test(data.bname)) {
											extraAddr += data.bname;
										}
										// 건물명이 있고, 공동주택일 경우 추가한다.
										if (data.buildingName !== ''
												&& data.apartment === 'Y') {
											extraAddr += (extraAddr !== '' ? ', '
													+ data.buildingName
													: data.buildingName);
										}
										// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
										if (extraAddr !== '') {
											extraAddr = ' (' + extraAddr + ')';
										}
										// 조합된 참고항목을 해당 필드에 넣는다.
										document.getElementById("sample6_extraAddress").value = extraAddr;

									} else {
										document.getElementById("sample6_extraAddress").value = '';
									}

									// 우편번호와 주소 정보를 해당 필드에 넣는다.
									document.getElementById('sample6_postcode').value = data.zonecode;
									document.getElementById("sample6_address").value = addr;
									// 커서를 상세주소 필드로 이동한다.
									document.getElementById("sample6_detailAddress")
											.focus();
								}
							}).open();
				};
			</script>
			<script
				src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		</div>
		<!-- JS -->
		<th:block layout:fragment="script">

			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
	</section>



</div>