<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">

	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<head>
<style type="text/css">
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
	width: 20%;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}
</style>
</head>

<!-- Content -->

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>내 주문목록</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shoping Cart Section Begin -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="shoping__cart__table">
						<table>
							<thead>
								<tr>
									<th><button>전체</button></th>
									<th><button>배송중</button></th>
									<th><button>배송완료</button></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order:${myOrderList}">
									<td>주문일자 [[${order.orderDate}]]<br> <img
										id="preview-image" th:src="'/fileView/'+${order.fileRoute}">
									</td>
									<td>배송상태<br> <br>상품명 [[${order.productName}]] 옵션
										[[${order.detailOption}]] <br> <br>상품가격
										[[${order.price}]]원 수량 [[${order.detailAmount}]]
									</td>
									<td>
										<button>배송조회</button> <br> <br>
										<button class="openBtn">교환/반품</button> <br> <br>
										<button class="openReviwBtn">리뷰작성</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- 교환/환불 모달창 -->
			<div class="modal hidden">
				<div class="modal__background"></div>
				<div class="modal__content">
					<h3>교환/반품</h3>
					<div class="modalText">
						<p>사유선택</p>
						<input type="checkbox" name="reason" id="ban1"
							th:onclick="checkOnlyone(this)" value="단순 변심">단순 변심 <span
							id="1"></span><br> <input type="checkbox" value="배송문제"
							id="ban2" name="reason" th:onclick="checkOnlyone(this)">
						배송문제<span id="2"></span> <br> <input type="checkbox"
							value="상품문제" name="reason" id="ban3"
							th:onclick="checkOnlyone(this)"> 상품문제 <span id="3"></span><br>
						<input type="checkbox" value="기타" name="reason" id="ban4"
							th:onclick="checkOnlyone(this)"> 기타 <span id="4"></span>
						<br> <br>
						<p>해결방법</p>
						<input type="checkbox">교환 <input type="checkbox">반품
						<br> <br> <br>
						<p>회수정보</p>
						<div>
							<div class="inputfield">
								<label>반송주소<span class="request">*</span></label> <input
									type="text" id="sample6_postcode" class="input"
									name="sellerAddr"><input type="button"
									onclick="sample6_execDaumPostcode()" value="주소검색"
									class="checkBtn">

							</div>
							<br>
							<div class="inputfield">
								<label>주소<span class="request">*</span></label> <input
									type="text" id="sample6_address" class="input"
									name="sellerAddr">
							</div>
							<br>
							<div class="inputfield">
								<label>상세주소</label> <input type="text"
									id="sample6_detailAddress" class="input" name="sellerAddr">
							</div>
						</div>
						<br>

						<p>
							회수시 요청사항<br>
							<textarea rows="" cols=""></textarea>
							<br>
							<button th:onclick="submitBtn()">신청하기</button>
							<button class="closeBtn">닫기</button>
					</div>
				</div>
			</div>
			
			<!-- 교환/환불 모달창 -->
			<div class="modal hidden">
				<div class="modal__background"></div>
				<div class="modal__content">
					<h3>교환/반품</h3>
					<div class="modalText">
						<p>사유선택</p>
						<input type="checkbox" name="reason" id="ban1"
							th:onclick="checkOnlyone(this)" value="단순 변심">단순 변심 <span
							id="1"></span><br> <input type="checkbox" value="배송문제"
							id="ban2" name="reason" th:onclick="checkOnlyone(this)">
						배송문제<span id="2"></span> <br> <input type="checkbox"
							value="상품문제" name="reason" id="ban3"
							th:onclick="checkOnlyone(this)"> 상품문제 <span id="3"></span><br>
						<input type="checkbox" value="기타" name="reason" id="ban4"
							th:onclick="checkOnlyone(this)"> 기타 <span id="4"></span>
						<br> <br>
						<p>해결방법</p>
						<input type="checkbox">교환 <input type="checkbox">반품
						<br> <br> <br>
						<p>회수정보</p>
						<div>
							<div class="inputfield">
								<label>반송주소<span class="request">*</span></label> <input
									type="text" id="sample6_postcode" class="input"
									name="sellerAddr"><input type="button"
									onclick="sample6_execDaumPostcode()" value="주소검색"
									class="checkBtn">

							</div>
							<br>
							<div class="inputfield">
								<label>주소<span class="request">*</span></label> <input
									type="text" id="sample6_address" class="input"
									name="sellerAddr">
							</div>
							<br>
							<div class="inputfield">
								<label>상세주소</label> <input type="text"
									id="sample6_detailAddress" class="input" name="sellerAddr">
							</div>
						</div>
						<br>

						<p>
							회수시 요청사항<br>
							<textarea rows="" cols=""></textarea>
							<br>
							<button th:onclick="submitBtn()">신청하기</button>
							<button class="closeBtn">닫기</button>
					</div>
				</div>
			</div>

			<script type="text/javascript">
			
				
			
				//교환/환불 모달창 생성
				const openButton = document.querySelector(".openBtn");
				const modal = document.querySelector(".modal");
				const closeButton = modal.querySelector(".closeBtn");
				const modalBackground = modal
						.querySelector(".modal__background");

				function displayModal() {
					modal.classList.toggle("hidden");
				}

				openButton.addEventListener("click", displayModal);
				closeButton.addEventListener("click", displayModal)
				modalBackground.addEventListener("click", displayModal);
				
				
				//체크박스선택시 자세내용적기 창 생성
				function checkOnlyone(element){
					const reason=document.getElementsByName("reason");
					reason.forEach((cb) => 
					{cb.checked = false;	
					let span=cb.nextElementSibling;
					span.innerHTML="";	
					})						
					element.checked = true;
					let span=element.nextElementSibling;
					span.innerHTML="<br><textarea name='text' placeholder='상세설명' id='detailReason'></textarea>";										
				}
				
				//주소API
				function sample6_execDaumPostcode() {
					new daum.Postcode(
							{
								oncomplete : function(data) {
									// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

									// 각 주소의 노출 규칙에 따라 주소를 조합한다.
									// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
									var addr = ''; // 주소 변수
									var extraAddr = ''; // 참고항목 변수

									//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
									if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
										addr = data.roadAddress;
									} else { // 사용자가 지번 주소를 선택했을 경우(J)
										addr = data.jibunAddress;
									}

									// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
									if (data.userSelectedType === 'R') {
										// 법정동명이 있을 경우 추가한다. (법정리는 제외)
										// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
										if (data.bname !== ''
												&& /[동|로|가]$/g.test(data.bname)) {
											extraAddr += data.bname;
										}
										// 건물명이 있고, 공동주택일 경우 추가한다.
										if (data.buildingName !== ''
												&& data.apartment === 'Y') {
											extraAddr += (extraAddr !== '' ? ', '
													+ data.buildingName
													: data.buildingName);
										}
										// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
										if (extraAddr !== '') {
											extraAddr = ' (' + extraAddr + ')';
										}
										// 조합된 참고항목을 해당 필드에 넣는다.
										document.getElementById("sample6_extraAddress").value = extraAddr;

									} else {
										document.getElementById("sample6_extraAddress").value = '';
									}

									// 우편번호와 주소 정보를 해당 필드에 넣는다.
									document.getElementById('sample6_postcode').value = data.zonecode;
									document.getElementById("sample6_address").value = addr;
									// 커서를 상세주소 필드로 이동한다.
									document.getElementById("sample6_detailAddress")
											.focus();
								}
							}).open();
				};
			</script>
			<script
				src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		</div>
		<!-- JS -->
		<th:block layout:fragment="script">

			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
	</section>



</div>