<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<title>shop main</title>

<!-- Google Font -->


<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<head>
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style type="text/css">
.menu {
	float: left;
	overflow: hidden;
	width: 200px;
	background-color: #04B4AE;
	color: #fff;
	transition: all 0.5s ease;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
	margin-left: 550px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.menu a, .menu>label {
	padding: 10px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

label {
	display: none;
}

.menu a:hover {
	color: #000;
}

.menu ul li:hover, .menu>label:hover {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
}

#expand-menu {
	display: none;
}

#expand-menu:checked ~ ul {
	display: block;
	height: auto;
}

.menu ::before {
	font-family: 'Material Icons';
	font-size: 1.5em;
	float: left;
	clear: left;
}

.menu label::before {
	content: '\e5d2';
}

.menu li:nth-child(1) a::before {
	content: '\e88a';
}

.menu li:nth-child(2) a::before {
	content: '\e8cc';
}

.menu li:nth-child(3) a::before {
	content: '\e8d6';
}

.menu li:nth-child(4) a::before {
	content: '\f02e';
}

.menu li:nth-child(5) a::before {
	content: '\e87d';
}

.menu li:nth-child(6) a::before {
	content: '\e8b8';
}

@media screen and (max-width:1023px) {
	.menu {
		width: 60px;
	}
}

@media screen and (max-width:560px) {
	.menu #expand-menu:not(:checked) ~ ul {
		display: none;
	}
}
</style>
</head>



<!-- Content -->
<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>판매자</h2>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- 사이드바 -->
	<div class="menu">
		<input type="checkbox" id="expand-menu" name="expand-menu">
		<ul>
			<li><a href="/sellerMain" class="item"><div>판매자상품관리</div></a></li>
			<li><a href="/sellerOrder" class="item"><div>판매자주문관리</div></a></li>
			<li><a href="/sellerExchange" class="item"><div>판매자교환/취소관리</div></a></li>
			<li><a href="/sellerReview" class="item"><div>판매자리뷰/문의관리</div></a></li>
			<li><a href="/addProductPage" class="item"><div>상품등록하기</div></a></li>
		</ul>
	</div>

	<!-- 테이블 -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 style="margin-left: 20px; display: inline-block">판매자 주문관리</h3>
					<br> <br>
					<div class="shoping__cart__table">
						<h5 style="margin-left: 20px; display: inline-block">조회기간</h5>
						&nbsp<input type="date" id="startDate">&nbsp<input
							type="date" onchange="changeDate()" id="endDate"><br>
						<br>
						<button style="margin-left: 20px;" onclick="todaySearch()">오늘</button>
						&nbsp
						<button onclick="weekSearch()">1주일</button>
						&nbsp
						<button onclick="monthSearch()">1개월</button>
						<br> <br>
						<h5 style="margin-left: 20px; display: inline-block">상세검색</h5>
						&nbsp <select id="search">
							<option value="전체">전체</option>
							<option value="구매자명">구매자명</option>
							<option value="구매자ID">구매자ID</option>
							<option value="주문번호">주문번호</option>
							<option value="상품번호">상품번호</option>
						</select> <input type="text" id="data">
						<button onclick="submitBtn()">검색</button>
						&nbsp&nbsp&nbsp&nbsp&nbsp <select onchange="status()" id="status">
							<option>처리상태</option>
							<option value="교환/반품">교환/반품</option>
							<option value="배송완료">배송완료</option>
							<option value="배송중">배송중</option>
							<option value="주문대기">주문대기</option>
						</select> <br> <br>
						<table>
							<thead>
								<tr>
									<th class="shoping__product">주문번호</th>
									<th>상품명</th>
									<th>상품번호</th>
									<th>주문일자</th>
									<th>주문상태</th>
									<th>구매자명</th>
									<th>수량</th>
									<th>옵션</th>
								</tr>
							</thead>
							<tbody id="orderList">
								<tr th:each="order:${orderList}">
									<td>[[${order.orderId}]]</td>
									<td>[[${order.productName}]]</td>
									<td>[[${order.productId}]]</td>
									<td>[[${order.orderDate}]]</td>
									<td th:if=${order.orderStatus=='주문대기'}>[[${order.orderStatus}]]
										  <button th:onclick="shippingNum(this,[[${order}]])" >송장번호입력</button>
									</td>
									<td th:unless=${order.orderStatus=='주문대기'}>[[${order.orderStatus}]]</td>
									<td>[[${order.recivName}]]</td>
									<td>[[${order.detailAmount}]]</td>
									<td>[[${order.detailOption}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>

	<script type="text/javascript">
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	
	//송장번호 전송
	function submitShipping(){		
		 $.ajax({
			type : 'post', 
			url : '/shop/sumbitShipping', 				
			headers : { 
				"Content-Type" : "application/json"					
			},
			beforeSend : function(xhr)
	           {
	            xhr.setRequestHeader(header, token);
	           },
			data : JSON.stringify({  
			      "deliveryId" : $("#shippingNum").val(),
			      "orderId":shippingData.orderId			      
			    }),
			success : function(result) {					
				alert("주문상태가 변경되었습니다.");
				location.reload();			
			},
			error : function(error) { 
				console.log(error)
			}
		}) 
	}
	
	//송장번호 입력
	let shippingData;
	function shippingNum(data,data2){		
		shippingData=data2;
		let shippingNum=`<td>주문대기<div>
		<button>송장번호입력</button><br><input type="text" id="shippingNum"><br><button onclick="submitShipping()" >발송완료</button></div></td>`;
		data.parentElement.innerHTML=shippingNum;		
	}	
	
	//상태별 조회
	function status() {		
		if($("#status").val()=="교환/반품"){			
			searchList('/orderExchange')
		}else if($("#status").val()=="배송완료"){
			searchList('/endShipping');
		}else if($("#status").val()=="배송중"){		
			searchList('/shipping');				
		}else {		
			searchList("/sell/waitOrder");	  
		}
	}
	
	//조회
	function submitBtn() {		
		if($("#search").val()=="전체"){
			searchList2("/arrayOrderAll")
		}else if($("#search").val()=="구매자명"){
			searchList2("/shop/buyName")
		}else if($("#search").val()=="구매자ID"){		
			searchList2("/shop/buyId")	  
		}else if($("#search").val()=="주문번호"){		
			searchList2("/shop/orderNumber")			
		}else{
			searchList2("/shop/productId")
		}
	}
	
	//배송상태값 보내기
	function searchList(url){
		$.ajax({
			type : 'post', 
			url : url, 				
			headers : { 
				"Content-Type" : "application/json"					
			},			
            beforeSend : function(xhr)
            {
            	xhr.setRequestHeader(header, token);
            },
			success : function(result) {					
				$("#orderList").html("");
				for(let i=0;i<result.length;i++){									
					let list=`<tr>
						<td>${result[i].orderId}</td>
						<td>${result[i].productName}</td>
						<td>${result[i].productId}</td>
						<td>${result[i].orderDate}</td>
						<td>${result[i].orderStatus} ${result[i].orderStatus=='주문대기'? `<button>송장번호입력</button>`: ''}</td>
						<td>${result[i].recivName}</td>								
						<td>${result[i].detailAmount}</td>
						<td>${result[i].detailOption}</td>
					</tr>`;
					$("#orderList").append(list);
				}				
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	
	//검색조회 리스트 만들기
	function searchList2(url){
		$.ajax({
			type : 'post', 
			url : url+'?data='+$("#data").val(), 				
			headers : { 
				"Content-Type" : "application/json"					
			}, 
			beforeSend : function(xhr)
            {
            	xhr.setRequestHeader(header, token);
            },
			success : function(result) {					
				$("#orderList").html("");
				for(let i=0;i<result.length;i++){									
					let list=`<tr>
						<td>${result[i].orderId}</td>
						<td>${result[i].productName}</td>
						<td>${result[i].productId}</td>
						<td>${result[i].orderDate}</td>
						<td>${result[i].orderStatus} ${result[i].orderStatus=='주문대기'? `<button>송장번호입력</button>`: ''}</td>
						<td>${result[i].recivName}</td>								
						<td>${result[i].detailAmount}</td>
						<td>${result[i].detailOption}</td>
					</tr>`;
					$("#orderList").append(list);
				}				
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
		 
	//한달조회
	function monthSearch(){		
		searchList('/shop/monthSearch');		
	}
	//일주일조회
	function weekSearch(){		
		searchList('/shop/weekSearch');		
	}
	//오늘조회
	function todaySearch(){		
		searchList('/shop/todaySearch');		
	}
		//조회기간설정
		function changeDate(){			
			$.ajax({
				type : 'post', 
				url : '/shop/changeDate?startDate='+$("#startDate").val()+'&endDate='+$("#endDate").val(), 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	            {
	            	xhr.setRequestHeader(header, token);
	            },
				success : function(result) {					
					$("#orderList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>${result[i].orderId}</td>
							<td>${result[i].productName}</td>
							<td>${result[i].productId}</td>
							<td>${result[i].orderDate}</td>
							<td>${result[i].orderStatus} ${result[i].orderStatus=='주문대기'? `<button>송장번호입력</button>`: ''}</td>
							<td>${result[i].recivName}</td>								
							<td>${result[i].detailAmount}</td>
							<td>${result[i].detailOption}</td>
						</tr>`;
						$("#orderList").append(list);
					}
				},
				error : function(error) { 
					console.log(error)
				}
			})			
		}
	</script>
</div>
</html>