<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<title>shop main</title>

<!-- Google Font -->


<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<head>
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style type="text/css">
.menu {
	float: left;
	overflow: hidden;
	width: 200px;
	background-color: #04B4AE;
	color: #fff;
	transition: all 0.5s ease;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
	margin-left: 550px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.menu a, .menu>label {
	padding: 10px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

label {
	display: none;
}

.menu a:hover {
	color: #000;
}

.menu ul li:hover, .menu>label:hover {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
}

#expand-menu {
	display: none;
}

#expand-menu:checked ~ ul {
	display: block;
	height: auto;
}

.menu ::before {
	font-family: 'Material Icons';
	font-size: 1.5em;
	float: left;
	clear: left;
}

.menu label::before {
	content: '\e5d2';
}

.menu li:nth-child(1) a::before {
	content: '\e88a';
}

.menu li:nth-child(2) a::before {
	content: '\e8cc';
}

.menu li:nth-child(3) a::before {
	content: '\e8d6';
}

.menu li:nth-child(4) a::before {
	content: '\f02e';
}

.menu li:nth-child(5) a::before {
	content: '\e87d';
}

.menu li:nth-child(6) a::before {
	content: '\e8b8';
}

@media screen and (max-width:1023px) {
	.menu {
		width: 60px;
	}
}

@media screen and (max-width:560px) {
	.menu #expand-menu:not(:checked) ~ ul {
		display: none;
	}
}
</style>
</head>



<!-- Content -->
<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>판매자</h2>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- 사이드바 -->
	<div class="menu">
		<input type="checkbox" id="expand-menu" name="expand-menu">
		<ul>
			<li><a href="/sellerMain" class="item"><div>판매자상품관리</div></a></li>
			<li><a href="/sellerOrder" class="item"><div>판매자주문관리</div></a></li>
			<li><a href="/sellerExchange" class="item"><div>판매자교환/취소관리</div></a></li>
			<li><a href="#" class="item"><div>판매자리뷰/문의관리</div></a></li>
			<li><a href="/addProductPage" class="item"><div>상품등록하기</div></a></li>
		</ul>
	</div>

	<!-- 테이블 -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" th:each="count:${countList}">
					<h3 style="margin-left: 20px; display: inline-block">판매자 상품목록</h3>
					<br> <br>

					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-house" style="text-align: center"
							onclick="allSell()"><h5>전체[[${#lists.size(sellerList)}]]건</h5></i>
					</h2>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-hourglass-start" style="text-align: center"
							onclick="waitSell()"><h5>판매대기[[${count.waitSellProduct}]]건</h5></i>
					</h2>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-cart-shopping" style="text-align: center"
							onclick="selling()"><h5>판매중[[${count.sellingProduct}]]건</h5></i>
					</h2>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-circle-stop" style="text-align: center"
							onclick="endSell()"><h5>품절[[${count.endProduct}]]건</h5></i>
					</h2>
					<br>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-circle-pause" style="text-align: center"
							onclick="wait()"><h5>승인대기[[${count.waitProduct}]]건</h5></i>
					</h2>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-sharp fa-solid fa-hand" style="text-align: center"
							onclick="stopSell()"><h5>판매중지[[${count.stopProduct}]]건</h5></i>
					</h2>
					<h2 style="margin-left: 20px; display: inline-block">
						<i class="fa-solid fa-circle-xmark" style="text-align: center"
							onclick="banSell()"><h5>판매정지[[${count.banProduct}]]건</h5></i>
					</h2>
					<br> <br> <select
						style="margin-left: 20px; text-align: center" id="searchProduct">
						<option value="전체">:: 전체 ::</option>
						<option value="상품명">상품명</option>
						<option value="상품번호">상품번호</option>
					</select> <input type="text" id="search">
					<button onclick="submitBtn()">조회</button>
					<button onclick="statusProduct()">판매상태</button>
					<button onclick="amountProduct()">재고별</button>
					<button onclick="categoryProduct()">품목별</button>
					<input type="date" onchange="dateProduct(this)">
					<div class="shoping__cart__table">
						<br>
						<table>
							<thead>
								<tr>
									<th class="shoping__product">상품번호</th>
									<th>상품명</th>
									<th>품목</th>
									<th>가격</th>
									<th>총재고량</th>
									<th>품절여부</th>
									<th>판매상태</th>
									<th>등록일자</th>
									<th>총누적판매량</th>
								</tr>
							</thead>
							<tbody id="sellerList">
								<tr th:each="sell:${sellerList}">
									<td>[[${sell.productId}]]</td>
									<td>[[${sell.productName}]]</td>
									<td>[[${sell.category}]]</td>
									<td>[[${sell.price}]]</td>
									<td>[[${sell.amount}]]</td>
									<td><input type="checkbox" th:onclick="endProduct(this,[[${sell.productId}]])" id="endProduct"></td>
									<td id="status">[[${sell.productStatus}]]</td>
									<td>[[${sell.registerDate}]]</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>

	<script type="text/javascript">	
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	
	//품절체크박스
	function endProduct(data,data2) {		
		if(data.checked==true){			
			$.ajax({
				type : 'post', 
				url : '/endProduct', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "productId" : data2				      
				    }),
				success : function(result) {					
					alert("품절처리 되었습니다.")				
				},
				error : function(error) { 
					console.log(error)
				}
			})
		}		
	}
	//날짜 조회
	function dateProduct(data) {	
		$.ajax({
				type : 'post', 
				url : '/dateProduct', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "registerDate" : data.value				     
				    }),
				success : function(result) {					
					$("#sellerList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>`+result[i].productId+`</td>
							<td>`+result[i].productName+`</td>
							<td>`+result[i].category+`</td>
							<td>`+result[i].price+`</td>
							<td>`+result[i].amount+`</td>
							<td><input type="checkbox"></td>
							<td>`+result[i].productStatus+`</td>
							<td>`+result[i].registerDate+`</td>
							<td></td>
						</tr>`;	
						$("#sellerList").append(list);
					}					
				},
				error : function(error) { 
					console.log(error)
				}
			})
	}
	//품목별 조회
	function categoryProduct() {		
		$.ajax({
			type : 'get', 
			url : '/categoryProduct', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//재고별 조회
	function amountProduct() {		
		$.ajax({
			type : 'get', 
			url : '/amountProduct', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//판매상태별 조회
	function statusProduct() {		
		$.ajax({
			type : 'get', 
			url : '/statusProduct', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//조회
	function submitBtn() {
		console.log($("#search").val())
		 if($("#searchProduct").val()=="전체"){
			$.ajax({
				type : 'post', 
				url : '/arrayProductAll', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "productId" : $("#search").val(),
				      "productName" : $("#search").val()
				    }),
				success : function(result) {					
					$("#sellerList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>`+result[i].productId+`</td>
							<td>`+result[i].productName+`</td>
							<td>`+result[i].category+`</td>
							<td>`+result[i].price+`</td>
							<td>`+result[i].amount+`</td>
							<td><input type="checkbox"></td>
							<td>`+result[i].productStatus+`</td>
							<td>`+result[i].registerDate+`</td>
							<td></td>
						</tr>`;	
						$("#sellerList").append(list);
					}					
				},
				error : function(error) { 
					console.log(error)
				}
			})
		}else if($("#searchProduct").val()=="상품명"){
			$.ajax({
				type : 'post', 
				url : '/arrayProductName', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "productId" : $("#search").val(),
				      "productName" : $("#search").val()
				    }),
				success : function(result) {					
					$("#sellerList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>`+result[i].productId+`</td>
							<td>`+result[i].productName+`</td>
							<td>`+result[i].category+`</td>
							<td>`+result[i].price+`</td>
							<td>`+result[i].amount+`</td>
							<td><input type="checkbox"></td>
							<td>`+result[i].productStatus+`</td>
							<td>`+result[i].registerDate+`</td>
							<td></td>
						</tr>`;	
						$("#sellerList").append(list);
					}					
				},
				error : function(error) { 
					console.log(error)
				}
			})
		}else{
			$.ajax({
				type : 'post', 
				url : '/arrayProductId', 				
				headers : { 
					"Content-Type" : "application/json"					
				},
				beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
				data : JSON.stringify({  
				      "productId" : $("#search").val(),
				      "productName" : $("#search").val()
				    }),
				success : function(result) {					
					$("#sellerList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>`+result[i].productId+`</td>
							<td>`+result[i].productName+`</td>
							<td>`+result[i].category+`</td>
							<td>`+result[i].price+`</td>
							<td>`+result[i].amount+`</td>
							<td><input type="checkbox"></td>
							<td>`+result[i].productStatus+`</td>
							<td>`+result[i].registerDate+`</td>
							<td></td>
						</tr>`;	
						$("#sellerList").append(list);
					}					
				},
				error : function(error) { 
					console.log(error)
				}
			})
		} 
		  
	}
	//판매정지
	function banSell() {		
		$.ajax({
			type : 'get', 
			url : '/banSell', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//판매중지
	function stopSell() {		
		$.ajax({
			type : 'get', 
			url : '/stopSell', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//품절
	function endSell() {		
		$.ajax({
			type : 'get', 
			url : '/endSell', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox" checked></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//판매중
	function selling() {		
		$.ajax({
			type : 'get', 
			url : '/selling', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//판매대기버튼
	function waitSell() {		
		$.ajax({
			type : 'get', 
			url : '/waitSell', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//전체 상품 버튼
	function allSell() {			
		$.ajax({
			type : 'get', 
			url : '/sellerAllProduct', 				
			headers : { 
				"Content-Type" : "application/json"					
			},				
			success : function(result) {					
				$("#sellerList").html("");
				for(let i=0;i<result.length;i++){
					let list=`<tr>
						<td>`+result[i].productId+`</td>
						<td>`+result[i].productName+`</td>
						<td>`+result[i].category+`</td>
						<td>`+result[i].price+`</td>
						<td>`+result[i].amount+`</td>
						<td><input type="checkbox"></td>
						<td>`+result[i].productStatus+`</td>
						<td>`+result[i].registerDate+`</td>
						<td></td>
					</tr>`;	
					$("#sellerList").append(list);
				}					
			},
			error : function(error) { 
				console.log(error)
			}
		})
	}
	//승인대기 상품 버튼
		function wait() {			
			$.ajax({
				type : 'get', 
				url : '/waitProduct', 				
				headers : { 
					"Content-Type" : "application/json"					
				},				
				success : function(result) {					
					$("#sellerList").html("");
					for(let i=0;i<result.length;i++){
						let list=`<tr>
							<td>`+result[i].productId+`</td>
							<td>`+result[i].productName+`</td>
							<td>`+result[i].category+`</td>
							<td>`+result[i].price+`</td>
							<td>`+result[i].amount+`</td>
							<td><input type="checkbox"></td>
							<td>`+result[i].productStatus+`</td>
							<td>`+result[i].registerDate+`</td>
							<td></td>
						</tr>`;	
						$("#sellerList").append(list);
					}					
				},
				error : function(error) { 
					console.log(error)
				}
			})
		}
	</script>
</div>
</html>