<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>



<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>주문결제</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Checkout Section Begin -->
	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">

				<form action="#" th:each="product:${productList}">
					<div class="row" th:each="user:${userData}">
						<div class="col-lg-8 col-md-6">
							<div class="row">
								<div class="col-lg-6">
									<h4>구매자정보</h4>
									<div class="checkout__input">
										<p>
											이름<span>*</span>
										</p>
										<input type="text" th:placeholder="${user.name}" id="userName">
									</div>
								</div>
							</div>
							<div class="checkout__input">
								<p>
									이메일<span>*</span>
								</p>
								<input type="text" th:placeholder="${user.email}" id="userEmail">
							</div>
							<div class="checkout__input">
								<p>
									휴대폰 번호<span>*</span>
								</p>
								<input type="text" th:placeholder="${user.phone}" id="userPhone">
								<input type="hidden" th:value="${user.email}" id=userEmail>
								<input type="hidden" th:value="${user.addr}" id=userAddr>
							</div>
							<br>
							<div class="row">
								<div class="col-lg-6">
									<h4>받는사람정보</h4>
									<div class="checkout__input">
										<p>
											이름<span>*</span>
										</p>
										<input type="text" id="reciveName">
									</div>
								</div>
							</div>
							<div class="checkout__input">
								<p>
									배송주소<span>*</span>
								</p>
								<input type="text" id="sample6_postcode" placeholder="우편번호"
									name="postalCode"> <input type="button"
									onclick="sample6_execDaumPostcode()" value="우편번호 찾기"> <br>
								<input type="text" id="sample6_address" placeholder="주소"
									name="addr"> <br> <input type="text"
									id="sample6_extraAddress" placeholder="참고항목"><input
									type="text" id="sample6_detailAddress" placeholder="상세주소"
									name="detailAddr">
							</div>
							<div class="checkout__input">
								<p>
									휴대폰 번호<span>*</span>
								</p>
								<input type="text" placeholder="- 빼고 작성해주세요" id="phoneNumber">
							</div>
							<div class="checkout__input">
								<p>
									요청사항<span>*</span>
								</p>
								<input type="text" id="requireRecive">
							</div>
							<br>
							<h4>구매정보</h4>
							<img
								th:src="@{{fileRoute}{mediaName}/
									(fileRoute=${product.fileRoute},mediaName=${product.mediaName})}"
								alt="">

							<div class="checkout__input">
								<input type="text"
									th:placeholder="상품명+'  '+${product.productName}" readonly>
							</div>
							<div class="checkout__input">
								<input type="text" th:placeholder="수량+'  '+${param.amount}"
									readonly>
							</div>
							<div class="checkout__input">
								<input type="text" th:placeholder="옵션+'  '+${param.option}"
									readonly>
							</div>
							<div class="checkout__input">
								<input type="text" th:placeholder="가격+'  '+${product.price}"
									readonly>
							</div>

						</div>
						<div class="col-lg-4 col-md-6">
							<div class="checkout__order">
								<h4>결제정보</h4>
								<div class="checkout__order__products">
									총상품가격 <span>[[${productVO.amount*product.price}]] 원</span>
								</div>
								<ul>
									<li>배송금액 <span>[[${product.deliveryFee}]] 원</span></li>
									<li th:each="user:${userData}">사용할포인트 <input
										style="width: 50px; height: 30px" oninput="usePoint(this)"
										id="usePo"> <span id="myPoint">보유한포인트[[${user.point}]]</span></li>
								</ul>
								<div class="checkout__order__subtotal">
									총결제금액 <span id="totalPrice">[[${product.deliveryFee+productVO.amount*product.price}]]원</span>
								</div>
								<br>
								<h4>결제방법</h4>

								<button class="site-btn paymentBtn">주문 결제하기</button>
								<input type="hidden" id="productId" th:value="${product.productId}">
								<input type="hidden" id="deliveryFee" th:value="${product.deliveryFee}">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
		<!-- jQuery -->
		<script type="text/javascript"
			src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<!-- iamport.payment.js -->
		<script type="text/javascript"
			src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

		<script type="text/javascript">
			//csrf설정
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			window.onload=function(){
				document.querySelector("#productId").value;
				console.log(document.querySelector("#deliveryFee").value)
			}
			
			//결제API
			$(".paymentBtn")
					.on(
							"click",
							function() {
								let productId = "[[${param.productId}]]";
								let detailOption = "[[${param.option}]]";
								let detailAmount = "[[${param.amount}]]";
								let recivReq = $("#requireRecive").val();
								let recivPhone = $("#phoneNumber").val();
								let recivAddr = $("#sample6_address").val()
										+ $("#sample6_extraAddress").val()
										+ ","
										+ $("#sample6_detailAddress").val();
								let recivName = $("#reciveName").val();

								console.log('확인')
								IMP.init('imp54500213');
								IMP
										.request_pay(
												{
													pg : 'html5_inicis',
													pay_method : 'card',
													merchant_uid : 'OS_'
															+ new Date()
																	.getTime(), // 상점에서 관리하는 주문 번호
													name : '주문명:결제테스트',
													amount : 100/*$("#totalPrice").text().split('원')[0]*/, // 테스트라서 10원만 결제 ^^;
													buyer_email : $(
															"#userEmail").val(), // 구매자 이메일
													buyer_name : $("#userName")
															.val(), // 구매자 이름
													buyer_tel : $("#userPhone")
															.val(), // 구매자 연락처
													buyer_addr : $("#userAddr")
															.val(), // 구매자 주소
													buyer_postcode : '123456' // 구매자 우편번호
												},
												function(rsp) {
													if (rsp.success) {
														//아래 아작스부터는 본인의 컨트롤이나 구현에 맞게 적절히 사용할것
														// 결제성공하고 컨트롤에 넘어가서 DB에 정보저장를 위한 아작스
														let data = {
															"paymentId" : rsp.imp_uid,
															"price" : $(
																	"#totalPrice")
																	.text()
																	.split('원')[0],
															"groups" : "쇼핑몰",
															"status" : "결제완료",
															"groupId" : productId,
															"paymentMethod" : rsp.pay_method
														};
														$
																.ajax({
																	url : '/shop/insertOrder',
																	method : 'post',
																	headers : {
																		"Content-Type" : "application/json"
																	},
																	beforeSend : function(
																			xhr) { /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
																		xhr
																				.setRequestHeader(
																						header,
																						token);
																	},
																	data : JSON
																			.stringify(data),
																	success : function(
																			result) {
																		// 결제금액이 일치한지, 다른 정보 체크하고 일치하면 DB에 저장하고 데이터를 리턴
																		if (result) {
																			// data가 있으면 제대로 처리된것
																			// 이후 다른 페이지로 넘어갈 컨트롤과 데이어 작성
																			var msg = '결제가 완료되었습니다.';
																			msg += '\n고유ID : '
																					+ rsp.imp_uid;
																			msg += '\n상점 거래ID : '
																					+ rsp.merchant_uid;
																			msg += '\결제 금액 : '
																					+ rsp.paid_amount;
																			msg += '카드 승인번호 : '
																					+ rsp.apply_num;
																			alert(msg);
																			submitOrder();
																		} else {
																			//[3] 아직 제대로 결제가 되지 않았습니다.
																			//[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
																			// 위에 같은 이유로 알림 띄우기
																		}
																	},
																	error : function(
																			error) {
																		console
																				.log(error);
																		alert('실패');
																	}
																})
													} else {
														var msg = '결제에 실패하였습니다.';
														msg += '에러내용 : '
																+ rsp.error_msg;

														alert(msg);
													}
												});
								event.preventDefault();
							});

			//주문하기버튼
			function submitOrder() {
				let detailOption = "[[${param.option}]]"
				let detailAmount = "[[${param.amount}]]"
				let recivReq = $("#requireRecive").val();
				let recivPhone = $("#phoneNumber").val();
				let recivAddr = $("#sample6_address").val()
						+ $("#sample6_extraAddress").val() + ","
						+ $("#sample6_detailAddress").val();
				let recivName = $("#reciveName").val();
				$.ajax({
					type : 'post',
					url : '/shop/orderProduct',
					headers : {
						"Content-Type" : "application/json"
					},
					beforeSend : function(xhr) { /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
					data : JSON.stringify({
						"detailAmount" : detailAmount,
						"detailOption" : detailOption,
						"recivReq" : recivReq,
						"recivPhone" : recivPhone,
						"recivAddr" : recivAddr,
						"recivName" : recivName,
						"deliveryFee" : document.querySelector("#deliveryFee").value,
						"productId" : document.querySelector("#productId").value
					}),
					success : function(result) {
						location.href="/shop/buyEnd"
					},
					error : function(error) {
						console.log(error)
					}
				})

				event.preventDefault();

			}

			//포인트 사용
			function usePoint(data) {

				let usePoint = $("#usePo").val();
				let totalPrice = $("#totalPrice").text().split('원')[0];
				$("#totalPrice").text(totalPrice - usePoint + "원")

			}

			$(function() {
				$('#apibtn').click(function() {
					$.ajax({
						url : 'http://localhost/orderPay',
						dataType : 'json',
						success : function(data) {
							console.log(data)
							alert("hi");
							var box = data.next_redirect_pc_url;
							window.open(box);
						},
						error : function(error) {
							alert(error);
						}
					})
				})
			})

			function sample6_execDaumPostcode() {
				new daum.Postcode(
						{
							oncomplete : function(data) {
								// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

								// 각 주소의 노출 규칙에 따라 주소를 조합한다.
								// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
								var addr = ''; // 주소 변수
								var extraAddr = ''; // 참고항목 변수

								//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
								if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
									addr = data.roadAddress;
								} else { // 사용자가 지번 주소를 선택했을 경우(J)
									addr = data.jibunAddress;
								}

								// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
								if (data.userSelectedType === 'R') {
									// 법정동명이 있을 경우 추가한다. (법정리는 제외)
									// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
									if (data.bname !== ''
											&& /[동|로|가]$/g.test(data.bname)) {
										extraAddr += data.bname;
									}
									// 건물명이 있고, 공동주택일 경우 추가한다.
									if (data.buildingName !== ''
											&& data.apartment === 'Y') {
										extraAddr += (extraAddr !== '' ? ', '
												+ data.buildingName
												: data.buildingName);
									}
									// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
									if (extraAddr !== '') {
										extraAddr = ' (' + extraAddr + ')';
									}
									// 조합된 참고항목을 해당 필드에 넣는다.
									document
											.getElementById("sample6_extraAddress").value = extraAddr;

								} else {
									document
											.getElementById("sample6_extraAddress").value = '';
								}

								// 우편번호와 주소 정보를 해당 필드에 넣는다.
								document.getElementById('sample6_postcode').value = data.zonecode;
								document.getElementById("sample6_address").value = addr;
								// 커서를 상세주소 필드로 이동한다.
								document
										.getElementById("sample6_detailAddress")
										.focus();
							}
						}).open();
			};
		</script>
		<script type="text/javascript"
			src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>