<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<title>shop main</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>


<!-- Content -->
<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Onsaem Shop</h2>
						<div class="breadcrumb__option">
							<a href="./index.html">Home</a> <span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<br>
	<!-- Hero Section Begin -->
	<section class="hero hero-normal">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i> <span>All departments</span>
						</div>
						<ul>
							<li><a href="/shop">전체</a></li>
							<li><a
								th:href="@{/category/(data=${category.optionContent})}"
								th:each="category:${categoryList}"
								th:text="${category.optionContent}">Vegetables</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__search">
						<div class="hero__search__form">
							<form action="http://localhost/searchProduct" method="post">
								<div class="hero__search__categories">
									All Categories <span class="arrow_carrot-down"></span>
								</div>
								<input type="text" placeholder="What do yo u need?" name="data">
								<button type="submit" class="site-btn">SEARCH</button>
							</form>

						</div>
						<div class="header__cart">
							<div class="sidebar__item__size">
								<label for="large" th:onclick="location.href='/sellerMain'">
									판매자 <input type="radio" id="large">
								</label>
							</div>
							<ul>
								<li><a href="/likeList"><i class="fa fa-heart"
										sec:authorize="isAuthenticated()"></i> <span
										th:text="${#lists.size(likeList)}"
										sec:authorize="isAuthenticated()">1</span></a></li>
								<li><a th:href="@{/shopCart}"><i
										class="fa fa-shopping-bag" sec:authorize="isAuthenticated()"></i>
										<span th:text="${#lists.size(cartList)}"
										sec:authorize="isAuthenticated()">3</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->


	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5">
					<div class="sidebar">
						<div class="sidebar__item">
							<h4>가격</h4>
							<div class="price-range-wrap" style="text-align: center">
								<div
									class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
									data-min="10" data-max="540">
									<div class="ui-slider-range ui-corner-all ui-widget-header"></div>
									<span tabindex="0"
										class="ui-slider-handle ui-corner-all ui-state-default"></span>
									<span tabindex="0"
										class="ui-slider-handle ui-corner-all ui-state-default"></span>
								</div>
								<div class="range-slider">
									<div class="price-input">
										<input type="text" id="minamount" style="text-align: right"><i
											class="fa-solid fa-minus"
											style="color: #63bf63; margin: 0px 10px"></i><input
											type="text" id="maxamount" style="text-align: left">
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar__item">
							<div class="latest-product__text">
								<h4>최근 본 상품</h4>
								<div class="latest-product__slider owl-carousel" id="watchList">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-7">
					<div class="product__discount">
						<div class="section-title product__discount__title">
							<h2>주간 베스트</h2>
						</div>
						<div class="row">
							<div class="product__discount__slider owl-carousel" id="bestList">
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											th:data-setbg="@{/shoptemplate/img/product/discount/pd-1.jpg}">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-heart"></i></a></li>												
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<span>Dried Fruit</span>
											<h5>
												<a href="#">Raisin’n’nuts</a>
											</h5>
											<div class="product__item__price">
												$30.00 <span>$36.00</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											th:data-setbg="@{/shoptemplate/img/product/discount/pd-5.jpg}">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-heart"></i></a></li>
												<li><a href="#"><i class="fa fa-retweet"></i></a></li>
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<span>Dried Fruit</span>
											<h5>
												<a href="#">Raisin’n’nuts</a>
											</h5>
											<div class="product__item__price">
												$30.00 <span>$36.00</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="filter__item">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="filter__sort">
									<span>Sort By</span> <select id="changeList"
										th:onchange="changeList(this.value)">
										<option value="new"
											th:selected="${#strings.equals(param.data, 'new')}">최신순</option>
										<option value="popularity"
											th:selected="${#strings.equals(param.data, 'popularity')}">인기순</option>
									</select>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="filter__found">
									<h6>
										<span th:text="${#lists.size(productList)}"></span> Products
										found
									</h6>
								</div>
							</div>
							<div class="col-lg-4 col-md-3">
								<div class="filter__option">
									<span class="icon_grid-2x2"></span> <span class="icon_ul"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6"
							th:each="product:${productList}">
							<div class="product__item">
								<div class="product__item__pic set-bg"
									th:data-setbg="@{/fileView/{fileRoute}/
									(fileRoute=${product.fileRoute})}"
									th:onclick="productDetail([[${product.productId}]])">
									<ul class="product__item__pic__hover">
										<li><a th:href="@{/likeAdd(data=${product.productId})}"
											th:onclick="likeEvent()"><i class="fa fa-heart"></i></a></li>
										<li><a
											th:href="@{/cartAdd(productId=${product.productId})}"
											th:onclick="cartEvent()"><i class="fa fa-shopping-cart"></i></a></li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6>
										<a th:onclick="productDetail([[${product.productId}]])"
											th:text=${product.productName}>Crab Pool Security</a>
									</h6>
									<h5 th:text="${product.price}+원">$30.00</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="product__pagination">
						<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#"><i
							class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<input type="hidden" value="${session.id}" id="id">
		</div>
	</section>
	<!-- Product Section End -->

	<!-- JS -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
		<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
		<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
		<script th:src="@{/shoptemplate/js/main.js}"></script>

		<script type="text/javascript">
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		 
		 window.onload = function() {
				//주간베스트 목록
				$.ajax({
					type : 'get',
					url : '/shop/weekBest',
					headers : {
						"Content-Type" : "application/json"
					},
					success : function(result) {						
							$.ajax({
							type : 'post',
							url : '/shop/weekBestProduct',
							beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					               xhr.setRequestHeader(header, token);
					               },
							headers : {
								"Content-Type" : "application/json"
							},
							data:JSON.stringify(result),
							success : function(result) {	
								$("#bestList").html("")
								for(let i=0;i<result.length;i++){
									let list=`<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="/fileView/`+result[i].fileRoute+`">											
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-heart"></i></a></li>												
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">	<h5>
												<a href="#">`+result[i].productName+`</a>
											</h5>
											<div class="product__item__price">
												`+result[i].price+`
											</div>
										</div>
									</div>
								</div>`;
								$("#bestList").html($("#bestList").html()+list)
								}
							},
							error : function(error) {
								console.log(error)
							}
						})
					},
					error : function(error) {
						console.log(error)
					}
				}) 
				
				
				//최근본상품 세션 전달
				let watch = sessionStorage.getItem('productId').split(',');
				let data5 = watch[watch.length-2];
				let data4 = watch[watch.length - 3];
				let data3 = watch[watch.length - 4];
				let data2 = watch[watch.length - 5];
				let data1 = watch[watch.length - 6];
				 $.ajax({
					type : 'post',
					url : '/watchProduct',
					headers : {
						"Content-Type" : "application/json"
					},
					beforeSend : function(xhr)
		               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		               xhr.setRequestHeader(header, token);
		               },
					data : JSON.stringify({
						"session1" : data1,
						"session2" : data2,
						"session3" : data3,
						"session4" : data4,
						"session5" : data5
					}),
					success : function(result) {
						console.log(result)
						$("#watchList").html("");
						for(let i=0; i<result.length;i++){
							let watchList=`<div class="latest-prdouct__slider__item">
								<a href="/shopDetail?data=`+result[i].productId+`" class="latest-product__item">
								<div class="latest-product__item__pic">
									<img src="/fileView/`+result[i].fileRoute+`"
										alt="">
								</div>
								<div class="latest-product__item__text">
									<h6>`+result[i].productName+`</h6>
									<span>`+result[i].price+`</span>
								</div>
							</a>
						</div>`;	
						$("#watchList").prepend(watchList);
						}
						
					},
					error : function(error) {
						console.log(error)
					}
				}) 
			}
		
			let id = '[[${session.id}]]';
			// 상품 상태별 조회
			function changeList(data) {
				console.log(data);
				if (data == 'new') {
					//신상품순으로 목록표시
					location.href = "http://localhost/shop?data=" + data;
				} else {
					//별점순으로 목록표시
					location.href = "http://localhost/shop?data=" + data;
				}
			}

			function likeEvent() {
				alert("찜목록에 추가되었습니다.")
			}

			function cartEvent() {
				alert("장바구니에 추가되었습니다.");
			}

			//최근본상품 세션저장
			function productDetail(data) {
				if (sessionStorage.getItem('productId') != null) {
					let sessionProduct=sessionStorage.getItem('productId');
					sessionProduct=sessionProduct.replace(data+",",'');
					sessionStorage.setItem('productId', sessionProduct+ data + ",");
				} else {
					sessionStorage.setItem('productId', data + ",");
				}
				location.href = '/shopDetail?data=' + data
			}			
		</script>
	</th:block>


</div>
</html>