<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="light"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/sellerLayout}">
<head>
<meta charset="UTF-8">
<title>뷰테스트</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<style type="text/css">
button {
	all: unset;
	background-color: #9dc2c0;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}
</style>
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/8ae463e53a.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header">
			<h1 class="app-content-headerText">Products</h1>
			<button class="mode-switch" title="Switch Theme">
				<svg class="moon" fill="none" stroke="currentColor"
					stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					width="24" height="24" viewBox="0 0 24 24">
					<defs></defs>
					<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
				</svg>
			</button>
		</div>
		<div class="app-content-actions">
			<select id="search"
				style="background-color: rgb(157, 194, 192); text-align: center; color: white; border-radius: 7px; cursor: pointer; width: 71px; height: 28px; border: none; margin-right: 5px;">
				<option style="background: white; color: black;">전체</option>
				<option style="background: white; color: black;">구매자명</option>
				<option style="background: white; color: black;">구매자ID</option>
				<option style="background: white; color: black;">주문번호</option>
				<option style="background: white; color: black;">상품번호</option>
			</select> <input class="search-bar" placeholder="Search..." type="text"
				id="search2">
			<button
				style="background-color: #9dc2c0; text-align: center; color: white; border-radius: 7px; cursor: pointer; width: 54px; height: 28px; margin-left: 10px; border: none;"
				@click="submitBtn()">검색</button>
				<button
				style="background-color: #9dc2c0; text-align: center; color: white; border-radius: 7px; cursor: pointer; width: 54px; height: 28px; margin-left: 106px; border: none;"
				@click="todaySearch()">오늘</button>
				<button
				style="background-color: #9dc2c0; text-align: center; color: white; border-radius: 7px; cursor: pointer; width: 54px; height: 28px; margin-left: 10px; border: none;"
				@click="weekSearch()">일주일</button>
				<button
				style="background-color: #9dc2c0; text-align: center; color: white; border-radius: 7px; cursor: pointer; width: 54px; height: 28px; margin-left: 10px; border: none;"
				@click="monthSearch()">한달</button>
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
						</svg>
					</button>
					<div class="filter-menu" style="margin-right: 66px;">
						<label>Status</label> <select id="status" @click="status()">
							<option>전체</option>
							<option>교환/반품</option>
							<option>배송완료</option>
							<option>배송중</option>
							<option>주문대기</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="products-area-wrapper tableView" >
			<div class="products-header" >
				<div class="product-cell image">
					No.
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell category">
					주문번호
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell sales">
					상품명
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					상품번호
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					주문일자
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					주문상태
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					구매자ID
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					수량
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					옵션
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
						</svg>
					</button>
				</div>
			</div>
			<div class="products-row" v-for="(order,index) in orders" >
				<div class="product-cell image">
					<span>{{index}}</span>
				</div>
				<div class="product-cell category">
					<span class="cell-label">Category:</span>{{order.orderId}}
				</div>
				<div class="product-cell status-cell" >
					<span class="cell-label" >Sales:</span>{{order.productName}}
				</div>
				<div class="product-cell price" >
					<span class="cell-label">Price:</span>{{order.productId}}
				</div>
				<div class="product-cell status-cell">
					<span>{{order.orderDate}}</span>
				</div>
				<div class="product-cell status-cell" style="    width: 211px;">
					<span class="cell-label">Status:</span> <span class="status active"
						v-if="order.orderStatus === '주문대기'"
						style="display: block; line-height: 26px; text-align: center">{{order.orderStatus}}<br>

						<input placeholder="제출 시 배송중 상태로 변경" id="data"
						style="height: 30px; margin: 13px; padding: 0px;"><br>
						<button @click="shippingNum(order)"
							style="all: unset; background-color: #9dc2c0; color: white; border-radius: 2px; cursor: pointer; width: 98px;">송장번호입력</button>

					</span> <span class="status active" v-else>{{order.orderStatus}} </span>
				</div>
				<div class="product-cell status-cell">
					<span>{{order.memberId}}</span>
				</div>
				<div class="product-cell status-cell">
					<span>{{order.detailAmount}}</span>
				</div>
				<div class="product-cell status-cell">
					<span>{{order.detailOption}}</span>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");	
		 
			 //뷰 사용
			 const app = Vue.createApp({
			        data() {
			            return {	
			            	orders:[] , 
			            shippingData:[]
			            };
			        },
			        created() {
						this.orderList();						
			        },
			        methods: {
			        	//한달조회
			        	monthSearch:function (){		
			        		this.searchList('/shop/monthSearch');		
			        	},
			        	//일주일조회
			        	weekSearch:function (){		
			        		this.searchList('/shop/weekSearch');		
			        	},
			        	//오늘조회
			        	todaySearch:function (){		
			        		this.searchList('/shop/todaySearch');		
			        	},
			        	//조회
			        	submitBtn:function () {		
			        		if($("#search").val()=="전체"){
			        			this.searchList2("/arrayOrderAll")
			        		}else if($("#search").val()=="구매자명"){
			        			this.searchList2("/shop/buyName")
			        		}else if($("#search").val()=="구매자ID"){		
			        			this.searchList2("/shop/buyId")	  
			        		}else if($("#search").val()=="주문번호"){		
			        			this.searchList2("/shop/orderNumber")			
			        		}else{
			        			this.searchList2("/shop/productId")
			        		}
			        	},
			        	//검색조회 리스트 만들기
			        	searchList2:function (url){
			        		let is=this;
			        		$.ajax({			        			
			        			type : 'post', 
			        			url : url+'?data='+$("#search2").val(), 				
			        			headers : { 
			        				"Content-Type" : "application/json"					
			        			}, 
			        			beforeSend : function(xhr)
			                    {
			                    	xhr.setRequestHeader(header, token);
			                    },
			        			success : function(result) {				        			
			        				is.orders=result;	
			        			},
			        			error : function(error) { 
			        				console.log(error)
			        			}
			        		})
			        	},
			        	//배송상태값 보내기
			        	searchList:function (url){
			        		let is=this;
			        		$.ajax({
			        			type : 'post', 
			        			url : url, 				
			        			headers : { 
			        				"Content-Type" : "application/json"					
			        			},			
			                    beforeSend : function(xhr)
			                    {
			                    	xhr.setRequestHeader(header, token);
			                    },
			        			success : function(result) {					
			        				is.orders=result;			        							
			        			},
			        			error : function(error) { 
			        				console.log(error)
			        			}
			        		})
			        	},
			        	//상태별 조회
			        	status:function () {		
			        		if($("#status").val()=="교환/반품"){			
			        			this.searchList('/orderExchange')
			        		}else if($("#status").val()=="배송완료"){
			        			this.searchList('/endShipping');
			        		}else if($("#status").val()=="배송중"){		
			        			this.searchList('/shipping');				
			        		}else if($("#status").val()=="주문대기"){		
			        			this.searchList("/sell/waitOrder");	  
			        		}else{
			        			this.orderList();	
			        		}
			        	},			        	
			        	//송장번호 전송
						submitShipping:function (data){		
							 $.ajax({
								type : 'post', 
								url : '/shop/sumbitShipping', 				
								headers : { 
									"Content-Type" : "application/json"					
								},
								beforeSend : function(xhr)
						           {
						            xhr.setRequestHeader(header, token);
						           },
								data : JSON.stringify({  
								      "deliveryId" : data,
								      "orderId":this.shippingData.orderId			      
								    }),
								success : function(result) {					
									alert("주문상태가 변경되었습니다.");
									location.reload();			
								},
								error : function(error) { 
									console.log(error)
								}
							}) 
						},
			        	//송장번호 입력
			        	shippingNum:function(data){			   
			        		var result = confirm("송장번호 제출시 주문상태가 변경됩니다. 제출하시겠습니까?");
			        		if(result){
			        			this.shippingData=data;					
				        		this.submitShipping($(event.target).parent().children('input#data').val())
			        		}		        		
			        	},
			        	//주문리스트
			        	orderList:function(){
			        		let is=this;			        		
			        		$.ajax({
		        				type : 'get', 
		        				url : '/shop/sellerOrderList',	        				
		        				beforeSend : function(xhr)
		        	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		        	               xhr.setRequestHeader(header, token);
		        	               },
		        				success : function(result) {		        					
		        					is.orders=result;
		        				},
		        				error : function(error) { 
		        					console.log(error)
		        				}
		        			})     
			        		
			        	}
			        }
			        });
			 
			 app.mount("#app")
			</script>

		<script type="text/javascript">
				document.querySelector(".jsFilter").addEventListener(
					"click",
					function () {
						document.querySelector(".filter-menu").classList
							.toggle("active");
					});

				document
					.querySelector(".grid")
					.addEventListener(
						"click",
						function () {
							document.querySelector(".list").classList
								.remove("active");
							document.querySelector(".grid").classList
								.add("active");
							document
								.querySelector(".products-area-wrapper").classList
								.add("gridView");
							document
								.querySelector(".products-area-wrapper").classList
								.remove("tableView");
						});

				document
					.querySelector(".list")
					.addEventListener(
						"click",
						function () {
							document.querySelector(".list").classList
								.add("active");
							document.querySelector(".grid").classList
								.remove("active");
							document
								.querySelector(".products-area-wrapper").classList
								.remove("gridView");
							document
								.querySelector(".products-area-wrapper").classList
								.add("tableView");
						});

				var modeSwitch = document.querySelector('.mode-switch');
				modeSwitch.addEventListener('click', function () {
					document.documentElement.classList.toggle('light');
					modeSwitch.classList.toggle('active');
				});
			</script>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>
</html>