<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<style type="text/css">
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
	width: 20%;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}
</style>
</head>


<title>shop detail</title>



<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Vegetable’s Package</h2>
						<div class="breadcrumb__option">
							<a href="./index.html">Home</a> <a href="./index.html">Vegetables</a>
							<span>Vegetable’s Package</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Product Details Section Begin -->
	<section class="product-details spad">
		<div class="container">
			<div class="row" th:each="product:${productList}">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large"
								th:src="@{/fileView/{fileRoute}/
									(fileRoute=${product.fileRoute})}"
								alt="">
						</div>

					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3 th:text=${product.productName}>Vetgetable’s Package</h3>
						<div class="product__details__rating">
							<i class="fa fa-star"
								th:each="num:${#numbers.sequence(1,product.star)}"></i> <i
								class="fa-solid fa-star-half" th:if="${product.star%1 >= 0.5}"></i>
							<button class="openBtn" sec:authorize="isAuthenticated()">신고하기</button>
							<button sec:authorize="isAnonymous()" onclick="noLogin()" >신고하기</button>
							<span th:text="'('+${#lists.size(reviewList)}+' reviews)'">(18
								reviews)</span>
						</div>
						<div class="product__details__price" th:text=${product.price}>$50.00</div>
						<p th:text=${product.productDetail}>Mauris blandit aliquet
							elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet
							quam vehicula elementum sed sit amet dui. Sed porttitor lectus
							nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit
							amet dui. Proin eget tortor risus.</p>
						<div>
							<div class="product__details__quantity">
								<div class="quantity">
									<div class="pro-qty">
										<input type="text" value="1" class="proAmount">
									</div>
								</div>
							</div>
							<select class="options" onchange="optionEvent(this.value)">
								<option value='' selected>-- 옵션 --</option>
								<option th:each="option:${optionList}"
									th:value="${option != null ? option.optionContent : null}"
									th:text="${option != null ? option.optionContent : null}"></option>
							</select> <a th:onclick="cartEvent(this)" class="primary-btn"
								sec:authorize="isAuthenticated()">장바구니 담기</a> <a
								onclick="noLogin()" class="primary-btn"
								href="javascript:location.reload()"
								sec:authorize="isAnonymous()">장바구니 담기</a>
							<button th:onclick="changeHeart(this)" style="border: solid 0px;"
								class="change-heart" sec:authorize="isAuthenticated()">♡</button>
							<br>
						</div>
						<a th:onclick="buyProduct([[${productList}]])" class="primary-btn"
							sec:authorize="isAuthenticated()">구매하기</a> <a
							href="javascript:location.reload()" class="primary-btn"
							sec:authorize="isAnonymous()" onclick="noLogin()">구매하기</a>
						<ul>
							<li><b>Shipping</b> <span>01 day shipping. </span>
						</ul>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">상품상세정보</a>
							</li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#tabs-2" role="tab" aria-selected="false">상품리뷰<span
									th:text="'('+${#lists.size(reviewList)}+')'">(1)</span></a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#tabs-3" role="tab" aria-selected="false">상품문의 </a></li>
						</ul>

						<!-- 상품상세보기 -->
						<div class="tab-content">
							<div class="tab-pane active" id="tabs-1" role="tabpanel"
								th:each=product:${productList}>
								<div class="product__details__tab__desc">
									<div class="product__details__pic__slider owl-carousel">
										<img th:each="img:${imgList}"
											th:data-imgbigurl="@{/fileView/{fileRoute}/
									(fileRoute=${img.fileRoute})}"
											th:src="@{/fileView/{fileRoute}/
									(fileRoute=${img.fileRoute})}"
											alt="">
									</div>
									<br>
									<h6 th:text="${product.productName}">Products Infomation</h6>
									<p th:text="${product.productInfo}"></p>
									<div th:each="nature:${natureImg}">
										<img
											th:data-imgbigurl="@{{fileRoute}{mediaName}/
									(fileRoute=${nature.fileRoute},mediaName=${nature.mediaName})}"
											th:src="@{{fileRoute}{mediaName}/
									(fileRoute=${nature.fileRoute},mediaName=${nature.mediaName})}"
											alt="">
									</div>
									<p></p>
								</div>
							</div>

							<!-- 상품리뷰 -->
							<div class="tab-pane" id="tabs-2" role="tabpanel">
								<div class="product__details__tab__desc">
									<main>
										<section class="news-section section-padding">
											<div class="container">
												<div class="row">
													<div class="author-comment d-flex mt-3 mb-4"
														th:each=" review : ${reviewList}">

														<div th:if="${review.level}==1">
															<img
																th:src="@{/images/avatar/studio-portrait-emotional-happy-funny.jpg}"
																class="img-fluid avatar-image" alt="">
															<div class="author-comment-info ms-3">
																<h6 class="mb-1">
																	<span style="font-weight: bold">[[${review.writerId}]]</span>
																	([[${#dates.format(review.reviewDate, 'YY.MM.DD
																	HH:mm')}]])
																</h6>
																<p class="mb-0">[[${review.reviewContent}]]</p>
																<i class="fa fa-star"
																	th:each="num:${#numbers.sequence(1,review.reviewStar)}"></i>
																<i class="fa-solid fa-star-half"
																	th:if="${review.reviewStar%1 >= 0.5}"></i>
																<div class="d-flex mt-2">
																	<button href="#" class="openBtn">신고</button>
																</div>
															</div>

														</div>

														<div th:unless="${review.level}==1"
															style="margin-left: 100px">

															<img
																th:src="@{/images/avatar/studio-portrait-emotional-happy-funny.jpg}"
																class="img-fluid avatar-image" alt=""> 판매자
															<div class="author-comment-info ms-3">
																<h6 class="mb-1">
																	<span style="font-weight: bold">[[${review.writerId}]]</span>
																	([[${#dates.format(review.reviewDate, 'YY.MM.DD
																	HH:mm')}]])
																</h6>
																<p class="mb-0">[[${review.reviewContent}]]</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</main>
								</div>
							</div>

							<!-- 상품문의 -->
							<div class="tab-pane" id="tabs-3" role="tabpanel">
								<div class="product__details__tab__desc">
									<h6>Products Infomation</h6>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Details Section End -->

	<!-- 상품신고모당창 -->
	<div class="modal hidden">
		<div class="modal__background"></div>
		<div class="modal__content">
			<h3>신고하기</h3>
			<div class="modalText">
				<p>사유선택</p>
				<input type="checkbox" name="reason" id="ban1"
					th:onclick="checkOnlyone(this)" value="욕설 및 비하 발언">욕설 및 비하
				발언 <span id="1"></span><br> <input type="checkbox"
					value="친환경 물품이 아님" id="ban2" name="reason"
					th:onclick="checkOnlyone(this)"> 친환경 물품이 아님<span id="2"></span>

				<br> <input type="checkbox" value="불건전한 게시물 등록" name="reason"
					id="ban3" th:onclick="checkOnlyone(this)"> 불건전한 게시물 등록 <span
					id="3"></span><br> <input type="checkbox" value="기타"
					name="reason" id="ban4" th:onclick="checkOnlyone(this)"> 기타
				<span id="4"></span> <br>

				<button th:onclick="banSubmit()">신고하기</button>
				<button class="closeBtn">닫기</button>
			</div>
		</div>
	</div>





	<!-- JS -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
		<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
		<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
		<script th:src="@{/shoptemplate/js/main.js}"></script>

		<script type="text/javascript">		
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");		
		 
		 //로그인 안햇을때 실행
		 function noLogin(){
			 alert("로그인 후 이용가능 합니다.")
			 location.reload();
		 }
		 
				//찜선택
				function changeHeart(data){	
					const urlParams = new URL(location.href).searchParams;
					const name = urlParams.get('data');	
					if(data.innerText=="♡"){						
						fetch('http://localhost/likeAdd?data='+name)						
						  .then((response) => console.log('success'))
						  .then((data) => console.log(data));		
						data.innerText="♥";				
					}else{					
						fetch('http://localhost/likeDel?data='+name)
						  .then((response) => console.log('success'))
						  .then((data) => console.log(data));
						data.innerText="♡";
					};					
				}
				
				function optionEvent(data){				
					let options=document.querySelector(".options").value;
					options.value(data);
				}
				
				//장바구니담기
				function cartEvent(data){
					let cartAmount=document.querySelector(".proAmount").value;
					let cartOption=document.querySelector(".options").value;
					let urlParams = new URL(location.href).searchParams;
					let productId = urlParams.get('data');		
					console.log(cartOption)
					 fetch('http://localhost/cartAdd?productId='+productId+'&cartAmount='+cartAmount+'&cartOption='+cartOption)
					  .then((response) => alert('장바구니에 담겼습니다.'))		
				}
			
					
				//상품신고모달창 생성
				const openButton = document.querySelector(".openBtn");
				const modal = document.querySelector(".modal");
				const closeButton = modal.querySelector(".closeBtn");
				const modalBackground = modal.querySelector(".modal__background");

				function displayModal(){
				    modal.classList.toggle("hidden");
				}

				openButton.addEventListener("click", displayModal);
				closeButton.addEventListener("click", displayModal)
				modalBackground.addEventListener("click", displayModal);
			
				
				//신고체크박스시 자세내용적기 창 생성
				function checkOnlyone(element){
					const reason=document.getElementsByName("reason");
					reason.forEach((cb) => 
					{cb.checked = false;	
					let span=cb.nextElementSibling;
					span.innerHTML="";	
					})						
					element.checked = true;
					let span=element.nextElementSibling;
					span.innerHTML="<br><textarea name='text' placeholder='상세설명' id='detailReason'></textarea>";										
				}
				
				//신고제출
				function banSubmit(){			
					let reasonLength = document.getElementsByName("reason").length;  
       				for (var i=0; i<reasonLength; i++) {
            			if (document.getElementsByName("reason")[i].checked == true) {
                			console.log(document.getElementsByName("reason")[i].value); 
                			var reason=document.getElementsByName("reason")[i].value
            			}
					}
       				console.log(document.getElementById("detailReason").value);
       				let detailReason=document.getElementById("detailReason").value;
       				let fromId="[[${session.id}]]";
    				let groupId="[[${param.data}]]";
       				fetch('http://localhost/addBan',{
       					headers: {
       					    "Content-Type": "application/json",
       					    "X-CSRF-TOKEN":token
       					  },
       					method:"post",       					
       					body: JSON.stringify({
       						reason: reason,
       						detailReason: detailReason,
       						fromId:fromId,
       						groupId:groupId
       					  })
       					})       				
					  .then((response) => {
						    alert('신고처리 되었습니다.');
						    displayModal();})					
				}
				
				//주문결제페이지이동
				function buyProduct(data){					
					let productId=data[0].productId;
					let cartAmount=document.querySelector(".proAmount").value;
					let cartOption=document.querySelector(".options").value;
					location.href='/buyProduct?productId='+productId+'&amount='+cartAmount+'&option='+cartOption;			
				}
				
				
			</script>
	</th:block>
</div>
<!-- Related Product Section End -->