<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout3}">

<!-- Css  -->
<th:block layout:fragment="css">
</th:block>

<head>
<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="content" class="app-content">
    <div id="app">
    
    
    
      <div>{{message}}</div>
      <h1>{{description}}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    window.onload=function(){
    	var data = {
        	    "b_no": ["1058633455"] // 사업자번호 "xxxxxxx" 로 조회 시,
        	   }; 
        	   
        	$.ajax({
        	  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=stP86vGAn8wv2bzGqed5SejJCvve7nWirKNy76rt7822yygDQMBNgikMe4EnSJIzJoN2N1VZ40K2AlVgpo0TTw%3D%3D",  // serviceKey 값을 xxxxxx에 입력
        	  type: "POST",
        	  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
        	  dataType: "JSON",
        	  contentType: "application/json",
        	  accept: "application/json",
        	  success: function(result) {
        	      console.log(result);
        	  },
        	  error: function(result) {
        	      console.log(result.responseText); //responseText의 에러메세지 확인
        	  }
        	});
        		
    }
    
    
      var app = new Vue({
        el: '#app',
        data: {
          message: '안녕하세요 Vue!',
          description: '반갑습니다',
        },
      });
    </script>
    </div>
  </body>
</html>