<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
	<link type="text/css" rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/aksfileupload@1.0.0/dist/aksFileUpload.min.css}">
	<script th:src="@{/js/fileupload.js}"></script>
</th:block>

<head>
<meta charset="UTF-8">
<style>
.aks-file-upload-label {
	width: 100%;
}

#aks-file-upload {
	width: 400px;
	display: block;
	margin: 0 auto;
	margin-top: 4rem;
}

#uploadfile {
	margin: 0 auto;
	color: #002c7b;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-width: 1400px;
}

.main-container {
	padding: 20px;
	flex-grow: 1;
	overflow: auto;
	background-color: #FCFBFC;
}

.profile-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
}

.subheader {
	position: relative;
	height: 300px;
	min-height: 250px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}

.subheader:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	background-image: url("/course/member.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(30px);
	opacity: 0.7;
}

.glass {
	height: 100%;
	width: 100%;
	background-image: url("/course/member.gif");
	background-size: cover;
	background-position: center;
	clip-path: inset(10em);
	filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-shadow {
	height: 155%;
	width: 100%;
	filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-shadow:before {
	display: block;
	content: "";
	position: absolute;
	top: 10em;
	height: calc(100% - 20em);
	width: calc(100% - 20em);
	border-top: 2px solid rgba(225, 225, 225, 0.2);
	border-left: 1px solid rgba(225, 225, 225, 0.1);
	border-right: 1px solid rgba(225, 225, 225, 0.3);
	z-index: 2;
}

.drop-shadow>span {
	position: absolute;
	z-index: 5;
	color: white;
	font-size: 4em;
	letter-spacing: 0.75em;
	padding-left: 0.375em;
}

</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="main">
			<div class="main-container">
				<div class="subheader">
					<img src="/course/member.gif" alt="" class="profile-cover">
					<div class="drop-shadow">
						<div class="glass"></div>
						<span>APPLY</span>
					</div>
				</div>
				<!-- Breadcrumb Section End -->
				<br>
				<div class="wrapper">
					<div class="title">Apply Form</div>
					<form name="signupFrm" class="form">
						<div class="inputfield">
							<img id="preview-image" th:src="@{/images/defaulltProfile.png}">
						</div>
						<div class="filebox">
							<label style="width: 20%;"></label> <input class="inputfile"
								placeholder="프로필사진" readonly> <label for="profileInput"
								class="filelabel">사진등록</label> <input name="profileFile"
								type="file" class="file" id="profileInput"
								accept=".gif, .jpg, .png, .bmp">
						</div>
						<div class="inputfield">
							<label>아이디<span class="request">*</span></label> <input
								type="text" name="memberId" class="input"><input
								type="button" value="중복체크" class="checkBtn checkId"> <input
								type="hidden" value="false" id="checkId">
						</div>
						<p style="margin-left: 20%">5~15자 영문,숫자만 사용</p>
						<div class="inputfield">
							<label>비밀번호<span class="request">*</span></label> <input
								type="password" name="password" class="input">
						</div>
						<p style="margin-left: 20%">8~16자 영문,숫자,특수문자 사용</p>
						<div class="inputfield">
							<label>비밀번호 확인<span class="request">*</span></label> <input
								type="password" name="pwCheck" class="input"> <input
								type="hidden" value="false" id="pwCheck">
						</div>
						<div class="inputfield">
							<label>이름<span class="request">*</span></label> <input
								type="email" name="name" class="input">
						</div>
						<div class="inputfield">
							<label>신청타입<span class="request">*</span></label>
							<div class="custom_select">
								<select name="memberClass">
									<option value="">::신청타입::</option>
									<option value="SELLER">쇼핑몰</option>
									<option value="TEACHER">클래스</option>
								</select>
							</div>
						</div>
						<div class="inputfield">
							<label>상호명<span class="request">*</span></label> <input
								type="text" name="nickname" class="input">
						</div>
						<div class="inputfield">
							<label>이메일<span class="request">*</span></label> <input
								type="email" name="email" class="input"><input
								type="button" value="이메일인증" class="checkBtn checkEmail">
						</div>
						<div class="inputfield emailCk">
							<label>이메일 인증<span class="request">*</span></label> <input
								type="email" name="emailCk" class="input"><input
								type="button" value="인증" class="checkBtn"> <input
								type="hidden" value="false" id="emailCk">
						</div>
						<div class="inputfield">
							<label>연락처<span class="request">*</span></label> <input
								type="tel" class="input" name="phone" placeholder="'-'포함"><input
								type="hidden" value="false" id="phone">
						</div>
						<div class="inputfield">
							<label>우편번호<span class="request">*</span></label> <input
								type="text" name="postalCode" id="sample6_postcode"
								class="input"><input type="button"
								onclick="sample6_execDaumPostcode()" value="주소검색"
								class="checkBtn">
						</div>
						<div class="inputfield">
							<label>주소<span class="request">*</span></label> <input
								type="text" name="addr" id="sample6_address" class="input">
						</div>
						<div class="inputfield">
							<label>상세주소<span class="request">*</span></label> <input
								type="text" name="detailAddr" id="sample6_detailAddress"
								class="input">
						</div>
						<div class="inputfield">
							<label>사업자번호<span class="request">*</span></label> <input
								type="text" name="businessNumber" class="input"><input
								type="button" value="조회" class="checkBNum checkBtn"> <input
								type="hidden" value="false" id="checkBNum">
						</div>
						<div class="inputfield">
							<label>계좌<span class="request">*</span></label>
							<div class="custom_select">
								<select name="bank">
									<option value="">::은행선택::</option>
									<option th:each="bank : ${bankList}" th:value=${bank.CODE_ID}
										th:text="${bank.CODE_NAME}"></option>
								</select>
							</div>
						</div>
						<div class="inputfield">
							<label></label> <input type="text" name="bankAccount"
								class="input">
						</div>
						<div class="inputfield">
							<label>사업 상세 설명<span class="request">*</span></label>
							<textarea name="detailExplain"></textarea>
						</div>
						<div class="inputfield">
							<label>인증사진<span class="request">*</span></label>
							<p>*상품 또는 사업장 사진을 최소 5장 최대 10장내로 등록해주세요</p>
						</div>
						<div class="inputfiles">
							<input name="applyFile" type="file"
								accept=".gif, .jpg, .png, .bmp" style="display: none;">
							<div id="aks-file-upload"></div>
						</div>
						<div class="inputfield terms">
							<label class="check"> <input type="checkbox"> <span
								class="checkmark"></span>
							</label>
							<p>가입신청 동의</p>
						</div>
						<div class="inputfield">
							<button type="button" class="btn">가입신청</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			let emailCk = '';
			let token = $("meta[name='_csrf']").attr("content");
			let header = $("meta[name='_csrf_header']").attr("content");
			let applyFileList = [];

			// 이미지 미리보기
			$("input[name=profileFile]").on('change', function () {
				let fileName = $("input[name=profileFile]").val();
				$(".inputfile").val(fileName);
				readURL(this);
			});

			function readURL(obj) {
				let reader = new FileReader();
				if (!obj.files.length) {
					return;
				}
				reader.readAsDataURL(obj.files[0]);
				reader.onload = function (e) {
					$('#preview-image').attr('src', e.target.result);
				}
			}

			// 아이디 입력창 변화 확인
			$('input[name=memberId]').on('change', function () {
				$('#checkId').val('false');
			})

			// 아이디중복체크
			$('.checkId').on('click', function () {
				let idtag = $(this).parentsUntil('.form').find('input[name=memberId]');
				let id = $(idtag).val().toLowerCase();
				let str = /^(?=.*?[a-z])(?=.*?[0-9]).{5,15}$/;
				if (!str.test(id)) {
					console.log(false)
					if ($(idtag).parentsUntil('.form').next().prop('tagName') == 'P') {
						$(idtag).parentsUntil('.form').next().remove();
					}
					$(idtag).parentsUntil('.form').after($('<p/>').text("5~15자 영문,숫자만 사용해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#checkId').val('false');
					return;
				}
				$.ajax({
					url: '/checkId',
					method: 'GET',
					data: {
						"memberId": id
					},
					contentType: 'application/x-www-form-urlencoded',
					success: function (result) {
						if ($(idtag).parentsUntil('.form').next().prop('tagName') == 'P') {
							$(idtag).parentsUntil('.form').next().remove();
						}
						if (result) {
							$(idtag).parentsUntil('.form').after($('<p/>').text(
								"이미 있는 아이디입니다. 다른 아이디를 입력해주세요").css("margin-left", "20%").css(
								"color", "#f20000"));
							$('#checkId').val('false');
						} else {
							$(idtag).parentsUntil('.form').after($('<p/>').text("사용할 수 있는 아이디입니다").css(
								"margin-left", "20%"));
							$('#checkId').val('true');
						}
					},
					error: function (error) {
						console.log(error);
						alert('실패');
					}
				})
			})


			// 비밀번호 입력창 변화 확인
			$('input[name=password]').on('change', function () {
				$('#pwCheck').val('false');
			})

			// 비밀번호 확인
			$('input[name=pwCheck]').on('change', function () {
				let pw = $('input[name=password]').val();
				let pwCheck = $('input[name=pwCheck]').val();
				let str = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,16}$/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(pw.toLowerCase())) {
					$(this).parentsUntil('.form').after($('<p/>').text("8~16자 영문,숫자,특수문자 사용해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#pwCheck').val('false');
					return;
				}
				if (pw == pwCheck) {
					$('#pwCheck').val('true');
					$(this).parentsUntil('.form').after($('<p/>').text("비밀번호가 일치합니다").css("margin-left", "20%"));
				} else {
					$('#pwCheck').val('false');
					$(this).parentsUntil('.form').after($('<p/>').text("비밀번호가 일치하지않습니다. 다시입력해주세요").css("margin-left",
						"20%").css("color", "#f20000"));
				}
			});

			// 이메일 입력창 변화 확인
			$('input[name=email]').on('change', function () {
				if ($('input[name=email]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=email]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=emailCk]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=emailCk]').parentsUntil('.form').next().remove();
				}
				$('#emailCk').val('false');
				$('.emailCk').css("display", "none");
				$('input[name=emailCk]').val("");
			})

			// 이메일 체크
			$('.checkEmail').on('click', function () {
				let email = $(this).parentsUntil('.form').find('input').eq(0).val();
				let str =
					/(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(email)) {
					$(this).parentsUntil('.form').after($('<p/>').text("올바른 이메일을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#emailCk').val('false');
					return;
				}
				$.ajax({
					url: '/searchEmail',
					method: 'GET',
					data: {
						"email": email
					},
					contentType: 'application/x-www-form-urlencoded;',
					success: function (result) {
						if (result == 'true') {
							$('.checkEmail').parentsUntil('.form').after($('<p/>').text(
								"이미 있는 이메일입니다. 다른 이메일을 입력해주세요").css(
								"margin-left", "20%").css("color", "#f20000"));
							return;
						} else {
							$('.checkEmail').parentsUntil('.form').after($('<p/>').text(
								"이메일을 확인해주세요. 인증번호 발급은 최대 5분정도 소요됩니다.").css(
								"margin-left", "20%"));
							$('.emailCk').css("display", "flex");
							sendAuthMail(email);
						}
					},
					error: function (error) {
						console.log(error);
					}
				})
			})

			function sendAuthMail(email) {
				$.ajax({
					url: '/authMail',
					method: 'POST',
					data: {
						"email": email
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					contentType: 'application/x-www-form-urlencoded;',
					success: function (result) {
						if (result == 'fail') {
							alert('메일보내기를 실패했습니다. 다시시도해주세요');
						} else {
							emailCk = result;
						}
					},
					error: function (error) {
						console.log(error);
					}
				})
			}

			// 이미지 인증번호 입력
			$('.emailCk').find('input[type=button]').on('click', function () {
				let ckString = $('input[name=emailCk]').val();
				if ($('.emailCk').next().prop('tagName') == 'P') {
					$('.emailCk').next().remove();
				}
				if (emailCk == ckString) {
					$('#emailCk').val('true');
					$('.emailCk').after($('<p/>').text("이메일 인증이 완료되었습니다").css("margin-left", "20%"));
				} else {
					$('#emailCk').val('false');
					$('.emailCk').after($('<p/>').text("인증번호가 틀립니다. 다시입력해주세요").css("margin-left",
						"20%").css("color", "#f20000"));
				}
			});

			// 연락처 확인
			$('input[name=phone]').on('change', function () {
				let tel = $(this).val();
				let str = /^\d{2,3}-\d{3,4}-\d{4}$/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(tel)) {
					$(this).parentsUntil('.form').after($('<p/>').text("올바른 연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#phone').val('false');
					return;
				} else {
					$('#phone').val('true');
				}
				return;
			})

			// 우편번호 찾기
			function sample6_execDaumPostcode() {
				new daum.Postcode({
					oncomplete: function (data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 각 주소의 노출 규칙에 따라 주소를 조합한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						let addr = ''; // 주소 변수
						let extraAddr = ''; // 참고항목 변수

						//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
						if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
							addr = data.roadAddress;
						} else { // 사용자가 지번 주소를 선택했을 경우(J)
							addr = data.jibunAddress;
						}

						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}


						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr;
						// 커서를 상세주소 필드로 이동한다.
						document.getElementById("sample6_detailAddress").focus();
					}
				}).open();
			}

			// 사업자번호 입력창 변화 확인
			$('input[name=businessNumber]').on('change', function () {
				$('#checkBNum').val('false');
			})

			// 사업자번호 인증
			$('.checkBNum').on('click', function () {
				var data = {
					"b_no": [$('input[name=businessNumber]').val()] // 사업자번호 "xxxxxxx" 로 조회 시,"1058633455"
				};
				$.ajax({
					url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=stP86vGAn8wv2bzGqed5SejJCvve7nWirKNy76rt7822yygDQMBNgikMe4EnSJIzJoN2N1VZ40K2AlVgpo0TTw%3D%3D", // serviceKey 값을 xxxxxx에 입력
					type: "POST",
					data: JSON.stringify(data), // json 을 string으로 변환하여 전송
					dataType: "JSON",
					contentType: "application/json",
					accept: "application/json",
					success: function (result) {
						if (result.data[0].b_stt_cd == '01') {
							$('#checkBNum').val('true');
							if ($('input[name=businessNumber]').parentsUntil('.form').next().prop(
								'tagName') == 'P') {
								$('input[name=businessNumber]').parentsUntil('.form').next().remove();
							}
							$('input[name=businessNumber]').parentsUntil('.form').after($('<p/>').text(
								"사업자번호 인증이 완료되었습니다").css(
								"margin-left", "20%"));
						}
					},
					error: function (result) {
						console.log(result.responseText); //responseText의 에러메세지 확인
					}
				});
			})

			$("#aks-file-upload").aksFileUpload({
				fileUpload: "#uploadfile", // With target [input]file or [type]json you can save the data of loaded items
				fileType: ["pdf", "docx", "rtf", "jpg", "jpeg", "png"], // allowed file formats
				dragDrop: true, // drag & drop upload
				maxSize: "90 GB", // maximum uploaded file size
				multiple: true, // multiple file upload
				maxFile: 10, // maximum number of uploaded files
				maxFileError: "10개를 넘길 수 없습니다", // error text
				maxSizeError: "File exceeds size. - Max limit:", // error text
				fileTypeError: "Disallowed file format.", // error text
				label: "클릭하거나 파일을 올려주세요" // label text
			});

			//이미지목록에서 삭제하면 input file도 삭제
			function delfileList(fileName) {
				for (let i = 0; i < applyFileList.length; i++) {
					if (applyFileList[i].name == fileName) {
						applyFileList.splice(i, 1);
					}
				}
				$('#aks-file-upload').find('input#aksfileupload').val("");
			}

			//img 비교해서 이미 표시된 이미지면 표시안함
			function matchfile(fileName) {
				let check = true;
				if (applyFileList.length == 0) {
					listinput(fileName);
					return check;
				} else {
					for (let i = 0; i < applyFileList.length; i++) {
						if (applyFileList[i].name == fileName) {
							check = false;
						}
					}
				}
				if (check) {
					listinput(fileName);
				}
				return check;
			}

			// 중복되지 않는 파일은 저장
			function listinput(fileName) {
				let files = $('#aks-file-upload').find('input#aksfileupload')[0].files;
				let fileArray = Array.from(files);
				for (let i = 0; i < fileArray.length; i++) {
					if (fileArray[i].name == fileName) {
						applyFileList.push(fileArray[i]);
					}
				}
				return;
			}

			// 이미지 갯수 확인
			function fileCount(inputCount) {
				if ($('input[name=applyFile]').parentsUntil('.form').prev().prop('tagName') == 'P') {
					$('input[name=applyFile]').parentsUntil('.form').prev().remove();
				}
				let check = true;
				if (applyFileList.length + inputCount > 10) {
					$('input[name=applyFile]').parentsUntil('.form').before($('<p/>').text("사진은 최대 10장까지 등록가능합니다").css(
						"text-align", "center").css("color", "#f20000"));
					check = false;
				} else if (applyFileList.length + inputCount < 5) {
					$('input[name=applyFile]').parentsUntil('.form').before($('<p/>').text("사진을 최소 5장이상 등록해주세요").css(
						"text-align", "center").css("color", "#f20000"));
				}
				return check;
			}


			// 파일들 원하는 input에 담기
			function inputFile() {
				const dataTransfer = new DataTransfer();
				applyFileList.forEach(file => {
					dataTransfer.items.add(file);
				});
				$('input[name=applyFile]')[0].files = dataTransfer.files; //제거 처리된 FileList를 돌려줌
			}

			// 회원가입폼 확인
			$('.btn').on('click', function () {
				if ($('input[name=memberId]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=memberId]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=password]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=password]').parentsUntil('.form').next().remove();
				}
				if ($('#pwCheck').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('#pwCheck').parentsUntil('.form').next().remove();
				}
				if ($('input[name=name]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=name]').parentsUntil('.form').next().remove();
				}
				if ($('select[name=memberClass]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('select[name=memberClass]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=nickname]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=nickname]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=email]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=email]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=phone]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=phone]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=addr]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=addr]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=postalCode]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=postalCode]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=detailAddr]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=detailAddr]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=businessNumber]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=businessNumber]').parentsUntil('.form').next().remove();
				}
				if ($('input[type=checkbox]').parentsUntil('.form').next().eq(1).prop('tagName') == 'P') {
					$('input[type=checkbox]').parentsUntil('.form').next().eq(1).remove();
				}
				if ($('input[name=bankAccount]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=bankAccount]').parentsUntil('.form').next().remove();
				}
				if ($('textarea[name=detailExplain]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('textarea[name=detailExplain]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=applyFile]').parentsUntil('.form').prev().prop('tagName') == 'P') {
					$('input[name=applyFile]').parentsUntil('.form').prev().remove();
				}
				if ($('input[type=checkbox]').parentsUntil('.form').next().eq(1).prop('tagName') == 'P') {
					$('input[type=checkbox]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=applyFile]').parentsUntil('.form').prev().prop('tagName') == 'P') {
					$('input[name=applyFile]').parentsUntil('.form').prev().remove();
				}
				// 
				if (!$('input[name=memberId]').val()) {
					$('input[name=memberId]').parentsUntil('.form').after($('<p/>').text("아이디를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=memberId]').focus();
					return;
				}
				if (!$('input[name=password]').val()) {
					$('input[name=password]').parentsUntil('.form').after($('<p/>').text("비밀번호를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=password]').focus();
					return;
				}
				if ($('#pwCheck').val() == 'false') {
					$('#pwCheck').parentsUntil('.form').after($('<p/>').text("비밀번호가 일치하지 않습니다").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=pwCheck]').focus();
					return;
				}
				if (!$('input[name=name]').val()) {
					$('input[name=name]').parentsUntil('.form').after($('<p/>').text("이름을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=name]').focus();
					return;
				}
				if (!$('select[name=memberClass]').val()) {
					$('select[name=memberClass]').parentsUntil('.form').eq(1).after($('<p/>').text("신청타입을 선택해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('select[name=memberClass]').focus();
					return;
				}
				if (!$('input[name=nickname]').val()) {
					$('input[name=nickname]').parentsUntil('.form').after($('<p/>').text("상호명을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=nickname]').focus();
					return;
				}
				if (!$('input[name=email]').val()) {
					$('input[name=email]').parentsUntil('.form').after($('<p/>').text("이메일을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=email]').focus();
					return;
				}
				if ($('#emailCk').val() == 'false') {
					$('input[name=email]').parentsUntil('.form').after($('<p/>').text("이메일 인증을 해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=email]').focus();
					return;
				}
				if (!$('input[name=phone]').val()) {
					$('input[name=phone]').parentsUntil('.form').after($('<p/>').text("연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=phone]').focus();
					return;
				}
				if ($('#phone').val() == 'false') {
					$('input[name=phone]').parentsUntil('.form').after($('<p/>').text("올바른 연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=phone]').focus();
					return;
				}
				if (!$('input[name=postalCode]').val()) {
					$('input[name=postalCode]').parentsUntil('.form').after($('<p/>').text("우편번호를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=postalCode]').focus();
					return;
				}
				if (!$('input[name=addr]').val()) {
					$('input[name=addr]').parentsUntil('.form').after($('<p/>').text("주소를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=addr]').focus();
					return;
				}
				if (!$('input[name=detailAddr]').val()) {
					$('input[name=detailAddr]').parentsUntil('.form').after($('<p/>').text("상세주소를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=detailAddr]').focus();
					return;
				}
				if (!$('input[name=businessNumber]').val()) {
					$('input[name=businessNumber]').parentsUntil('.form').after($('<p/>').text("사업자번호를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=businessNumber]').focus();
					return;
				}
				if ($('#checkBNum').val() == 'false') {
					$('input[name=businessNumber]').parentsUntil('.form').after($('<p/>').text("사업자번호를 조회해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=businessNumber]').focus();
					return;
				}
				if (!$('select[name=bank]').val()) {
					$('input[name=bankAccount]').parentsUntil('.form').after($('<p/>').text("은행을 선택해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=bankAccount]').focus();
					return;
				}
				if (!$('input[name=bankAccount]').val()) {
					$('input[name=bankAccount]').parentsUntil('.form').after($('<p/>').text("계좌를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=bankAccount]').focus();
					return;
				}
				if (!$('textarea[name=detailExplain]').val()) {
					$('textarea[name=detailExplain]').parentsUntil('.form').after($('<p/>').text("상세 설명을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('textarea[name=detailExplain]').focus();
					return;
				}
				if (applyFileList.length < 5) {
					console.log($('input[type=applyFile]').parentsUntil('.form'));
					$('input[name=applyFile]').parentsUntil('.form').before($('<p/>').text("사진을 최소 5장이상 등록해주세요").css(
						"text-align", "center").css("color", "#f20000"));
					return;
				}
				if (!$('input[type=checkbox]').is(':checked')) {
					$('input[type=checkbox]').parentsUntil('.form').eq(1).after($('<p/>').text("가입신청에 동의해주세요").css(
						"color", "#f20000"));
					return;
				}
				insertApply();
			})

			// 회원등록
			function insertApply() {
				inputFile();
				let data = new FormData($('.form')[0]);
				$.ajax({
					url: '/insertApply',
					enctype: 'multipart/form-data',
					method: 'POST',
					processData: false,
					contentType: false,
					data: data,
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						if (result == "success") {
							location.href = "/applyCOM"
						} else {
							alert('등록실패');
						}
					},
					error: function (error) {
						console.log(error);
						alert('실패');
					}
				})
			}
		</script>

		<!-- JS -->
		<th:block layout:fragment="script">
			<script
				th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
	</div>

</body>

</html>