<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/AdminLayout}">
<head>
<meta charset="UTF-8">
<title>뷰테스트</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<style type="text/css">
button {
	all: unset;
	background-color: mediumslateblue;
	color: white;
	padding: 5px 25px;
	border-radius: 10px;
	cursor: pointer;
}

.btn {
	margin-top: 60px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

.hidden {
	display: none;
}

li {
	list-style-type: none;
}

.slider {
	width: 640px;
	height: 480px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.imgs li {
	position: absolute;
	left: 640px;
	transition-delay: 1s;
	padding: 0;
	margin: 0;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	left: 0;
	transition: 0.5s;
	z-index: 1;
}

.mySlides {
	display: none;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header">
			<button class="mode-switch" title="Switch Theme">
				<svg class="moon" fill="none" stroke="currentColor"
					stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
			</button>

		</div>
		<div class="app-content-actions">
			<button @click="waitApprove()">승인요청건</button>
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg>
					</button>
					<div class="filter-menu">

						<label>권한</label> <select name="role" id=role>
							<option>ROLE</option>
							<option>TEACHER</option>
							<option>USER</option>
							<option>ADMIN</option>
							<option>SELLER</option>
						</select> <label>상태</label> <select name="status" id=status>
							<option>STATUS</option>
							<option>TRUE</option>
							<option>FALSE</option>
						</select> <label for="white"> 시작 <input id="startDate" type="date">
						</label> <label for="gray"> 종료 <input id="endDate" type="date">
							<div class="filter-menu-buttons">
								<button class="filter-button reset" onclick="location.reload()">Reset</button>
								<button class="filter-button apply" @click="apply()">Apply</button>
							</div>
					</div>
				</div>
				<button class="action-button list active" title="List View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-list">
						<line x1="8" y1="6" x2="21" y2="6" />
						<line x1="8" y1="12" x2="21" y2="12" />
						<line x1="8" y1="18" x2="21" y2="18" />
						<line x1="3" y1="6" x2="3.01" y2="6" />
						<line x1="3" y1="12" x2="3.01" y2="12" />
						<line x1="3" y1="18" x2="3.01" y2="18" /></svg>
				</button>
				<button class="action-button grid" title="Grid View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-grid">
						<rect x="3" y="3" width="7" height="7" />
						<rect x="14" y="3" width="7" height="7" />
						<rect x="14" y="14" width="7" height="7" />
						<rect x="3" y="14" width="7" height="7" /></svg>
				</button>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell image">
					No.
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell image">
					회원ID
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell image">
					회원이름
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell category">
					EMAIL
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					전화번호
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell sales">
					요청날짜
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell stock">
					정지날짜
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell stock">
					권한
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell price">
					상태
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
			</div>

			<div class="products-row" v-for="(member,index) in members">
				<button class="cell-more-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-more-vertical">
						<circle cx="12" cy="12" r="1" />
						<circle cx="12" cy="5" r="1" />
						<circle cx="12" cy="19" r="1" /></svg>
				</button>
				<div class="product-cell image">
					<span>{{index}}</span>
				</div>
				<div class="product-cell category"
					@click="displayModal(member)">{{member.memberId}}</div>
				<div class="product-cell category">{{member.name}}</div>
				<div class="product-cell status-cell">{{member.email}}</div>
				<div class="product-cell status-cell">{{member.phone}}</div>
				<div class="product-cell status-cell">{{dateTime(member.signupdate)}}</div>
				<div class="product-cell sales">{{dateTime(member.bandate)}}</div>
				<div class="product-cell stock">{{member.role}}</div>
				<div class="product-cell price">
					<span class="status active" v-if="member.status=='true'">{{member.status}}</span>
					<span class="status active" v-else="member.status=='true'"
						style="background-color: #F78181; color: #A4A4A4">{{member.status}}</span>
				</div>
			</div>





			<!-- 회원승인모달창(상세보기) -->
			<div class="modal hidden">
				<div class="modal__background"></div>
				<div class="modal__content" text-align:center>
					승인요청일{{dateTime(approve.applyDate)}} 승인요청인아이디 {{approve.memberId}}


					<div class="w3-content w3-display-container">

						<img v-for="img in imgs" class="mySlides"
							:src="'/fileView/'"+img.fileRoute
							style="width: 350px; height: 350px; margin: auto">

						<button class="w3-button w3-black w3-display-left"
							onclick="plusDivs(-1)">&#10094;</button>
						<button class="w3-button w3-black w3-display-right"
							onclick="plusDivs(1)">&#10095;</button>
					</div>
					<ul style="list-style-type: none;">
						<li>상품명</li>
						<li>상품상세설명</li>
						<li>카테고리</li>
					</ul>
					<button @click="approProduct(selectProduct.productId)">승인</button>
					&nbsp&nbsp&nbsp&nbsp
					<button class="closeBtn" @click="closeModal()">닫기</button>
				</div>
			</div>
		</div>

		<script>
		
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");
		 
		 var slideIndex = 1;
		 showDivs(slideIndex);

		 function plusDivs(n) {
		   showDivs(slideIndex += n);
		 }

		 function showDivs(n) {
		   var i;
		   var x = document.getElementsByClassName("mySlides");
		   if (n > x.length) {slideIndex = 1}
		   if (n < 1) {slideIndex = x.length}
		   for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";  
		   }
		   x[slideIndex-1].style.display = "block";  
		 }
		 
		  //뷰 사용
		 const app = Vue.createApp({
		        data() {
		            return {	
		            	members:[],
		            	approve:[],
		            	imgs:[]
		            };
		        },
		        created() {
		            this.fetchComments();		            
		        },
		       
		        methods: {
		        	//날짜포맷
		        	dateTime:function(value){
		        		 return moment(value).format("YYYY-MM-DD");
		        	},
		        	//승인요청건 가져오기
		        	waitApprove:function(){
		        		let is=this;
		        		 $.ajax({
			                    url: '/admin/waitApprove',
			                    method: 'GET',
			                    success: function (data) {	
			                    	console.log(data)
			                    	is.members=data;			                    	
			                    }
			                });
		        	},
		        	//모달창띄우기
		        	displayModal:function(data){	        		
		        		this.approve=data
		        		const modal = document.querySelector(".modal");
		        		modal.classList.toggle("hidden");
		        		let is=this;
		        		//승인요청건 이미지가져오기
		        		 $.ajax({
								type : 'post', 
								url : '/admin/approveImg', 										
								beforeSend : function(xhr)
					            {
					            	xhr.setRequestHeader(header, token);
					            },		      
					            data:{"memberId":data.memberId},
								success : function(result) {	
									console.log(result)
									is.imgs=result;
								},
								error : function(error) { 
									console.log(error)
								}
							})
		        	},
		        	//모달창닫기
		        	closeModal:function(){
		        		const modal = document.querySelector(".modal");
		        		modal.classList.toggle("hidden");
		        	},
		        	
		        	//회원정보가져오기
		            fetchComments: function () {
		            	let is=this;
		                $.ajax({
		                    url: '/admin/memberList',
		                    method: 'GET',
		                    success: function (data) {	
		                    	console.log(data)
		                    	is.members=data;
		                    	
		                    }
		                });
		            },
		            apply:function(){		            	
		            	let role;
		            	let status;
		            	//상태구분
		            	if($("#status").val()=='TRUE'){
		            		status='true'
		            	}else if($("#status").val()=='STATUS'){
		            		
		            	}else{
		            		status='false'
		            	}		
		            	//role구분
		            	if($("#role").val()=='ROLE'){
		            		
		            	}else{
		            		role=$("#role").val();
		            	}
		            	
		            	let startDate=$("#startDate").val();
		            	let endDate=$("#endDate").val();
		            	let is=this;
		            	 $.ajax({
								type : 'post', 
								url : '/admin/searchList', 										
								beforeSend : function(xhr)
					            {
					            	xhr.setRequestHeader(header, token);
					            },		      
					            data:{"role":role,
					            	"status":status,
					            	"startDate":startDate,
					            	"endDate":endDate,
					            	},
								success : function(result) {									
									console.log(result)
									is.members=result
								},
								error : function(error) { 
									console.log(error)
								}
							})
		            }
		        }
		    });	    		
			app.mount('#app');	      
			
			 
		    </script>

		<script type="text/javascript">
			document.querySelector(".jsFilter").addEventListener(
					"click",
					function() {
						document.querySelector(".filter-menu").classList
								.toggle("active");
					});

			document
					.querySelector(".grid")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.remove("active");
								document.querySelector(".grid").classList
										.add("active");
								document
										.querySelector(".products-area-wrapper").classList
										.add("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("tableView");
							});

			document
					.querySelector(".list")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.add("active");
								document.querySelector(".grid").classList
										.remove("active");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.add("tableView");
							});

			var modeSwitch = document.querySelector('.mode-switch');
			modeSwitch.addEventListener('click', function() {
				document.documentElement.classList.toggle('light');
				modeSwitch.classList.toggle('active');
			});
		</script>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>
</body>
</html>