<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
</th:block>

<head>
	<meta charset="UTF-8">
	<style>
		.wrapper .form {
			width: 70%;
			margin: auto;
			padding: 10px;
			line-height: 30px;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="title">회원정보</div>
		<div class="form">
			<div class="inputfield">
				<label>아이디</label>
				<p th:text="${#authentication.principal.memberId}"></p>
				</div>
				<div class="inputfield">
					<label>이름</label><p th:text="${#authentication.principal.name}"></p>
				</div>
				<div class="inputfield">
					<label>닉네임</label><p th:text="${#authentication.principal.nickname}"></p>
				</div>
				<div class="inputfield">
					<label>이메일</label><p th:text="${#authentication.principal.email}"></p>
				</div>
				<div class="inputfield">
					<label>연락처</label><p th:text="${#authentication.principal.phone}"></p>
				</div>
				<div class="inputfield">
					<label>우편번호</label><p th:text="${#authentication.principal.postalCode}"></p>
				</div>
				<div class="inputfield">
					<label>주소</label><p th:text="${#authentication.principal.addr}"></p>
				</div>
				<div class="inputfield">
					<label>상세주소</label><p th:text="${#authentication.principal.detailAddr}"></p>
				</div>
				<div class="inputfield">
					<label>환불계좌</label><p th:if="${#authentication.principal.bank != null} and ${#authentication.principal.bankAccount != null}" th:text="${#authentication.principal.bank}"></p>
				</div>
				<div class="inputfield">
					<label></label><p th:if="${#authentication.principal.bank != null} and ${#authentication.principal.bankAccount != null}"  th:text="${#authentication.principal.bankAccount}"></p>
				</div>
				<div class="inputfield">
					<button type="button" class="btn">회원정보수정</button>
				</div>
				<div class="text-center">
					<p>
						탈퇴를 원하시나요? <a href="#">회원탈퇴</a>
					</p>
				</div>
			</div>

		<script type="text/javascript">
			$('.inputfield button').on('click', function(){
				location.href = "/myinfoModify";
			})
		</script>

		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>

</html>