<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
</th:block>

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div layout:fragment="content">
		<div class="title">회원정보수정</div>
		<form name="signupFrm" class="form">
			<div class="inputfield">
				<img id="preview-image" th:if="${#authentication.principal.fileRoute != null}" th:src="@{'/fileView/'+${#authentication.principal.fileRoute}}">
			 <img id="preview-image" th:if="${#authentication.principal.fileRoute == null}" th:src="@{/images/defaulltProfile.png}">
				</div>
				<div class="filebox">
					<label style="width: 20%;"></label> <input class="inputfile" placeholder="프로필사진" readonly> <label
						for="file" class="filelabel">사진수정</label> <input name="profileFile" type="file" id=file
						accept=".gif, .jpg, .png, .bmp">
				</div>
				<div class="inputfield">
					<label>아이디</label> <input type="text" name="memberId"
						class="input" th:value="${#authentication.principal.memberId}" readonly>
				</div>
				<div class="inputfield">
					<label>비밀번호</label> <input type="password" name="password"
						class="input">
				</div>
				<p style="margin-left:20%">8~16자 영문,숫자,특수문자 사용</p>
				<div class="inputfield">
					<label>비밀번호 확인</label> <input type="password" name="pwCheck"
						class="input">
					<input type="hidden" value="false" id="pwCheck">
				</div>
				<div class="inputfield">
					<label>이름</label> <input type="email" name="name" class="input" th:value="${#authentication.principal.name}">
				</div>
				<div class="inputfield">
					<label>닉네임</label> <input type="text" name="nickname" class="input" th:value="${#authentication.principal.nickname}">
				</div>
				<div class="inputfield">
					<label>이메일</label> <input type="email" name="email"
						class="input" th:value="${#authentication.principal.email}"><input type="button" value="이메일인증" class="checkBtn checkEmail">
				</div>
				<div class="inputfield emailCk">
					<label>이메일 인증</label> <input type="email" name="emailCk"
						class="input"><input type="button" value="인증" class="checkBtn">
					<input type="hidden" value="false" id="emailCk">
				</div>
				<div class="inputfield">
					<label>연락처</label> <input type="tel" class="input" name="phone"
						placeholder="'-'포함"  th:value="${#authentication.principal.phone}"><input type="hidden" value="false" id="phone">
				</div>
				<div class="inputfield">
					<label>우편번호</label> <input type="text" name="postalCode"
						id="sample6_postcode" class="input"   th:value="${#authentication.principal.postalCode}"><input type="button" onclick="sample6_execDaumPostcode()"
						value="주소검색" class="checkBtn">
				</div>
				<div class="inputfield">
					<label>주소</label> <input type="text" name="addr" id="sample6_address"
						class="input" th:value="${#authentication.principal.addr}">
				</div>
				<div class="inputfield">
					<label>상세주소</label> <input type="text" name="detailAddr"
						id="sample6_detailAddress" class="input"  th:value="${#authentication.principal.detailAddr}">
				</div>
				<div class="inputfield">
					<label>환불계좌</label>
					<div class="custom_select">
						<select name="bank" th:value="${#authentication.principal.bank}">
							<option value="">::은행선택::</option>
							<option th:each="bank : ${bankList}" th:value=${bank.CODE_ID} th:text="${bank.CODE_NAME}">
							</option>
						</select>
					</div>
				</div>
				<div class="inputfield">
					<label></label> <input type="text" name="bankAccount" class="input" th:value="${#authentication.principal.bankAccount}">
				</div>
				<div class="inputfield">
					<button type="button" class="btn">회원정보수정</button>
				</div>
			</form>

		<script type="text/javascript">
			let emailCk = '';

			// 이미지 미리보기
			$("#file").on('change', function () {
				let fileName = $("#file").val();
				$(".inputfile").val(fileName);
				readURL(this);
			});

			function readURL(obj) {
				let reader = new FileReader();
				if (!obj.files.length) {
					return;
				}
				reader.readAsDataURL(obj.files[0]);
				reader.onload = function (e) {
					$('#preview-image').attr('src', e.target.result);
				}
			}

			// 아이디 입력창 변화 확인
			$('input[name=memberId]').on('change', function () {
				$('#checkId').val('false');
			})

			// 아이디중복체크
			$('.checkId').on('click', function () {
				let idtag = $(this).parentsUntil('.form').find('input[name=memberId]');
				let id = $(idtag).val().toLowerCase();
				let str = /^(?=.*?[a-z])(?=.*?[0-9]).{5,15}$/;
				if (!str.test(id)) {
					console.log(false)
					if ($(idtag).parentsUntil('.form').next().prop('tagName') == 'P') {
						$(idtag).parentsUntil('.form').next().remove();
					}
					$(idtag).parentsUntil('.form').after($('<p/>').text("5~15자 영문,숫자만 사용해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#checkId').val('false');
					return;
				}
				$.ajax({
					url: '/checkId',
					method: 'GET',
					data: {
						"memberId": id
					},
					contentType: 'application/x-www-form-urlencoded',
					success: function (result) {
						if ($(idtag).parentsUntil('.form').next().prop('tagName') == 'P') {
							$(idtag).parentsUntil('.form').next().remove();
						}
						if (result) {
							$(idtag).parentsUntil('.form').after($('<p/>').text(
								"이미 있는 아이디입니다. 다른 아이디를 입력해주세요").css("margin-left", "20%").css(
								"color", "#f20000"));
							$('#checkId').val('false');
						} else {
							$(idtag).parentsUntil('.form').after($('<p/>').text("사용할 수 있는 아이디입니다").css(
								"margin-left", "20%"));
							$('#checkId').val('true');
						}
					},
					error: function (error) {
						console.log(error);
						alert('실패');
					}
				})
			})


			// 비밀번호 입력창 변화 확인
			$('input[name=password]').on('change', function () {
				$('#pwCheck').val('false');
			})

			// 비밀번호 확인
			$('input[name=pwCheck]').on('change', function () {
				let pw = $('input[name=password]').val();
				let pwCheck = $('input[name=pwCheck]').val();
				let str = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,16}$/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(pw.toLowerCase())) {
					$(this).parentsUntil('.form').after($('<p/>').text("8~16자 영문,숫자,특수문자 사용해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#pwCheck').val('false');
					return;
				}
				if (pw == pwCheck) {
					$('#pwCheck').val('true');
					$(this).parentsUntil('.form').after($('<p/>').text("비밀번호가 일치합니다").css("margin-left", "20%"));
				} else {
					$('#pwCheck').val('false');
					$(this).parentsUntil('.form').after($('<p/>').text("비밀번호가 일치하지않습니다. 다시입력해주세요").css("margin-left",
						"20%").css("color", "#f20000"));
				}
			});

			// 이메일 입력창 변화 확인
			$('input[name=email]').on('change', function () {
				if ($('input[name=email]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=email]').parentsUntil('.form').next().remove();
				}
				if ($('input[name=emailCk]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=emailCk]').parentsUntil('.form').next().remove();
				}
				$('#emailCk').val('false');
				$('.emailCk').css("display", "none");
				$('input[name=emailCk]').val("");
			})

			// 이메일 체크
			$('.checkEmail').on('click', function () {
				let email = $(this).parentsUntil('.form').find('input').eq(0).val();
				let str =
					/(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(email)) {
					$(this).parentsUntil('.form').after($('<p/>').text("올바른 이메일을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#emailCk').val('false');
					return;
				}
				$.ajax({
					url: '/searchEmail',
					method: 'GET',
					data: {
						"email": email
					},
					contentType: 'application/x-www-form-urlencoded;',
					success: function (result) {
						if (result == 'true') {
							$('.checkEmail').parentsUntil('.form').after($('<p/>').text(
								"이미 있는 이메일입니다. 다른 이메일을 입력해주세요").css(
								"margin-left", "20%").css("color", "#f20000"));
								return;
						} else {
							$('.checkEmail').parentsUntil('.form').after($('<p/>').text(
								"이메일을 확인해주세요. 인증번호 발급은 최대 5분정도 소요됩니다.").css(
								"margin-left", "20%"));
							$('.emailCk').css("display", "flex");
							sendAuthMail(email);
						}
					},
					error: function (error) {
						console.log(error);
					}
				})
			})

			function sendAuthMail(email) {
				$.ajax({
					url: '/authMail',
					method: 'POST',
					data: {
						"email": email
					},
					contentType: 'application/x-www-form-urlencoded;',
					success: function (result) {
						if (result == 'fail') {
							alert('메일보내기를 실패했습니다. 다시시도해주세요');
						} else {
							emailCk = result;
						}
					},
					error: function (error) {
						console.log(error);
					}
				})
			}

			// 이미지 인증번호 입력
			$('.emailCk').find('input[type=button]').on('click', function () {
				let ckString = $('input[name=emailCk]').val();
				if ($('.emailCk').next().prop('tagName') == 'P') {
					$('.emailCk').next().remove();
				}
				if (emailCk == ckString) {
					$('#emailCk').val('true');
					$('.emailCk').after($('<p/>').text("이메일 인증이 완료되었습니다").css("margin-left", "20%"));
				} else {
					$('#emailCk').val('false');
					$('.emailCk').after($('<p/>').text("인증번호가 틀립니다. 다시입력해주세요").css("margin-left",
						"20%").css("color", "#f20000"));
				}
			});

			// 연락처 확인
			$('input[name=phone]').on('change', function () {
				let tel = $(this).val();
				let str = /^\d{2,3}-\d{3,4}-\d{4}$/;
				if ($(this).parentsUntil('.form').next().prop('tagName') == 'P') {
					$(this).parentsUntil('.form').next().remove();
				}
				if (!str.test(tel)) {
					$(this).parentsUntil('.form').after($('<p/>').text("올바른 연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('#phone').val('false');
					return;
				} else {
					$('#phone').val('true');
				}
				return;
			})

			// 우편번호 찾기
			function sample6_execDaumPostcode() {
				new daum.Postcode({
					oncomplete: function (data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 각 주소의 노출 규칙에 따라 주소를 조합한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						let addr = ''; // 주소 변수
						let extraAddr = ''; // 참고항목 변수

						//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
						if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
							addr = data.roadAddress;
						} else { // 사용자가 지번 주소를 선택했을 경우(J)
							addr = data.jibunAddress;
						}

						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
						}
						// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}


						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr;
						// 커서를 상세주소 필드로 이동한다.
						document.getElementById("sample6_detailAddress").focus();
					}
				}).open();
			}

			// 회원가입폼 확인
			$('.btn').on('click', function () {
				if (!$('input[name=memberId]').val()) {
					if ($('input[name=memberId]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=memberId]').parentsUntil('.form').next().remove();
					}
					$('input[name=memberId]').parentsUntil('.form').after($('<p/>').text("아이디를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=memberId]').focus();
					return;
				}
				if ($('#checkId').val() == 'false') {
					if ($('#checkId').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('#checkId').parentsUntil('.form').next().remove();
					}
					$('.checkId').parentsUntil('.form').after($('<p/>').text("아이디 중복 확인해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=memberId]').focus();
					return;
				}
				if (!$('input[name=password]').val()) {
					if ($('input[name=password]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=password]').parentsUntil('.form').next().remove();
					}
					$('input[name=password]').parentsUntil('.form').after($('<p/>').text("비밀번호를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=password]').focus();
					return;
				}
				if ($('#pwCheck').val() == 'false') {
					if ($('#pwCheck').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('#pwCheck').parentsUntil('.form').next().remove();
					}
					$('#pwCheck').parentsUntil('.form').after($('<p/>').text("비밀번호가 일치하지 않습니다").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=pwCheck]').focus();
					return;
				}
				if ($('input[name=name]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=name]').parentsUntil('.form').next().remove();
				}
				if (!$('input[name=name]').val()) {
					$('input[name=name]').parentsUntil('.form').after($('<p/>').text("이름을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=name]').focus();
					return;
				}
				if (!$('input[name=email]').val()) {
					if ($('input[name=email]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=email]').parentsUntil('.form').next().remove();
					}
					$('input[name=email]').parentsUntil('.form').after($('<p/>').text("이메일을 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=email]').focus();
					return;
				}
				if ($('#emailCk').val() == 'false') {
					if ($('input[name=email]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=email]').parentsUntil('.form').next().remove();
					}
					$('input[name=email]').parentsUntil('.form').after($('<p/>').text("이메일 인증을 해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=email]').focus();
					return;
				}
				if (!$('input[name=phone]').val()) {
					if ($('input[name=phone]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=phone]').parentsUntil('.form').next().remove();
					}
					$('input[name=phone]').parentsUntil('.form').after($('<p/>').text("연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=phone]').focus();
					return;
				}
				if ($('#phone').val() == 'false') {
					if ($('input[name=phone]').parentsUntil('.form').next().prop('tagName') == 'P') {
						$('input[name=phone]').parentsUntil('.form').next().remove();
					}
					$('input[name=phone]').parentsUntil('.form').after($('<p/>').text("올바른 연락처를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=phone]').focus();
					return;
				}
				if ($('input[name=postalCode]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=postalCode]').parentsUntil('.form').next().remove();
				}
				if (!$('input[name=postalCode]').val()) {
					$('input[name=postalCode]').parentsUntil('.form').after($('<p/>').text("우편번호를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=postalCode]').focus();
					return;
				}
				if ($('input[name=addr]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=addr]').parentsUntil('.form').next().remove();
				}
				if (!$('input[name=addr]').val()) {
					$('input[name=addr]').parentsUntil('.form').after($('<p/>').text("주소를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=addr]').focus();
					return;
				}
				if ($('input[name=detailAddr]').parentsUntil('.form').next().prop('tagName') == 'P') {
					$('input[name=detailAddr]').parentsUntil('.form').next().remove();
				}
				if (!$('input[name=detailAddr]').val()) {
					$('input[name=detailAddr]').parentsUntil('.form').after($('<p/>').text("상세주소를 입력해주세요").css(
						"margin-left", "20%").css("color", "#f20000"));
					$('input[name=detailAddr]').focus();
					return;
				}
				if ($('input[type=checkbox]').parentsUntil('.form').next().eq(1).prop('tagName') == 'P') {
					$('input[type=checkbox]').parentsUntil('.form').next().eq(1).remove();
				}
				if (!$('input[type=checkbox]').is(':checked')) {
					$('input[type=checkbox]').parentsUntil('.form').eq(1).after($('<p/>').text("회원가입에 동의해주세요").css(
						"color", "#f20000"));
					return;
				}
				addMember();
			})

			// 회원등록
			function addMember() {
				let data = new FormData($('form')[0]);
				$.ajax({
					url: '/insertMember',
					enctype: 'multipart/form-data',
					method: 'POST',
					processData: false,
					contentType: false,
					data: data,
					dataType: 'json',
					success: function (result) {
						if(result == "success"){
							location.href = "/signUpcompleted"
						}else{
							alert('등록실패');
						}
					},
					error: function (error) {
						console.log(error);
						alert('실패');
					}
				})
			}
		</script>

		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>

</html>