<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">



<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>


<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	  
	<style type="text/css">
	button {
	   cursor: pointer;
	}
	
	.btn {
	   margin-top: 60px;
	}
	
	.modal {
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   position: fixed;
	   top: 0;
	   left: 0;
	   width: 100%;
	   height: 100%;
	}
	
	.modal__background {
	   background-color: rgba(0, 0, 0, 0.6);
	   width: 100%;
	   height: 100%;
	   position: absolute;
	}
	
	.modal__content {
	   text-align: center;
	   position: relative;
	   background-color: white;
	   border-radius: 10px;
	   top: 0;
	   padding: 10px 25px;
	   width: 20%;
	}
	
	h1 {
	   margin: 0;
	   margin-bottom: 13px;
	}
	
	.hidden {
	   display: none;
	}
</style>

</head>
<!-- Content -->

	<div layout:fragment="content">
		<h2>완료 챌린지</h2>
		<h4>팀전 챌린지</h4>
			<table>
				 <thead>
					<tr>
						<th>챌린지 번호</th>
						<th>챌린지 명</th>
						<th>기부처 명</th>
						<th>시작 일</th>
						<th>종료 일</th>
						<th>개최자</th>
						<th>총 기부금</th>
						<th>고정 기부금</th>
						<th>영수증 첨부</th>
						<th>포인트 정산</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="team:${teams}">
						<td th:text="${team.chalId}" id="teamChalId" th:value="${team.chalId}"></td>
						<td th:text="${team.chalName}"></td>
						<td th:text="${team.ngoName}" th:onclick="displayModal([[${team}]])"></td>
						<td th:text="${team.startDate}"></td>
						<td th:text="${team.endDate}"></td>
						<td th:text="${team.memberId}"></td>
						<td th:text="${team.donationFee}"></td>
						<td th:text="${team.teamFee}"></td>
						<td th:if="${team.receipt} !=null"><button type="button">첨부 완료</button></td>
						<td th:if="${team.receipt} ==null"><button type="button" onclick="displayModal(this)" id="receiptTeam" >첨부 하기</button></td>
						<td><button type="button" th:onclick="displayModal(this)" id="pointTeam" >정산 하기</button></td>							
					</tr>
				</tbody>
			</table>
		<h4>개인 챌린지</h4>
		<table>
				 <thead>
					<tr>
						<th>챌린지 번호</th>
						<th>챌린지 명</th>
						<th>기부처 명</th>
						<th>시작 일</th>
						<th>종료 일</th>
						<th>개최자</th>
						<th>총 기부금</th>
						<th>영수증 첨부</th>
						<th>포인트 정산</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="one:${ones}">
						<td th:text="${one.chalId}" id="oneChalId"></td>
						<td th:text="${one.chalName}"></td>
						<td th:text="${one.ngoName}" th:onclick="displayModal([[${one}]])"></td>
						<td th:text="${one.startDate}"></td>
						<td th:text="${one.endDate}"></td>
						<td th:text="${one.memberId}"></td>
						<td th:text="${one.donationFee}"></td>
						<th:block th:if="${one.receipt} !=null">
							<td><button type="button">첨부 완료</button></td>
						</th:block>
						<th:block th:if="${one.receipt} ==null">
							<td><button type="button" id="receiptOne" th:onclick="displayModal(this)">첨부 하기</button></td>
						</th:block>
						<td><button type="button" id="pointOne" th:onclick="displayModal(this)" >정산 하기</button></td>						
					</tr>
				</tbody>
			</table>
			
					<!--모달창  --> 
						<div class="modal hidden">
							<div class="modal__background"></div>
							
								<div id="receiptFrm" class="modal__content">
									<form action="/mypage/inputReceipt" method="post" enctype="multipart/form-data">
										<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
										<label>기부영수증 첨부하기</label>
										<input type="hidden" id="groupId" name="groupId">
										<input type="file" id="uploadFile" name="uploadFile">
										<button type="submit">첨부하기</button>
										<button type="button" class="closeBtn" id="closeModals">닫기</button>
									</form>
								</div>
								<div id ="point" class="modal__content">
									<h4>포인트정산</h4>
									<input type="hidden" id="groupId" name="groupId">
									<select id="users">
										<option>==아이디==</option>
									</select>
									<!-- 본인 기부금 띄우기  -->
									<div style="float: left; width: 50%; padding:1px; "><p>기부금</p></div><div style="float: left; width: 50%; padding:1px;"><p id="privateDonate"/></div>
									<canvas id="userChart"></canvas>
									<!-- 정산 포인트 띄우기 --> 
									<div style="float: left; width: 50%; padding:1px; "><p>기부금</p></div><div style="float: left; width: 50%; padding:1px;"><p id="privatePoint"/></div>
									<button type="button" onclick="pointInput()">정산</button>
									<button type="button" class="closeBtn" id="closeModals">닫기</button>
								</div>
								
								<div id ="teamPoint" class="modal__content">
									<h5>포인트정산</h5>
									<input type="hidden" id="groupId" name="groupId">
									<input type="hidden" id="pp">
									<div style="float: left; width: 50%; padding:1px; "><p>총 기부금</p></div><div style="float: left; width: 50%; padding:1px;"><p id="donationFee"/></div>
									<div style="float: left; width: 50%; padding:1px;"><p>총 내기 포인트</p></div><div style="float: left; width: 50%; padding:1px;"><p id="sumBetPoint"/></div>
									<select id="teamChoose">
										<option>==우승팀 고르기==</option>
										<option value="A">A팀</option>
										<option value="B">B팀</option>
									</select>
									<div style="float: right; width: 50%; padding:10px;">
							            <canvas id="Achart"></canvas>
							        </div>
							        <div style="float: right; width: 50%; padding:10px;">
							            <canvas id="Bchart"></canvas>
							         </div>
									<button type="button" onclick="teamPointInput()">정산</button>
									<button type="button" class="closeBtn" id="closeModals">닫기</button>
								</div>
							
						</div>
						<!--모달창 끝  -->
	
	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>
	<script>
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
	//차트
		var colors = ['#b4a7d6','#eae5e1','#333333','#c3e6cb','#dc3545','#6c757d'];
		var donutOptions = {
			  cutoutPercentage: 85, 
			  legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
			};
			
		//모달창 생성
		document.querySelectorAll(".openBtn").forEach((openBtn) => {;
			openBtn.addEventListener("click", displayModal);
			
		})
		
		
		
		let modal = document.querySelector(".modal");
		let closeButton = modal.querySelector(".closeBtn");
		let modalBackground = modal.querySelector(".modal__background");
		
		
		//chalId 정의
		let chalId;
		let Asize;
		let Bsize;
		function displayModal(obj) {
			let id = obj.id;
			switch(id){
				case "receiptTeam" :
					chalId = $('#teamChalId').text();
					$('#groupId').val(chalId);
					$("#receiptFrm").show();
					$("#point").hide();
					$("#teamPoint").hide();
					
					modal.classList.toggle("hidden");
					
					break;
				case "pointTeam" :
					chalId = $(obj).closest("tr").find('#teamChalId').text();
					$('#groupId').val(chalId);
					groupId = $('#groupId').val();
					//팀전 포인트 계산 위해서 
					//a팀 정보, b팀 정보 가져오는 아작스필요
					  $.ajax({
							url:'/mypage/getTeams',
							method : 'POST',
							data : {chalId, groupId},
							beforeSend : function(xhr)
				               {   
				               xhr.setRequestHeader(header, token);
				               },
							success : function(result){
			        		//전체 모금
			        		let donationFee = result.totalInfo.donationFee;
			        		let betPoints = Number(donationFee)*0.01;      		
			        		$('#donationFee').text(donationFee);
			        		$('#sumBetPoint').text(betPoints);
			        		//팀별 인원수
			        		Asize = Number(result.Asize);
			        		Bsize = Number(result.Bsize);
			        		//팀별 정상 인증 갯수
			        		let Acnt = Number(result.A);
			        		let Bcnt = Number(result.B);
			        		//팀별 100%일시 총 전체 인증수  
			        		let Aall = Math.abs(Number(result.totalInfo.total))*Asize;
			        		let Ball = Math.abs(Number(result.totalInfo.total))*Bsize;
			        		//팀별 평균 성취율
			        		let Apercent = 25;
			        			//(Acnt/Aall)*100;
			        		let Bpercent = 80;//(Bcnt/Ball)*100;
			        		//A차트 만들기
			        		let Alist = new Array();
			        		Alist.push(Apercent);
			        		Alist.push(100-Apercent);
			        		var Adata = {
			                        labels: ['A팀 평균달성률'],
			                        datasets: [{
			                              backgroundColor: ['#b4a7d6','#eae5e1'],
			                              data : Alist
			                        }],
			                        options : {
			                              title : {
			                              display : true,
			                              text: 'A팀 달성률'
			                              }
			                        }
			                  };
			        		 var ctx1 = document.getElementById('Achart').getContext('2d');
			                 new Chart(ctx1, {
			                          type: 'doughnut',
			                         data: Adata
			                 });
			            
			        		
			        		//B차트 만들기 렛츠고 
			                let Blist = new Array();
			        		Blist.push(Bpercent);
			        		Blist.push(100-Bpercent);
			               var Bdata = {
			                        labels: ['B팀 평균달성률'],
			                        datasets: [{
			                              backgroundColor: ['#b4a7d6','#eae5e1'],
			                              data : Blist
			                        }],
			                        options : {
			                              title : {
			                              display : true,
			                              text: 'B팀 달성률'
			                              }
			                        }
			                  }
			               var ctx2 = document.getElementById('Bchart').getContext('2d');
			                 new Chart(ctx2, {
			                          type: 'doughnut',
			                         data: Bdata
			                 });
						},error : function(error){
		        			console.log(error);
		        		}
						}) 
						$("#receiptFrm").hide();
						$("#point").hide();
						$("#teamPoint").show();	
						
						modal.classList.toggle("hidden");
					break;
				case "receiptOne" :
					chalId = $(obj).closest("tr").find('#oneChalId').text();
					$('#groupId').val(chalId);
			
					$("#receiptFrm").show();
					$("#point").hide();
					$("#teamPoint").hide();
					
					modal.classList.toggle("hidden");
					break;
				case "pointOne" :
					let oneId = $(obj).closest("tr").find('#oneChalId').text();
					$('#groupId').val(oneId);
					groupId = $('#groupId').val(); 
					 $.ajax({
							url:'/mypage/getParticipant',
							method : 'POST',
							data : {"chalId": groupId},
							beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
							success : function(result){
			        			let list = result;
			        			let options = [];
			        			let makeOption = $.each(list, function(i){
			        				options = $("<option value=" + list[i].participantId+ ">"+list[i].participantId+"</option>");
			        			});
			        			$('#users').append(options);
			        			
			        		},
			        		error : function(error){
			        			console.log(error);
			        		}
						}) 
						$("#receiptFrm").hide();
						$("#point").show();
						$("#teamPoint").hide();
						
						modal.classList.toggle("hidden");
					break;
				case "closeModals" :
					modal.classList.toggle("hidden");

			}
			
		};
		
		
		//부모한테 이벤트 걸기
		$(document).on("click", '.closeBtn', function(e){
			displayModal(e.target);
		});
		
		
		modalBackground.addEventListener("click", displayModal);
		
		
		//포인트 정산 위해서 선택한 아이디의 정보 다 끌어오깅~
		$("select[id=users]").change(function(obj){
			let chalId = $('#groupId').val();
			let proofWriter = $("select[id=users] option:selected").val();
  			
  			$.ajax({
  				url : '/mypage/getInfo4Point',
  				method :'POST',
  				contentType:'application/json',
  				data : JSON.stringify({chalId:chalId, proofWriter : proofWriter}),
  				beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
                },
  				success:function(result){
  				/* 	let total = Number(result.days);
  					let cnt = Number(result.cnt);
  					let percent = Math.abs(cnt/total);
  					
  					let donate = Number(result.user.privateDonate);
  					let point = 0;
  					if(percent >=0.85){
  						point = donate*0.005;
  					}else if(percent==1){
  						point = donate*0.01;
  					}else{
  						point == 0;
  					}
  					let pp = percent*100;
  					$('#pp').val(pp);
  					$('#privatePoint').text(point);
  					//차트 렛츠고//
	                let oneList = new Array();
  					let labelList = new Array();
  					let theLabel = proofWriter+ " 평균달성률";
  					labelList.push(theLabel);
	        		oneList.push(pp);
	        		oneList.push(100-pp);
	               var thedata = {
	                        labels: labelList,
	                        datasets: [{
	                              backgroundColor: ['#b4a7d6','#eae5e1'],
	                              data : oneList
	                        }],
	                        options : {
	                              title : {
	                              display : true,
	                              text: "달성률"
	                              }
	                        }
	                  }
	              
	               var ctx3 = document.getElementById('userChart').getContext('2d');
	                 new Chart(ctx3, {
	                          type: 'doughnut',
	                         data: thedata
	                 }); */
  					
  					
  				},
  				error : function(error){
  					console.log(error);
  				}
  			})
  			
		});
		
		let winner;
		let loser;
		//select값 가져오기
		$("select[id=teamChoose]").change(function(){
		  winner = $(this).val();
		  //eq() => 인덱스 요소에 해당되는거 찾기
		  loser = $('#teamChoose option:not(:selected)').eq(1).val();
		});
		
		//팀 포인트 정산
		function teamPointInput(){
			let groupid = $('#groupId').val();
			//분모 mom - 개별 팀 인원수
			let mom = 0;

			if(winner == 'A'){
				mom = Asize;
			}else {
				mom = Bsize;
			}
			mom = 10;
			let sumPoint = Number($('#sumBetPoint').text());
			sumPoint = 500;
			//분배받을 포인트 , 승팀 은 + 패팀은 -
			let thatPoint = sumPoint/mom;
			
			 $.ajax({
  				url : '/mypage/sharePoint',
  				method :'POST',
  				contentType:'application/json',
  				data : JSON.stringify({"thatPoint":thatPoint, "chalId" : groupId, "winner" : winner, "loser" : loser }),
  				beforeSend : function(xhr)
				                {   
				                xhr.setRequestHeader(header, token);
				                },
  				success:function(result){
  					alert("정산 완료 되었습니다.");
  					location.href ="/mypage/AdminEndChals";
  				},
  				error : function(error){
  					console.log(error)
  				}
  			}) 
			
		}
		
		//개인전 포인트 정산
		function pointInput(){
			let groupId = $('#groupId').val();
			let participantId = $("select[id=users] option:selected").val();
			thatPoint =  $('#privatePoint').text();
			let result = $('#pp').val()+"%";
			
			$.ajax({
  				url : '/mypage/inputPoint',
  				method :'POST',
  				contentType:'application/json',
  				data : JSON.stringify({"thatPoint":thatPoint, "chalId" : groupId, "participantId" : participantId, "result" : result }),
  				beforeSend : function(xhr)
				                {   
				                xhr.setRequestHeader(header, token);
				                },
  				success:function(result){
  					alert("정산 완료 되었습니다.");
  					location.href ="/mypage/AdminEndChals";
  				},
  				error : function(error){
  					console.log(error);
  				}
  			})  
			
		}
	</script>
	</div>
</html>
