<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/AdminLayout}">

<!-- Css  -->
<th:block layout:fragment="css">
</th:block>

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<meta charset="UTF-8">

<style type="text/css">
	button {
	   cursor: pointer;
	}
	
	.btn {
	   margin-top: 60px;
	}
	
	.modal {
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   position: fixed;
	   top: 0;
	   left: 0;
	   width: 100%;
	   height: 100%;
	}
	
	.modal__background {
	   background-color: rgba(0, 0, 0, 0.6);
	   width: 100%;
	   height: 100%;
	   position: absolute;
	}
	
	.modal__content {
	   text-align: center;
	   position: relative;
	   background-color: white;
	   border-radius: 10px;
	   top: 0;
	   padding: 10px 25px;
	   width: 20%;
	}
	
	h1 {
	   margin: 0;
	   margin-bottom: 13px;
	}
	
	.hidden {
	   display: none;
	}
</style>
</head>

<body>
	<div layout:fragment="content" class="app-content" id="app">
		<div class="app-content-header">
			<h1 class="app-content-headerText">Challengers</h1>
			<h2 class="app-content-headerText">기부처 관리- 기부처 신청 목록</h2>
			<button class="mode-switch" title="Switch Theme">
				<svg class="moon" fill="none" stroke="currentColor"
					stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
			</button>
		</div>
		<div class="app-content-actions">
			<input class="search-bar" placeholder="Search..." type="text">
			<div class="app-content-actions-wrapper">
				<div class="filter-button-wrapper">
					<button class="action-button filter jsFilter">
						<span>Filter</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-filter">
							<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" /></svg>
					</button>
					<div class="filter-menu">
						<label>상태</label> <select name="status" id=status>
							<option>전체</option>
							<option>영수증 첨부필요</option>
							<option>포인트 정산필요</option>
							<option>전체 필요</option>
							<option>전체 완료</option>
						</select>
						<label for="white"> 시작 <input id="startDate" type="date"></label>
						<label for="gray"> 종료 <input id="endDate" type="date">
						<div class="filter-menu-buttons">
							<button class="filter-button reset" onclick="location.reload()">Reset</button>
							<button class="filter-button apply" @click="apply()">Apply</button>
						</div>
					</div>
				</div>
				<button class="action-button list active" title="List View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-list">
						<line x1="8" y1="6" x2="21" y2="6" />
						<line x1="8" y1="12" x2="21" y2="12" />
						<line x1="8" y1="18" x2="21" y2="18" />
						<line x1="3" y1="6" x2="3.01" y2="6" />
						<line x1="3" y1="12" x2="3.01" y2="12" />
						<line x1="3" y1="18" x2="3.01" y2="18" /></svg>
				</button>
				<button class="action-button grid" title="Grid View">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-grid">
						<rect x="3" y="3" width="7" height="7" />
						<rect x="14" y="3" width="7" height="7" />
						<rect x="14" y="14" width="7" height="7" />
						<rect x="3" y="14" width="7" height="7" /></svg>
				</button>
			</div>
		</div>
		<div class="products-area-wrapper tableView">
			<div class="products-header">
				<div class="product-cell image">
					신청 번호
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell category">
					기부처 명
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell status-cell">
					신청자
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell sales">
					신청 상태
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
				<div class="product-cell price">
					신청서 보기
					<button class="sort-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" /></svg>
					</button>
				</div>
			</div>
		
			<div class="products-row" th:each="pon:${ponNgoes}">
				<button class="cell-more-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-more-vertical">
						<circle cx="12" cy="12" r="1" />
						<circle cx="12" cy="5" r="1" />
						<circle cx="12" cy="19" r="1" /></svg>
				</button>
				<div class="product-cell image">
					 <span th:text="${pon.ngoId}"></span>
				</div>
				<div class="product-cell category">
					<span class="cell-label" th:text="${pon.ngoName}"></span>
				</div>
				<div class="product-cell sales">
					<span class="cell-label" th:text="${pon.writerId}"></span>
				</div>
				<div class="product-cell sales">
					<span class="cell-label" th:text="${pon.condition}" id="condition1"></span>
				</div>
				<div class="product-cell status-cell">
					<span class="cell-label"></span>
					<span class="status active"   th:onclick="displayModal([[${pon}]])">Open</span>
									
				</div>
			</div>
		   </div>
		
			<!-- 모달창 ! -->
				<div class="modal hidden">
										<div class="modal__background"></div>
										<div class="modal__content">
			
											
											<div class="modalText" id="applyFrm">
												<h4>기부 신청서</h4>
												<input type="hidden" id="ngoId">
												<label>기부처 명 : </label><input type="text" id="ngoName" name="ngoName" readOnly>
												<br>
												<label for="ngoNo">사업자 등록번호</label>
												<input type="number" id="ngoNo" name="ngoNo" readOnly>
												  <img style="width: 500px;" id="image">  
												<br>
												<label for="ngoNo">신청자</label>
												<input type="text" id="writerId" name="writerId" readOnly>
												<br>
												<label>주소</label>
												<input type="text" name="postalCode" id="postalCode" readOnly>
												<input type="text" name="addr" id="addr" readOnly>
												<input type="text" name="detailAddr" id="detailAddr" readOnly>
												<br>
												
												<label>이메일</label>
												<input type="email" name="email" id="email" readOnly>
												<br>
												
												<label>연락처</label>
												<input type="text" name="phone" id="phone" readOnly>
												<br>
												
												<label>계좌</label>
												<input type="text" name="bank" id="bank" readOnly>
												<input type="text" name="bankAccount" id="bankAccount" readOnly>
												<br>
											<button type="button" onclick="openFrm()" id="reject">반려</button>
											<button type="button" onclick="approveApply()" id="approve">승인</button>
											<button type="button" class="closeBtn">닫기</button>
											</div>
											
											<div id="rejectFrm">
												<label>반려 사유</label><textarea id="reason" placeholder="반려 사유를 작성해 주세요"></textarea>
												<button type="button" onclick="rejectApply()">반려</button>
											</div>
										
										</div>
									</div>
									<!--모달창 끛  -->
		
	
			
			
		<script>
		
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");	
		
		//모달창 생성
			document.querySelectorAll(".openBtn").forEach((openBtn) => {
				console.log(openBtn);
				openBtn.addEventListener("click", displayModal);
				
			})
			const modal = document.querySelector(".modal");
			const closeButton = modal.querySelector(".closeBtn");
			const modalBackground = modal.querySelector(".modal__background");

			function displayModal(data) {
				
				let con = $('#condition1').text();
				if(con =='승인'){
					$('#reject').hide();
					$('#approve').hide();
				}else{
					$('#reject').show();
					$('#approve').show();
				}
				
				$('#ngoName').val(data.ngoName);
				$('#ngoNo').val(data.ngoNo);
				$('#writerId').val(data.writerId);
				$('#postalCode').val(data.postalCode);
				$('#addr').val(data.addr);
				$('#detailAddr').val(data.addr);
				$('#email').val(data.email);
				$('#phone').val(data.phone);
				$('#bank').val(data.bank);
				$('#bankAccount').val(data.bankAccount);
				$('#ngoId').val(data.ngoId);
				let imgsrc = data.fileRoute;
				$('#image').attr("src", '/fileView/'+imgsrc);
				
				$('#rejectFrm').hide();
				modal.classList.toggle("hidden");
			}

			
			closeButton.addEventListener("click", displayModal)
			modalBackground.addEventListener("click", displayModal);
			//=----모달창관련 스크립트 끝
			
			//반려
			function rejectApply(){
				let ngoId=$('#ngoId').val();
				console.log(ngoId);
				let con = $('#condition1').text();
				let reason = $('#reason').val();
				console.log(reason);
				let condition = '';
				if(con=='신청'){
					condition = '반려';
				}else{
					condition = '재반려';
				}
				
				console.log(condition);
				 $.ajax({
		    		  url : '/mypage/rejectNgo',
		    		  method : 'POST',
		    		  beforeSend : function(xhr)
		               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		               xhr.setRequestHeader(header, token);
		               },

		    		  contentType: 'application/json',
					  data: JSON.stringify({"ngoId":ngoId, "condition" : condition , "reason":reason}),
					  success:function(result){
						  alert("반려 완료!");
					  }, 
		    		 error : function(error){
		    			 console.log(error);
		    		 }
				})	 
			}
			//반려사유 작성폼 열기
			function openFrm(){
				$('#rejectFrm').show();
				
				$('#applyFrm').hide();
			}
			//승인
			function approveApply(){
				let ngoId=$('#ngoId').val();
				console.log(ngoId);
				let condition= "승인";
				 $.ajax({
			  		  url : '/mypage/approveNgo',
			  		  method : 'POST',
				  		 beforeSend : function(xhr)
			               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			               xhr.setRequestHeader(header, token);
			               },
			  		  contentType: 'application/json',
					  data: JSON.stringify({ngoId:ngoId, condition : condition}),
					  success:function(result){
							  alert("승인 완료되었습니다!")

						  }, 
			  		 error : function(error){
			  			 console.log(error);
			  		 }
					})	
				
			}
		
		</script>
		<script type="text/javascript">
			document.querySelector(".jsFilter").addEventListener(
					"click",
					function() {
						document.querySelector(".filter-menu").classList
								.toggle("active");
					});

			document
					.querySelector(".grid")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.remove("active");
								document.querySelector(".grid").classList
										.add("active");
								document
										.querySelector(".products-area-wrapper").classList
										.add("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("tableView");
							});

			document
					.querySelector(".list")
					.addEventListener(
							"click",
							function() {
								document.querySelector(".list").classList
										.add("active");
								document.querySelector(".grid").classList
										.remove("active");
								document
										.querySelector(".products-area-wrapper").classList
										.remove("gridView");
								document
										.querySelector(".products-area-wrapper").classList
										.add("tableView");
							});

			var modeSwitch = document.querySelector('.mode-switch');
			modeSwitch.addEventListener('click', function() {
				document.documentElement.classList.toggle('light');
				modeSwitch.classList.toggle('active');
			});
		</script>
		</div>
		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>


</body>

</html>