<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<div layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Vegetable’s Package</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container" th:each="chal : ${chals}"  >
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                th:src="@{/shoptemplate/img/product/details/product-details-1.jpg}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:data-imgbigurl="@{/shoptemplate/img/product/details/product-details-2.jpg}"
                                th:src="@{/shoptemplate/img/product/details/thumb-1.jpg}" alt="">
                            <img th:data-imgbigurl="@{/shoptemplate/img/product/details/product-details-3.jpg}"
                                th:src="@{/shoptemplate/img/product/details/thumb-2.jpg}" alt="">
                            <img th:data-imgbigurl="@{/shoptemplate/img/product/details/product-details-5.jpg}"
                                th:src="@{/shoptemplate/img/product/details/thumb-3.jpg}" alt="">
                            <img th:data-imgbigurl="@{/shoptemplate/img/product/details/product-details-4.jpg}"
                                th:src="@{/shoptemplate/img/product/details/thumb-4.jpg}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                    
                    <form action="/applyChalTeamFrm" method="post"> 
                        <h3 th:text="${chal.chalName}">Vetgetable’s Package</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="product__details__price"><span th:text=${chal.startDate}>$50.00</span></div>
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                            vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                            quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                       
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">팀 챌린저스</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    
										<h2>기부금</h2>
										<p>챌린지 리더가 설정한 금액이 기부됩니다.</p>
										<input th:value=${chal.teamFee} name="privateDonate" id="privateDonate" readonly>
										<p>포인트</p>
        								<input id="betPoint" name="betPoint"  type="number" read only>
        								<input type="number" value="donationFee" id="donationFee" name="donationFee" style="display:none;">
        								<input type="hidden" id="currentFee" th:value=${chal.donationFee}>
        								<input type="hidden" th:value=${chal.chalId} name="chalId">                    
                                    	<p>결제 조건 및 약관에 동의합니다.</p>
                                   		<input type="submit" value="참가하기" class="btn">&nbsp;&nbsp;
										<input type="reset" value="취소" class="btn" onClick="history.go(-1)">
                                   	</form>
                                </div>
                            </div>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- JS -->
 		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
			
		<script>
			var privateDonation = Number(document.getElementById("privateDonate").value);
			/* var donation = Number(document.getElementById("donation").value); */
			console.log(privateDonation);
			
			var currentFee = Number(document.getElementById("currentFee").value);
			console.log("현재기부금모인거"+currentFee);
			
			donationFee.value = currentFee+privateDonation;
			console.log(donationFee.value);
			let betPoint = document.getElementById("betPoint");
			betPoint.value = privateDonation*0.01;
			console.log(betPoint.value);

			
			
		</script> 
		</th:block>
    <!-- Product Details Section End -->

 	</div>
     
    
		
		
	  
    </section>
    <!-- Related Product Section End -->
</div>