<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<div layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Challengers</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container"  >
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                             <img class="pic"
                                th:src="'/fileView/'+${chal.fileRoute}" style="width:400px;height:400px;">
                        </div>
                        
                    </div>
                </div>
               <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                    	<input type="hidden" th:value="${chal.donationFee}" id="currentFee">
        				<input type="number" value="donationFee" id="donationFee" name="donationFee" style="display:none;">
        				<input type="hidden" th:value=${chal.chalId} name="chalId" id="chalId">
                        <h3 th:text="${chal.chalName}">Vetgetable’s Package</h3>
                       <div class="product__details__price"><span th:text="'기부처 : ' + ${chal.ngoName}">$50.00</span></div>
                        <ul>
                            <li><b>시작일</b> <span th:text="${#dates.format(chal.startDate, 'yyyy년 MM월 dd일')}" ></span></li>
                            <li><b>종료일</b> <span th:text="${#dates.format(chal.endDate, 'yyyy년 MM월 dd일')}"> <samp>Free pickup today</samp></span></li>
                            <li><b>유형</b> <span th:text="${chal.subClass}">0.5 kg</span></li>
                            <li><b>참가 요일</b> <span th:text="${chal.frequency}"></span></li>
                         
                        </ul>
                        
                    
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">팀 챌린저스</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    
										<h2>기부금</h2>
										<p>챌린지 리더가 설정한 금액이 기부됩니다.</p>
										<input th:value=${chal.teamFee} name="privateDonate" id="privateDonate" readonly>
										<p>포인트</p>
        								<input id="betPoint" name="betPoint"  type="number" read only>
        								<input type="number" id="donationFee" name="donationFee" style="display:none;">
        								<input type="hidden" id="currentFee" th:value=${chal.donationFee}>
        								<input type="hidden" th:value=${chal.chalId} name="chalId" id="chalId">                    
                                    	<p>결제 조건 및 약관에 동의합니다.</p>
                                   		<input type="button" id="paymentBtn" value="참가하기" class="btn">&nbsp;&nbsp;
										<input type="reset" value="취소" class="btn" onClick="history.go(-1)">
                                   	</form>
                                </div>
                            </div>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- JS -->
 		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
			<!-- 결제 api -->
			
			<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
		<script>
		//csrf설정
		 var token = $("meta[name='_csrf']").attr("content");
		 var header = $("meta[name='_csrf_header']").attr("content");

		
			var privateDonation = Number(document.getElementById("privateDonate").value);
			/* var donation = Number(document.getElementById("donation").value); */
			
			var currentFee = Number(document.getElementById("currentFee").value);
			
			let donationFee = currentFee+privateDonation;
			let betPoint = document.getElementById("betPoint");
			betPoint.value = privateDonation*0.01;
			
//결제 및 테이블 등록 ㅎㅎ 
			
			$("#paymentBtn").on("click",function() {
		      let privateDonate = $('#privateDonate').val();
		      let betPoint = $('#betPoint').val()
		      let chalId = $('#chalId').val();
		      let userId = '[[${user.memberId}]]';
		      let userName = '[[${user.name}]]';
		      let userEmail =  '[[${user.email}]]';
		      let userAddr ='[[${user.addr}]]';
		      let userpostalCode ='[[${user.postalCode}]]';
		      let userTel = '[[${user.phone}]]'; 

		     
		      IMP.init('imp54500213');
			      IMP.request_pay({
			          pg : 'html5_inicis',
			          pay_method : 'card',
			          merchant_uid: 'OS_' + new Date().getTime(), // 상점에서 관리하는 주문 번호
			          name : chalId,
			          amount : privateDonate, // 테스트라서 10원만 결제 ^^;
			          buyer_email : userEmail, // 구매자 이메일
			          buyer_name : userName, // 구매자 이름
			          buyer_tel : userTel, // 구매자 연락처
			          buyer_addr : userAddr, // 구매자 주소
			          buyer_postcode : userpostalCode // 구매자 우편번호
			      }, function(rsp) {
			          if ( rsp.success ) {
			             //아래 아작스부터는 본인의 컨트롤이나 구현에 맞게 적절히 사용할것
			             // 결제성공하고 컨트롤에 넘어가서 DB에 정보저장를 위한 아작스
			             let data = {"paymentId":rsp.imp_uid,
			            		 	"price" : privateDonate, "paymentMethod" : rsp.pay_method, 
			            		 	"groupId" : chalId, "donationFee" : donationFee,
			            		 	"betPoint" : betPoint};
			             $.ajax({
			               url: '/applyChalTeamFrm',
			               method: 'POST',
			               beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
			               contentType: 'application/json',
			               data: JSON.stringify(data),
			               success: function (result) {
			                // 결제금액이 일치한지, 다른 정보 체크하고 일치하면 DB에 저장하고 데이터를 리턴
			                   if (result) {
			                      // data가 있으면 제대로 처리된것
			                      // 이후 다른 페이지로 넘어갈 컨트롤과 데이어 작성
			                      var msg = '결제가 완료되었습니다.';
			                      msg += '\n고유ID : ' + rsp.imp_uid;
			                      msg += '\n상점 거래ID : ' + rsp.merchant_uid;
			                      msg += '\결제 금액 : ' + rsp.paid_amount;
			                      msg += '카드 승인번호 : ' + rsp.apply_num;
			                      alert(msg);
			                   } else {
			                      //[3] 아직 제대로 결제가 되지 않았습니다.
			                      //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
			                      // 위에 같은 이유로 알림 띄우기
			                   }
			               },
			               error: function (error) {
			                  console.log(error);
			                  alert('실패');
			               }
			          }); 
			         } else {
			              var msg = '결제에 실패하였습니다.';
			              msg += '에러내용 : ' + rsp.error_msg;
			              
			              alert(msg);
			          }
			      }); 
   });

			
			
		</script> 
		</th:block>
    <!-- Product Details Section End -->

 	</div>
     
    
		
		
	  
    </section>
    <!-- Related Product Section End -->
</div>