<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">


<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  
	<style type="text/css">
	button {
	   cursor: pointer;
	}
	
	.btn {
	   margin-top: 60px;
	}
	
	.modal {
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   position: fixed;
	   top: 0;
	   left: 0;
	   width: 100%;
	   height: 100%;
	}
	
	.modal__background {
	   background-color: rgba(0, 0, 0, 0.6);
	   width: 100%;
	   height: 100%;
	   position: absolute;
	}
	
	.modal__content {
	   text-align: center;
	   position: relative;
	   background-color: white;
	   border-radius: 10px;
	   top: 0;
	   padding: 10px 25px;
	   width: 20%;
	}
	
	h1 {
	   margin: 0;
	   margin-bottom: 13px;
	}
	
	.hidden {
	   display: none;
	}
	</style>

  
</head>

<div layout:fragment="content">
<br>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Challengers</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container"  th:each="chal : ${chals}">
            <div class="row">
                <div class="col-lg-6 col-md-6" >
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                th:src="'/fileView/'+${thumbnail.fileRoute}" style="width:500px;height:500px;">
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${chal.chalName}">Vetgetable’s Package</h3>
                        
                        <div class="product__details__price"><span th:text="'기부처 : ' + ${chal.ngoName}">$50.00</span></div>
                        	<ul>
                            <li><b>시작일</b> <span th:text="${#dates.format(chal.startDate, 'yyyy년 MM월 dd일')}" ></span></li>
                            <li><b>종료일</b> <span th:text="${#dates.format(chal.endDate, 'yyyy년 MM월 dd일')}"> <samp>Free pickup today</samp></span></li>
                            <li><b>유형</b> <span th:text="${chal.subClass}"></span></li>
                            <li><b>참가 요일</b> <span th:text="${chal.frequency}"></span></li>
                       		</ul>

							<span th:if="${cnt.cnt} >=1" class="primary-btn" >이미 참가 중인 챌린지 입니다</span>

							<span th:unless="${cnt.cnt} >=1">
								<a th:if="${chal.subClass} == '개인'"  th:href="@{/applyChalFrm(chalId=${chal.chalId})}" class="primary-btn goApply">참가하기</a>                      
								<a th:if="${chal.subClass} == '팀'" th:href="@{/applyChalTeamFrm(chalId=${chal.chalId})}" class="primary-btn goApply">참가하기</a>
							<span>
							<button class="openBtn" style="background-color:red; color:white; width:120px; height:51px; border:none">신고하기</button>						 	
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">상세보기</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                                <div class="product__details__tab__desc">
                                    <h6>환급 안내</h6>
                                    <p>100% 성공 : 예치금 전액 기부 + 예치금의 1% 포인트 적립</p>
                                    <p>85% 이상 성공 : 예치금 전액 기부 + 예치금 0.5% 포인트 적립</p>
                                    <p>85% 미만 성공 : 예치금 전액 기부</p>
                                    <img src="/challengers/chart.png">
                                </div>
                                  
                                <div class="product__details__tab__desc">
                                    <h6>챌린지 소개</h6>
                                    <p th:text="${chal.contents}">챌린지 소개</p>
                                </div>
                                
                                <div class="product__details__tab__desc">
                                    <h6>인증샷 예시</h6>
                                    <img th:src="'/fileView/'+${proofEx.fileRoute}" class="rounded float-start" style="width:300px;height:300px;">
                                    <p th:text="${chal.proofContent}">인증 샷 예시</p>
                                </div>
                                
                                <div class="product__details__tab__desc">
                                    <h6>동의사항 요건</h6>
                                    	<p>챌린지에 참가하시기 전에 동의사항에 체크해 주세요</p>
                                     	<label><input type="checkbox" name="check">모든 예치금은 성취퍼센트와 관계 없이 100% 기부됩니다.</label><br>
                                     	<label><input type="checkbox" name="check">참가하셨을 시에 등록하신 인증 사진은 모든 유저가 조회 가능 합니다.</label><br>
                                     	<label><input type="checkbox" name="check">챌린지 참가 취소는 마이페이지에서 가능하며, 시작일 하루 전 까지 가능합니다.</label><br>
                                </div>
                                
                                

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Challenges</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="@{/shoptemplate/img/product/product-1.jpg}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/detailChal">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="@{/shoptemplate/img/product/product-2.jpg}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="@{/shoptemplate/img/product/product-3.jpg}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="@{/shoptemplate/img/product/product-7.jpg}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 모달창 -->
                  <div class="modal hidden">
                     <div class="modal__background"></div>
                     <div class="modal__content">

                        <h3>신고하기</h3>
                     
                        <p th:text="'챌린지 명 : '+${chals.chalName}"></p>
                        <div class="modalText">
                           <textarea id="detailReason" name="detailReason"></textarea>
                           <button type="button" th:onclick="inputReport()">신고하기</button>
                           <button type="button" class="closeBtn">닫기</button>
                        </div>
                     
                     </div>
                  </div>
                  <!-- 모달창 끛-->
        
        </div>

          
        <!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
		
    </section>
    <!-- Related Product Section End -->
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStacked);

    
    	//체크박스 체크했는지 여부
    	/* let goBtn = document.querySelectorAll(".goApply");
    	let check = document.getElementsByName("check");
    	let chk = false;
    	goBtn.addEventListener('click', function(){
    		for(let i=0; i<check.length; i++){
    			if(check[i].checked) { 
    			   chk = true;
    			  } else {
    				  chk = false;
    			  }
    		}
    		
    		if(chk){
    			alet("굿");
    		}else {
    			alert("모든 동의사항에 동의해 주세요.");
    		}
    	}); */
    	
    	//신고 모달창
		 const openButton = document.querySelector(".openBtn");
				const modal = document.querySelector(".modal");
				const closeButton = modal.querySelector(".closeBtn");
				const modalBackground = modal.querySelector(".modal__background");

				function displayModal(){
				    modal.classList.toggle("hidden");
				}

				openButton.addEventListener("click", displayModal);
				closeButton.addEventListener("click", displayModal)
				modalBackground.addEventListener("click", displayModal);
			
		  //신고보내기
		      function inputReport(){

				  let groupId= "[[${chals.chalId}]]";
		          let toId="[[${chals.memberId}]]";
     			  let detailReason = document.getElementById("detailReason").value;
		          console.log(detailReason);
		          let reason = "불량챌린지";

 
		           $.ajax({
		              url:'/inputReport',
		              method: 'post',
		              contentType : 'application/json',
		              data: JSON.stringify({groupId:groupId,
		                 toId:toId,
		                 detailReason:detailReason,
		                 reason:reason}),
		              success : function(result){
		                 console.log(result);
		                 alert('신고 접수 완료');
		                 location.href="http://localhost/detailChal?chalId="+groupId;
		              },
		              error : function(error){
		                 console.log(error);
		              }
		           })  
		       }
    	
		</script>	
    
</div>
</html>