<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">



<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
</th:block>



<!-- Content -->

<div layout:fragment="content">
	<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>Onsaem SignUp</h2>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	<div class="wrapper">
		<div class="title">기부처 신청</div>
		<form action="/inputNgo" method="post" name="myfrm" enctype="multipart/form-data">
			<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
			<div class="inputfield">
				<label for="ngoName" id="ngoName">기부처 명</label>
				<input type="text"  id="ngoName" name="ngoName">
			</div>
			
			<div class="inputfield">
				<label for="ngoNo">사업자 등록번호</label>
				<input type="number" placeholder="-는 뺴주세요" name="ngoNo">
			<br>
			</div>
			
			<div class="inputfield">
				<label>고유번호증 첨부</label>
				<input type="file" id="uploadFile" name="uploadFile">
			<br>
			</div>
			
			<div class="inputfield">
				<label>우편번호</label>
				<input type="text" id="sample6_postcode" placeholder="우편번호" name="postalCode">
				<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="checkBtn"><br>
			</div>
			<div class="inputfield">
				<label>주소</label>
				<input type="text" id="sample6_address" placeholder="주소" name="addr"><br>
			</div>
			<div class="inputfield">
				<label>상세주소</label>
				<input type="text" id="sample6_detailAddress" placeholder="상세주소" name="detailAddr">
				<input type="text" id="sample6_extraAddress" placeholder="참고항목">
				<br>
			</div>
			
			
			<div class="inputfield">
				<label>이메일</label>
				<input type="email" name="email">
				<br>
			</div>
			
			<div class="inputfield">
				<label>연락처</label>
				<input type="text" name="phone">
			</div>
			
			<div class="inputfield">			
		        <label>후원계좌</label>
		        <select name="bank">
		        	<option value="" >==은행 선택==</option>
		        	<option th:each="bank : ${banks}" th:value=${bank.bankName}
		                th:text="${bank.bankName}"></option>        	
		        </select>
		        <input type="text" name="bankAccount">
	        </div>
	 	
			<input type="submit" value="기부처 신청" class="btn">&nbsp;&nbsp;
			<input type="reset" value="취소" class="btn" onClick="history.go(-1)">
		</form>
	</div>
	
	<!-- 우편번호 api -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	<script>
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    };
    
   
    
</script>
<!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
</div>
</html>