<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>챌린저스 개인전 등록</h3>
	<form action="${pageContext.request.contextPath}/inputNormalChal" method="post">
		<p>챌린지를 만들어 주세요!</p>
		<label for="chalName" id="chalName">챌린지 제목</label><br>
		<input type="text"  id="chalName" name="chalName">
		
		<div>
			<label for="frequency" id="frequency">인증 빈도</label><br>
            	<input name="frequency" type="radio" value="월화수목금토일">매일
				<input name="frequency" type="radio" value="월화수목금">평일 매일
				<input name="frequency" type="radio" value="토일">주말 매일
				<select name="frequency">
					<option value="월">월요일</option>
					<option value="화">화요일</option>
					<option value="수">수요일</option>
					<option value="목">목요일</option>
					<option value="금">금요일</option>
					<option value="토">토요일</option>
					<option value="일">일요일</option>	
				</select>
        </div>
        <label for="ngoName">기부처</label>
        <select th:field="*{ngoes}" name="ngoName">
        	<option value="">==기부처 선택==</option>
        	<option th:each="ngo : ${ngoes}" th:value="${ngo.ngoId}"
                th:text="${ngo.ngoName}"></option>        	
        </select>
        <br>
        
        <label for="startDate">시작일</label>
        <input name="startDate" type="date">
		<label for "endDate">종료일</label>
        <input name="endDateDate" type="date">
        
        <br>
        
        <label for="proofContents">인증 방법</label>
        <textarea rows="5" cols="20" placeholder="예? 오늘 날짜와 걸음수가 적힌 만보기 캡쳐 화면 업로드"></textarea>
        <ul>
        	<li>챌린지가 시작되면 인증 방법을 수정할 수 없습니다. 신중히 작성해주세요</li>
        	<li>참가자들이 혼란을 겪지 않도록 정확한 기준과 구체적인 인증방법을 적어주세요</li>
        	<li>유저 챌린지에서 발생한 분쟁에는 챌린저스가 관여하지 않습니다.</li>
        </ul>
        
        <label for="proofEx">인증샷 예시</label>
        <input type="file" id ="proofEx" name="fileName" >
        <br>
        
        <label for="contents">챌린지 소개</label>
        <textarea rows="5" cols="20" placeholder="예) 매일 1만보 걷고 건강해지기! 오늘부터 같이 해봐요 :)" id="contents" value="contents"></textarea>	
		<br>
		<label for="proofEx">썸네일 첨부</label>
        <input type="file" id ="thumbnail" name="fileName" >
        <br>
        	
		<input type="submit" value="챌린저스 등록" class="btn">&nbsp;&nbsp;
		<input type="reset" value="취소" class="btn" onClick="history.go(-1)">
	</form>
</body>
</html>