<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">



<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<div layout:fragment="content">
	<h3>챌린저스 개인전 등록</h3>
	<form action="/inputNormalChal" method="post" enctype="multipart/form-data">
		<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
		<p>챌린지를 만들어 주세요!</p>
		<label for="chalName" id="chalName">챌린지 제목</label><br>
		<input type="text"  id="chalName" name="chalName">
		<input type="hidden" name="classes" value="시작전">
		<div>
			<label for="frequency" id="frequency">인증 빈도</label><br>
            	<input name="frequency" type="radio" value="월화수목금토일">매일
				<input name="frequency" type="radio" value="월화수목금">평일 매일
				<input name="frequency" type="radio" value="토일">주말 매일
				<select id="frequency">
					<option value="">==요일선택==</option>
					<option value="월">월요일</option>
					<option value="화">화요일</option>
					<option value="수">수요일</option>
					<option value="목">목요일</option>
					<option value="금">금요일</option>
					<option value="토">토요일</option>
					<option value="일">일요일</option>	
				</select>
				
        </div>
        <label for="ngoName">기부처</label>
        <select name="ngoName">
        	<option value="">==기부처 선택==</option>
        	<option th:each="ngo : ${ngoes}" th:value="${ngo.ngoName}"
                th:text="${ngo.ngoName}" ></option>        	
        </select>
        <br>
        
        <label for="startDate">시작일</label>
        <input name="startDate" type="date" onchange="checkStart()">
		<label for "endDate">종료일</label>
        <input name="endDate" type="date" onchange="checkDate()">
        
        <br>
        
        <label for="proofContents">인증 방법</label>
        <textarea rows="5" cols="20" placeholder="예? 오늘 날짜와 걸음수가 적힌 만보기 캡쳐 화면 업로드" name="proofContent"></textarea>
        <ul>
        	<li>챌린지가 시작되면 인증 방법을 수정할 수 없습니다. 신중히 작성해주세요</li>
        	<li>참가자들이 혼란을 겪지 않도록 정확한 기준과 구체적인 인증방법을 적어주세요</li>
        	<li>유저 챌린지에서 발생한 분쟁에는 챌린저스가 관여하지 않습니다.</li>
        </ul>
        
        
        	<label for="proofEx">인증샷 예시</label>
	        <input type="file" name="uploadFile">
	        
  
        <br>
        
        <label for="contents">챌린지 소개</label>
        <textarea rows="5" cols="20" placeholder="예) 매일 1만보 걷고 건강해지기! 오늘부터 같이 해봐요 :)" id="contents" name="contents"></textarea>	
		<br>
		
		
			<label for="proofEx">썸네일 첨부</label>
	        <input type="file" name="uploadFile">
	        
	        
	    <br>  
		<label>기부금</label>
		<p>마지막으로 기부금을 결제하시면 등록이 완료 됩니다.
		<br>
		<input name="donationFee">
		
        <br>
        	
		<input type="submit" value="챌린저스 등록" class="btn">&nbsp;&nbsp;
		<input type="reset" value="취소" class="btn" onClick="history.go(-1)">
	</form>
	
	<script>
		function checkStart(){
			let today = new Date();
			let start = new Date($('input[name=startDate]').val());
			if(start < today){
				alert('오늘 날짜 이후로 선택해 주세요');
				$('input[name=startDate]').val("");
			}
			
		}
		
		function checkDate(){
			let today = new Date();
			let start = new Date($('input[name=startDate]').val());
			let end = new Date($('input[name=endDate]').val());
			if(start>end){
				alert('종료일은 시작일 보다 이후여야 합니다 ');
				$('input[name=endDate]').val("");
			}else if(end<today){
				alert('오늘 날짜 이후로 선택해 주세요');
				$('input[name=endDate]').val("");	
			}
			
		}
	</script>
</div>
</html>