<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
	<link rel="stylesheet" th:href="@{/challengers/css/mycss.css}">
	<link rel="stylesheet" th:href="@{/challengers/css/nomargin.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/challengers/css/mypage.css}" >

</th:block>
<head>
<style>
	.app-content{
	width: 70%;
    margin: auto;
	}
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<!-- Content -->
<div layout:fragment="content">

	<section class="breadcrumb-section set-bg" th:data-setbg="@{/shoptemplate/img/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Challengers</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<div class="app-container">


		<div class="app-content">

			<div class="app-sidebar">
				<a href="" class="app-sidebar-link active"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
          <polyline points="9 22 9 12 15 12 15 22" /></svg>
				</a> <a href="" class="app-sidebar-link"> <svg
						class="link-icon feather feather-pie-chart"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						fill="none" stroke="currentColor" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
          <defs />
          <path
							d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z" />
        </svg>
				</a> <a href="" class="app-sidebar-link"> <svg
						xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-calendar">
					          <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
					          <line x1="16" y1="2" x2="16" y2="6" />
					          <line x1="8" y1="2" x2="8" y2="6" />
					          <line x1="3" y1="10" x2="21" y2="10" /></svg>
				</a> <a href="" class="app-sidebar-link"> <svg
						class="link-icon feather feather-pie-chart"
						xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						fill="none" stroke="currentColor" stroke-linecap="round"
						stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
          <defs />
          <circle cx="12" cy="12" r="3" />
          <path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z" />
        </svg>
				</a>
			</div>
			<div class="projects-section">
				<div class="projects-section-header">
					<p>Projects</p>
					<p class="time">December, 12</p>
				</div>
				<div class="projects-section-line">
					<div class="projects-status">
						<div class="item-status">
							<span class="status-number">45</span> <span class="status-type">In
								Progress</span>
						</div>
						<div class="item-status">
							<span class="status-number">24</span> <span class="status-type">Upcoming</span>
						</div>
						<div class="item-status">
							<span class="status-number">62</span> <span class="status-type">Total
								Projects</span>
						</div>
					</div>
					<div class="view-actions">
						<button class="view-btn list-view" title="List View">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
								viewBox="0 0 24 24" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="feather feather-list">
						              <line x1="8" y1="6" x2="21" y2="6" />
						              <line x1="8" y1="12" x2="21" y2="12" />
						              <line x1="8" y1="18" x2="21" y2="18" />
						              <line x1="3" y1="6" x2="3.01" y2="6" />
						              <line x1="3" y1="12" x2="3.01" y2="12" />
						              <line x1="3" y1="18" x2="3.01" y2="18" />
						     </svg>
						</button>
						<button class="view-btn grid-view active" title="Grid View">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
								viewBox="0 0 24 24" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="feather feather-grid">
						              <rect x="3" y="3" width="7" height="7" />
						              <rect x="14" y="3" width="7" height="7" />
						              <rect x="14" y="14" width="7" height="7" />
						              <rect x="3" y="14" width="7" height="7" /></svg>
						</button>
					</div>
				</div>
<div class="project-boxes jsGridView">
	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name" th:text="${chal.chalName}">janedoe_</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">
				<ul>
					<li>시작일 <span class="profile-stat-count" th:text="${#dates.format(chal.startDate, 'MM월 dd일')}" id="startDate" >164</span></li>
					<li>종료일 <span class="profile-stat-count" th:text="${#dates.format(chal.endDate, 'MM월 dd일')}" id="endDate" th:value="${chal.endDate}">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p>챌린지 <span class="profile-real-name" th:text="${chal.chalName}">Jane Doe</span>가 종료일까지 <span class="profile-real-name" th:text="${dday}">Jane Doe</span>일 남았어요. 남은 날들도 화이팅!</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->


		<!-- 도넛차트 -->
		    <div id="donutchart" style="width: 900px; height: 500px;"> </div>
		
	
	
	
	<div class="container">
		<span><p>성공 횟수 : [[${cntGood}]] 회</p>
		<p>실패 횟수 : [[${cntBad}]] 회</p>
		<p>남은 횟수 : </p><p th:text="${dday}"></p>
		<span><p>성공률 :</p><p id="successPercent"></p><p>%</p></span>
		<span><p>에상 성공률 :</p><p id="expectPC"></p><p>%</p></span>
		<span><p>에상 획득 포인트 :</p><p id="expectPT"></p><p>원</p></span>
		
		<div class="gallery">

			<div class="gallery-item" tabindex="0" th:each="myphoto : ${myPhotoes}" >

				<img src="'/fileView/'+${myphoto.fileRoute}" class="gallery-image">
				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>

			 <th:block th:if="${myPhotoes} ==null">
			 		<h5>아직 등록된 인증 샷이 없습니다!</h5>	
			 </th:block>

		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>	    

				</div>
			</div>

		</div>
		
		
		
	</div>
	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
		<!--    <script th:src="@{/js/page/home.js}"></script>-->
		</th:block>
		<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
	 		 var modeSwitch = document.querySelector('.mode-switch');

	  		modeSwitch.addEventListener('click', function () {
	  			document.documentElement.classList.toggle('dark');
	   		 	modeSwitch.classList.toggle('active');
			  });
			  
			  var listView = document.querySelector('.list-view');
			  var gridView = document.querySelector('.grid-view');
			  var projectsList = document.querySelector('.project-boxes');
			  
			  listView.addEventListener('click', function () {
			    gridView.classList.remove('active');
			    listView.classList.add('active');
			    projectsList.classList.remove('jsGridView');
			    projectsList.classList.add('jsListView');
			  });
			  
			  gridView.addEventListener('click', function () {
			    gridView.classList.add('active');
			    listView.classList.remove('active');
			    projectsList.classList.remove('jsListView');
			    projectsList.classList.add('jsGridView');
			  });
			  
			  document.querySelector('.messages-btn').addEventListener('click', function () {
			    document.querySelector('.messages-section').classList.add('show');
			  });
			  
			  document.querySelector('.messages-close').addEventListener('click', function() {
			    document.querySelector('.messages-section').classList.remove('show');
			  });
			});
		
		
		//도넛차트
		 google.charts.load("current", {packages:["corechart"]});
	      google.charts.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Task', 'percent'],
	          ['Work',     50],
	          ['no', 50]
	        ]);
	
	        var options = {
	          title: '나의 인증 현황',
	          pieHole: 0.4,
	          colors: ['pink', '#d3362d']
	        };
	
	        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
	        chart.draw(data, options);
	      }
	      	
	      	let privateDonation = Number("[[${user.privateDonate}]]");
	      	console.log(privateDonation);
	      	let good = Number("[[${cntGood}]]");
	     	let bad = Number("[[${cntBad}]]"); 
	     	let total = Number("[[${total}]]");
	     	let dday = Number("[[${dday}]]");
	     	let success = Math.abs((good/total)*100);
	     	$("#successPercent").text(success);
	     	//예상달성률
	     	let expectedSuccess = ((good-bad)+dday/total)*100;
	     	$("#expectPC").text(expectedSuccess);
	     	//예상 달성률은 total분모로 good더하고,,bad빼고,, 남은dday넣으면 되나?
	     	//예상 포인트 예상 달성률의 1퍼
	     	//예상 포인트 달성률,,- if구문 쓰기..아마도..?0
	     	let expectedPoint = 0;
	     	 if(expectedSuccess>=85){
	     		let expectedPoint = privateDonation*0.005;
	     		$("#expectPT").text(expectedPoint);
	     		
	     	}else if(expectedSuccess==1){
	     		let expectedPoint = privateDonation*0.01;
	     		$("#expectPT").text(expectedPoint);
	     	}else{
	     		let expectedPoint =0;
	     		$("#expectPT").text(expectedPoint);
	     	}
	     	
	     	console.log(success);
	      
	     	
		</script>
    	
			<script th:src="@{/shoptemplate/js/main.js}"></script>
	
</div>
</html>