<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="light" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout2}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/management.css}" type="text/css">
	
</th:block>

<head>
	<meta charset="UTF-8">
	<style>
		.gridView .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: #f3f6fd;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="title">진행 중 챌린저스</div>
		<div class="products-area-wrapper gridView">

			<div class="products-row" th:each = "chal : ${chals}">
				<div class="product-cell image">
					<input type="hidden" th:name="chalId" th:value="${chal.chalId}">
					<img th:src="'/fileView/'+${chal.fileRoute}"
						alt="product"><a th:href="@{/mypage/myChalStatus(chalId = ${chal.chalId})}"> <span th:text="${chal.chalName}">Ocean</span>
				</div>
				<div class="product-cell category">
					<span class="cell-label">분류:</span><span th:text="${chal.subClass}+'전'"></span>
				</div>
				<div class="product-cell sales">
					<span class="cell-label">기간:</span><span th:text="${#dates.format(chal.startDate, 'MM월 dd일')} + ' ~ ' + ${#dates.format(chal.endDate, 'MM월 dd일')}"></span>
				</div>
				<div class="product-cell price">
					<span class="cell-label">인증요일:</span><span th:text="${chal.frequency}"></span>
				</div>
				<div class="product-cell status-cell">
					 <span class="status active" th:if="${chal.day}==0 and ${chal.checkDate>0}">인증하기</span>
					<span class="status active" th:if="${chal.day}>0">인증완료</span>
					<span class="status active" th:if="${chal.checkDate}==0">인증하는 날이 아닙니다</span>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			let token = $("meta[name='_csrf']").attr("content");
			let header = $("meta[name='_csrf_header']").attr("content");
			let memberId = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:null}]]";
		</script>
		

		<!-- JS -->
		<th:block layout:fragment="script">
		</th:block>
	</div>

</body>

</html>