<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">

     <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/main}">
                <img th:src="@{/images/logo.png}" class="logo img-fluid" >
                <span>
                    ONSAEM
                </span>
            </a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link click-scroll"
						href="#top">Home</a></li>


					<li class="nav-item"><a class="nav-link click-scroll"
						href="#section_2">Donation</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link click-scroll dropdown-toggle"
						id="navbarLightDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu dropdown-menu-light"
							aria-labelledby="navbarLightDropdownMenuLink">
							<li><a class="dropdown-item" href="/shop">Shop List</a></li>
							<li><a class="dropdown-item" href="/shopDetail">Shop Detail</a></li>
							<li><a class="dropdown-item" href="/shopCart">Shopping
									Cart</a></li>
							<li><a class="dropdown-item" href="/check">Check Out</a></li>
						</ul></li>


					<li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{/class/classList}">Class</a>
                    </li>
                    

					<li class="nav-item"><a class="nav-link click-scroll"
						href="/chalList">Challengers</a></li>


                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{/blog/blogMain}">Blog</a>
                    </li>
                    
                    <li class="nav-item dropdown" th:if="${session.member}!=null"><a
						class="nav-link click-scroll dropdown-toggle"
						id="navbarLightDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.member.memberId}"></a>
           			 	<ul class="dropdown-menu dropdown-menu-light"
							aria-labelledby="navbarLightDropdownMenuLink">
							<li><a class="dropdown-item" href="#">MY PAGE</a></li>
							<li><a class="dropdown-item" th:href="@{/logoutPage}">LOGOUT</a></li>
						</ul></li>
					<li class="nav-item" th:if="${session.member}==null">
                        <a class="nav-link click-scroll" th:href="@{/loginPage}">Login</a>
                    </li>
					<li class="nav-item ms-3"><a
						class="nav-link custom-btn custom-border-btn btn"
						href="donate.html">Donate</a></li>
				</ul>
			</div>
		</div>
	</nav>

</div>
</html>