<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">

	<nav class="navbar navbar-expand-lg bg-light shadow-lg">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{/images/logo.png}" class="logo img-fluid"> 
<!-- 				<span> -->
<!-- 					ONSAEM </span> -->
			</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">

					<li class="nav-item dropdown"><a
						class="nav-link click-scroll dropdown-toggle"
						id="navbarLightDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
						<ul class="dropdown-menu dropdown-menu-light"
							aria-labelledby="navbarLightDropdownMenuLink">
							<li><a class="dropdown-item" href="/shop">상품목록</a></li>
							<li><a class="dropdown-item" href="/myOrder"
								sec:authorize="isAuthenticated()">주문목록</a></li>
							<li><a class="dropdown-item"
								href="javascript:location.reload()"
								sec:authorize="isAnonymous()" onclick="noLogin()">주문목록</a></li>
							<li><a class="dropdown-item" href="/shopCart"
								sec:authorize="isAuthenticated()">장바구니</a></li>
							<li><a class="dropdown-item"
								href="javascript:location.reload()"
								sec:authorize="isAnonymous()" onclick="noLogin()">장바구니</a></li>
							<li><a class="dropdown-item" href="/likeList"
								sec:authorize="isAuthenticated()">관심상품</a></li>
							<li><a class="dropdown-item"
								href="javascript:location.reload()"
								sec:authorize="isAnonymous()" onclick="noLogin()">관심상품</a></li>
							<li><a class="dropdown-item" href="/sellerMain"  sec:authorize="hasRole('SELLER')">판매자</a></li>
							<li><a class="dropdown-item" href="/shop/test"  sec:authorize="hasRole('SELLER')">Vue테스트</a></li>							
						</ul></li>

					<li class="nav-item dropdown"><a
						class="nav-link click-scroll dropdown-toggle"
						id="navbarLightDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Class</a>
						<ul class="dropdown-menu dropdown-menu-light"
							aria-labelledby="navbarLightDropdownMenuLink">
							<li><a class="dropdown-item" href="/class/classList">강의목록</a></li>
							<li><a class="dropdown-item" href="/class/booking">예약페이지</a></li>
						</ul></li>


					<li class="nav-item"><a class="nav-link click-scroll"
						href="/chalList">Challengers</a></li>


					<li class="nav-item"><a class="nav-link click-scroll"
						th:href="@{/blog/blogMain}">Blog</a></li>

					<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
						class="nav-link click-scroll dropdown-toggle"
						id="navbarLightDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"
						th:text="${#authentication.principal.nickname}"></a>
						<ul class="dropdown-menu dropdown-menu-light"
							aria-labelledby="navbarLightDropdownMenuLink">
							<li><a class="dropdown-item" th:href="@{/myPageMain}">MY
									PAGE</a></li>
							<li><a class="dropdown-item"
								th:href="@{/blog/myblog(userId=${#authentication.principal.memberId})}">MY
									BLOG</a></li>
							<li><a class="dropdown-item"
								th:href="@{/mypage/myCurrentChal}">MY PAGE 챌린저스</a></li>
							<li><form class="logoutFrm" method="post" action="/logout">
									<input type="hidden" id="token"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<a class="dropdown-item" id="logout" href="#">LOGOUT</a>
								</form></li>
							<li><a class="dropdown-item" th:href="@{/errorPage}">404</a></li>
							<li><a class="dropdown-item" th:href="@{/class/classMGMT}">MANAGEMENT</a></li>
							<li><a class="dropdown-item" th:href="@{/testblog}">blogtest</a></li>
							<li><a class="dropdown-item" th:href="@{/testVue}">vueTest</a></li>
							<li><a class="dropdown-item" th:href="@{/mypage/AdminEndChals}">chalAdmin</a></li>
							<li><a class="dropdown-item" href="/shop/shopSellerMain">MY PAGE 쇼핑몰</a></li>
						</ul></li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link click-scroll" th:href="@{/loginPage}">Login</a></li>
					<li class="nav-item ms-3"><a
						class="nav-link custom-btn custom-border-btn btn"
						th:href="@{/mediaTest}">사진등록테스트</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<script type="text/javascript">
		//로그인 안했을때 알람발생
		function noLogin() {
			alert("로그인 후 이용가능 합니다.")
		}
	</script>
</div>
</html>