<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--sidebarFragment 선언-->
<div th:fragment="sidebarFragment" class="sidebar">
	<div class="sidebar-header">
		<div class="app-icon">
			<a class="navbar-brand" th:href="@{/}"><img
				th:src="@{/images/logo.png}" class="logo img-fluid"> </a>
		</div>
	</div>
	<ul class="sidebar-list">
		<li class="sidebar-list-item"><a href="#"> <i
				class="fa-solid fa-brush"></i> <span>클래스</span>
		</a></li>
		<li class="sidebar-list-item active"><a href="/class/classMGMT">
				<i class="fa-solid fa-inbox"></i><span>클래스관리</span>
		</a></li>
		<li class="sidebar-list-item"><a href="/class/bookingMGMT"> <i
				class="fa-regular fa-calendar-check"></i> <span>예약관리</span>
		</a></li>
		<li class="sidebar-list-item"><a href="/class/queMGMT"><i
				class="fa-regular fa-circle-question"></i><span>문의관리</span> </a></li>
	</ul>
	<div class="account-info">
		<div class="account-info-picture">
			<img th:if="${#authentication.principal.fileRoute != null}"
				th:src="@{'/fileView/'+${#authentication.principal.fileRoute}}">
			<img th:if="${#authentication.principal.fileRoute == null}"
				th:src="@{/images/defaulltProfile.png}">
		</div>
		<div class="account-info-name"
			th:text="${#authentication.principal.nickname}"></div>
		<button class="account-info-more">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24" fill="none" stroke="currentColor"
				stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-more-horizontal">
				<circle cx="12" cy="12" r="1" />
				<circle cx="19" cy="12" r="1" />
				<circle cx="5" cy="12" r="1" /></svg>
		</button>
	</div>
</div>
</html>