<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--sidebarFragment 선언-->
<div th:fragment="sidebarFragment" class="sbar">
	<div class="avatar">
		<div class="avatar__img">
			<img th:if="${#authentication.principal.fileRoute != null}"
				th:src="@{'/fileView/'+${#authentication.principal.fileRoute}}">
			<img th:if="${#authentication.principal.fileRoute == null}"
				th:src="@{/images/defaulltProfile.png}">
		</div>
		<div>
			<p th:text="${#authentication.principal.nickname}"></p>
		</div>
	</div>
	<nav class="menu" id="leftside-navigation">
		<div class="sub-menu">
			<a class="menu__item" th:href="@{/myInfo}"><i class="fa-solid fa-circle-user"></i><span class="menu__text">내 정보관리</span>
			</a>
		</div>
		<div class="sub-menu">
			<a class="menu__item" href="avascript:void(0);"><i class="fa-solid fa-shop"></i><span class="menu__text">내 쇼핑몰</span>
			</a>
			<ul>
				<li><a href="/shop/shopMyOrder"
					sec:authorize="isAuthenticated()">주문목록</a></li>
				<li><a href="javascript:location.reload()"
					sec:authorize="isAnonymous()" onclick="noLogin()">주문목록</a></li>
				<li><a href="/shop/shopMyCart"
					sec:authorize="isAuthenticated()">장바구니</a></li>
				<li><a href="javascript:location.reload()"
					sec:authorize="isAnonymous()" onclick="noLogin()">장바구니</a></li>
				<li><a href="/likeList" sec:authorize="isAuthenticated()">관심상품</a></li>
				<li><a href="javascript:location.reload()"
					sec:authorize="isAnonymous()" onclick="noLogin()">관심상품</a></li>
			</ul>
		</div>
		<div class="sub-menu">
			<a class="menu__item" href="avascript:void(0);"><i class="fa-solid fa-shapes"></i><span class="menu__text">내
					클래스</span>
			</a>
			<ul>
				<li><a th:href="@{/class/likeClass}">찜한 클래스</a></li>
				<li><a th:href="@{/class/myBooking}">클래스예약조회</a></li>
				<li><a th:href="@{/class/myQue}">클래스문의내역</a></li>
			</ul>
		</div>
		<div class="sub-menu">
			<a class="menu__item" href="avascript:void(0);"><i class="fa-solid fa-chart-pie"></i><span class="menu__text">내
					챌린저스</span>
			</a>
			<ul>
				<li><a th:href="@{/mypage/myCurrentChal}">진행 중 챌린저스 </a></li>
				<li><a th:href="@{/mypage/myBeforeChal}">시작 전 챌린저스</a></li>
				<li><a th:href="@{/mypage/myEndChal}">완료 챌린저스</a></li>
				<li><a th:href="@{/mypage/myApplyNgo}">신청한 기부처</a></li>
			</ul>
		</div>

	</nav>
	<script type="text/javascript">
		//로그인 안했을때 알람발생
		function noLogin() {
			alert("로그인 후 이용가능 합니다.")
		}
	</script>
</div>
</html>