<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onsaem.web.blog.mapper.BlogWriteMapper">
 	<!-- 전체 조회 -->
 	<select id="getBlogList" resultType="BlogWriteVO" parameterType="BlogWriteVO">
 		SELECT *
 		FROM BLOG_WRITES
 	</select>
 	<!-- 단건 조회 -->
 	<select id="getBlog" resultType="BlogWriteVO" parameterType="String">
		SELECT *
		FROM BLOG_WRITES
		WHERE WRITE_ID = #{writeId}
		AND BLOG_ID = #{blogId}
 	</select>
 	<!-- 블로그 단건 조회 -->
 	<select id="myBlog" resultType="BlogWriteVO" parameterType="String">
		SELECT *
		FROM BLOG_WRITES
		WHERE BLOG_ID = #{blogId}
 	</select>
 	<!-- 글 등록 -->
 	<insert id="blogInsert" parameterType="blogWriteVO">
 		<selectKey keyProperty="writeId" resultType="String" order="BEFORE">
 			select 'BW'||lpad(blog_seq.nextval,3,0) from dual
 		</selectKey>
 		INSERT INTO BLOG_WRITES( WRITE_ID,
								BLOG_ID,
								WRITE_TITLE,
								SUBTITLE,
								CATEGORY_ID,
								PUBLIC_SCOPE,
								BLOG_WRITE,
								WRITER_NICKNAME,
								CNT,
								LIKE_NUMBER,
								WRITE_DATE )
		VALUES (#{writeId},
				#{blogId},	
				#{writeTitle},
				#{subTitle},
				#{categoryId},
				#{publicScope},
				#{blogWrite},
				#{writerNickname},
				0,
				0,
				current_date)
 	</insert>
 	<!-- 글 수정 -->
 	
 	<!-- 글 삭제 -->
 	
 </mapper>