<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.onsaem.web.blog.mapper.MomentMapper">
	<!-- 한 블로거의 모먼트 전체 조회 (4개만 출력)-->
 	<select id="getMomentList" resultType="MomentsVO" parameterType="MomentsVO">
 		select  M.MOMENT_ID,
		        M.BLOG_ID,
		        M.ADD_URL,
		        M.UPLOAD_START,
		        M.UPLOAD_END,
		        M.PUBLIC_SCOPE,
		        M.LIKE_NUMBER,
		        M.MOMENT_WRITE,
		        M.WRITE_DATE,
		        A.FILE_NAME,
		        A.FILE_ROUTE,
		        A.MEDIA_NAME
		from moments M, media A
		where M.moment_id=A.group_id
		and M.blog_id=#{blogId}
		and M.upload_end >= to_char(current_date, 'YYYY/MM/DD')
		<![CDATA[
		and rownum <=4
		]]>
		order by upload_start DESC
 	</select>
 	<!-- 한 블로거의 모먼트 단건 조회 -->
 	<select id="getMoment" resultType="MomentsVO" parameterType="String">
 		select  M.MOMENT_ID,
		        M.BLOG_ID,
		        M.ADD_URL,
		        M.UPLOAD_START,
		        M.UPLOAD_END,
		        M.PUBLIC_SCOPE,
		        M.LIKE_NUMBER,
		        M.MOMENT_WRITE,
		        M.WRITE_DATE,
		        A.FILE_NAME,
		        A.FILE_ROUTE,
		        A.MEDIA_NAME,
		        B.NICKNAME
		from moments M, media A, members B
		where M.moment_id=A.group_id
		and M.BLOG_ID = B.MEMBER_ID
		and moment_id = #{momentId}
 	</select>
 	<!-- 모먼트 등록 -->
 	<!-- 글 등록 -->
 	<insert id="momentInsert" parameterType="MomentsVO">
 		<selectKey keyProperty="momentId" resultType="String" order="BEFORE">
 			select 'MT'||lpad(moment_seq.nextval,3,0) from dual
 		</selectKey>
 		INSERT INTO MOMENTS(MOMENT_ID,
                    BLOG_ID,
                    ADD_URL,
                    UPLOAD_START,
                    UPLOAD_END,
                    PUBLIC_SCOPE,
                    LIKE_NUMBER,
                    MOMENT_WRITE,
                    WRITE_DATE)
		VALUES (#{momentId},
				#{blogId},
				#{addUrl},
				current_date,
				#{uploadEnd},
				#{publicScope}, 
				0, 
				#{momentWrite},
				current_date)
 	</insert>
 	
 	<!-- 모먼트 삭제 -->
 	<delete id="momentDel" parameterType="String">
 		delete 
		from moments
		where moment_id=#{momentId}
 	</delete>
	
	<!-- 모먼트 숫자 조회 -->
	<select id="momentCnt" parameterType="String" resultType="int">
		select  count(*)
		from moments M, media A
		where M.moment_id=A.group_id
		and M.blog_id=#{blogId}
        and M.UPLOAD_END >= to_char(current_date, 'YYYY/MM/DD')
		<![CDATA[
		and rownum <=4
		]]>
		order by upload_start DESC
	</select>
 </mapper>