<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/css/member.css}" type="text/css">
</th:block>
    
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
	<script type="text/javascript" th:src="@{/smarteditor/js/HuskyEZCreator.js}"></script>
</th:block>

<head>
	<meta charset="UTF-8">
<style>
.wrapper .btn {
	background-color: #9dc2c0;
	color:white;
	text-align: center;
	margin-left: 400px;
	margin-top: 10px;
}
.wrapper label {
	width: 80px;
	color: #757575;
}
.inputfield {
	margin-bottom: 6px;
}
.inputfield input {
	width: 752px;
	border: 1px solid #d5dbd9;
	border-radius: 3px;
	line-height: 40px;
	margin-bottom: 5px;
	padding: 0 10px;
}
.nice-select {
	display: inline;
	margin: 5px 0px;
	margin-right: 12px;
    width: 185px;
    text-align: center;
    clear: none;
    float: none;
    color: #757575;
}

</style>
</head>

<body>
<!-- Content -->
<div layout:fragment="content">
		<headers>
			<frame-options disabled="true"/>
		</headers>
	<div class="wrapper">
		<div class="title">글 등록</div>
		<form method="post" action="/blog/blogInsert" name="myfrm">
			<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
			
				<div class="inputfield">
					<label>글 제목&nbsp;&nbsp;</label><input type="text" name="writeTitle">
				</div>
				
				<div class="inputfield">
					<label>소제목&nbsp;&nbsp;&nbsp;</label><input type="text" name="subTitle">
				</div>
				
				<div class="inputfield">
					<label>카테고리</label><select name="categoryId" onchange="" class="nice-select">
						<option value="" style="text-align:center;">::::::&nbsp;&nbsp;카테고리&nbsp;&nbsp;::::::</option>
					    <div th:each="cate : ${category}">
					    	<option th:value="${cate.categoryId}" th:data-scope="${cate.publicScope}">[[${cate.categoryName}]] ([[${cate.publicScope}]])</option>
					    </div>
						</select>
				
					<label>공개범위&nbsp;&nbsp;</label><select name="publicScope" class="nice-select"> <!-- 공개범위 부분 나중에 value 수정 필요 -->
						<option value="">::::::&nbsp;&nbsp;공개범위&nbsp;&nbsp;::::::</option>
					    <option value="public">전체공개</option>
					    <option value="partial">일부공개</option>
					    <option value="private">비공개</option>
						</select>
				</div>	
			
			<div class="inputfield">
				<textarea name="blogWrite" id="ir1" rows="10" cols="90"></textarea>
			</div>
			
			<div class="inputfield">
				<button type="button" class="btn">등록</button>
			</div>
			
		</form>
	</div>
	
	
	<!--  Naver Editor -->
	<script>
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
		let path = '[[${#request.contextPath}]]'; //절대경로
		console.log(path);
		let oEditors = [];
		
		smartEditor = function() {
			nhn.husky.EZCreator.createInIFrame({
				oAppRef: oEditors,
				elPlaceHolder: "ir1",
				sSkinURI: "/smarteditor/SmartEditor2Skin.html",
				fCreator: "createSEditor2"
			});
		}
		
		$(document).ready(function() {
		      smartEditor()
		    })
		
// 		작성한 내용 콘솔에 찍기
		$(".btn").on("click", function() {
			oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
			var value = document.getElementById("ir1").value;
			console.log('[(${#authentication.principal.memberId})]');
			// location.href 세션 아이디 값이 안 땡겨와져요...
			$.ajax({
			      url: '/blog/myblog/blogWrite/blogInsert',
			      method: 'post',
			      contentType: 'application/x-www-form-urlencoded',
			      data: $('form[name="myfrm"]').serialize(),
			      beforeSend : function(xhr)
	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	               xhr.setRequestHeader(header, token);
	               },
			      success: function (result) {
			         console.log(result);
			         alert('등록 완료');
			         location.href='/blog/myblog?userId='+'[(${#authentication.principal.memberId})]'; 
			      },
			      error: function (error) {
			         console.log(error);
			      }
			   })
		});
		
		function editer(fileUrl){
			oEditors.getById["ir1"].exec("PASTE_HTML",[`<video src='${fileUrl}' controls></video>`]);
		}
		
		
		// 카테고리 공개범위 수정
		$("select[name='categoryId']").on("change", function(){
			console.log($("select[name='categoryId'] option:selected").data('scope'));
			let selectVal = $("select[name='categoryId'] option:selected").data('scope');
			
			$("select[name='publicScope']").val(selectVal);
		})
	</script>
	<!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
</div>

</body>
</html>