<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<style>
 /* VARIABLES -  START */
/* COLORS  */
/* DIMENSIONS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* VARIABLES - END */
/* COMMONS - START */
.flex-center, .wrapper .button-container, .wrapper {
  justiy-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* COMMONS - END */
/* STYLES -  START */
.wrapper {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.heartbutton {
  height: 50px;
  width: 170px;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 12.5px;
  cursor: pointer;
}

.content .icon {
  font-size: 25px;
  color: #ea4a87;
}
.content .icon.fa {
  display: none;
}
.content .text {
  font-size: 25px;
  color: #2f3537;
}
.content .text.like {
  margin-left: 10px;
}
.content .text.d {
  opacity: 0;
  display: inline-block;
  transform: translateX(12px);
}
.content .text.number {
  margin-left: 10px;
  color: #7a7c81;
}

/* STYLES - END */

/* 신고모달 */
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__background {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	text-align: center;
	position: relative;
	background-color: white;
	border-radius: 10px;
	top: 0;
	padding: 10px 25px;
	width: 20%;
}
.hidden {
	display: none;
} 
</style>

</head>

<!-- Content -->

<div layout:fragment="content">
	
	<!-- Blog Details Hero Begin -->
	<section class="blog-details-hero set-bg"
		th:data-setbg="@{/shoptemplate/img/blog/details/details-hero.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="blog__details__hero__text">
						<h2>[[${blogWrite.writeTitle}]]</h2>
						<ul>
							<li>By [[${blogWrite.nickname}]]</li>
							<li>[[${#dates.format(blogWrite.writeDate, 'YYYY-MM-DD')}]]</li>
							<li>[[${replyCnt.replyCnt}]] Comments</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Hero End -->

	<!-- Blog Details Section Begin -->
	<section class="blog-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-5 order-md-1 order-2">
					<div class="blog__sidebar">
						<div class="blog__sidebar__item">
							<h4>Categories</h4>
							<ul th:each="cate:${category}">
                                <li><a href="#">[[${cate.categoryName}]]</a></li>
                            </ul>
						</div>
						
					</div>
				</div>
				<div class="col-lg-8 col-md-7 order-md-1 order-1"> <!--------------------------신고!!!!! -->
					<i type="button" class="fa-solid fa-triangle-exclamation openBtn" style="float:right;"
					th:value1="${blogWrite.writeId}" th:value2="${blogWrite.blogId}">신고하기</i>
					<button style="float:right;" id="blogUpdate" th:onclick="|location.href='@{/blog/myblog/blogWrite/blogUpdate(bno=${blogWrite.writeId})}'|" th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId}">수정</button>
					<button style="float:right;" id="blogDelete" th:value="${blogWrite.writeId}" th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId}">삭제</button>
					<div class="blog__details__text">
						 [(${blogWrite.blogWrite})]
					</div>
					<div class="blog__details__content">
						<div class="row">
							<div class="col-lg-6">
								<div class="blog__details__author">
									<div class="blog__details__author__pic">
									
										<img th:if="${blogWrite.fileRoute != null}"
											th:src="'/fileView/'+${blogWrite.fileRoute}"
											alt="profile-sample5" class="profile" />
										<img th:if="${blogWrite.fileRoute == null}"
											th:src="@{/images/defaulltProfile.png}"
											alt="profile-sample5" class="profile" />
										
									</div>
									<div class="blog__details__author__text">
										<h6>[[${blogWrite.nickname}]]</h6>
										<span>[[${blogWrite.blogId}]]</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="blog__details__widget">
									<ul>
					<!-------------------- 하트 ------------------------->
										<li><div class="wrapper" >
												<div class="button-container">
													<div class="heartbutton">
														<span class="content"> <i class="icon fa fa-heart"
															aria-hidden="true"></i> <i class="icon far fa-heart"
															aria-hidden="true"></i> <span class="text like">Like<span
																class="text d">d</span></span> <span class="text number" th:text="${cntBlogLike.count}"></span>
														</span>
														<input type="hidden" class="blogLike" th:value=${likeCount}> <!-- 초기값을 F로 두기 -->
													</div>
												</div>
											</div></li>
					<!-------------------- 하트 끝 ------------------------->	
<!-- 										<li><span>Categories:</span>[[${blogWrite.categoryName}]]</li> -->
									</ul>
								</div>
								<!-- 카톡 -->
								<a id="kakaotalk-sharing-btn" href="javascript:;">
								  <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
								    alt="카카오톡 공유 보내기 버튼" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!-------------댓글--------------------------------------------------->
		<main>
			<section class="news-section section-padding">
            <div class="container">
                <div class="row">
                	<div class="rere">
                	<div th:each=" reply : ${replyList}">
                		<div th:if="${reply.level} == 1">
		                	<div class="author-comment d-flex mt-3 mb-4">
		                			<div class="blog__details__author__pic">
                                 		<img th:if="${reply.fileRoute != null}"
											th:src="'/fileView/'+${reply.fileRoute}"
											alt="profile-sample5" class="profile" />
										<img th:if="${reply.fileRoute == null}"
											th:src="@{/images/defaulltProfile.png}"
											alt="profile-sample5" class="profile" />
									</div>

                                 <div class="author-comment-info ms-3">
                                     <h6 class="mb-1"><span style="font-weight:bold" id="writerIdText">[[${reply.writerId}]]</span> <a th:if="${blogWrite.blogId} == ${reply.writerId}" style="color:#5bc1ac;font-weight:bold;">[작성자🍀]</a> ([[${#dates.format(reply.replyDate, 'YY.MM.DD HH:mm')}]])</h6>

                                     <p class="mb-0" th:if="${reply.publicScope!='private'} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${reply.writerId}"> <span th:if="${reply.publicScope == 'private'}"> 🔒 </span> [[${reply.content}]]</p>
                                     <p class="mb-0" th:unless="${reply.publicScope!='private'} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${reply.writerId}"> 🤐 글 작성자와 본인만 볼 수 있는 댓글입니다.</p>

                                     <div class="d-flex mt-2">
                                         <a type="button" class="author-comment-link rereplyBtn" sec:authorize="isAuthenticated()">댓글달기</a>
                                          <!-- 대댓글 -->
                                          <form class="custom-form comment-form mt-4 rereplyFrm" role="form" name="rereplyFrm" style="display:none;">
	                                	<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
	                                    <textarea name="content" rows="4" class="form-control rereplyBox" id="comment-message"
	                                        placeholder="온샘은 신고 관리를 철저하게 합니다. 댓글 작성 시, 한번 더 생각해주세요"></textarea>
	
	                                    	<div class="col-lg-3 col-md-4 col-6 ms-auto">
<!-- 			                                        <button type="button" id="replyBtn" class="form-control" sec:authorize="isAnonymous()" disabled>로그인이 필요합니다 <a th:href="@{/loginPage}">login</a></button> -->
	                                        	<input type="checkbox" name="publicScope" id="scopeReply" value="public"/> <span style="color:blue;font-weight:bold;">비밀댓글 🔒</span>
	                                        	<button type="button" class="form-control rereplyInsert" th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}">등록</button>
	                                    	</div>
	                                    <input type="hidden" name="groupId" th:value="${reply.replyId}">
	                                </form>
                                          <!-- 대댓글 끝 -->
								<a type="button" class="author-comment-link me-3 reDelBtn" th:value="${reply.replyId}" th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId}"><span style="color:red;">삭제</span></a>
                                         <a type="button" class="author-comment-link me-3 openBtn" id="replyIdVal" th:value1="${reply.replyId}" th:value2="${reply.writerId}" sec:authorize="isAuthenticated()"><span style="color:red;">신고</span></a>
                                     </div>
                                 </div>
	                     </div>
                     </div>
                     <!-- 대댓글 리스트 -->
                     <div th:unless="${reply.level} == 1">
                     		<div class="rereTemplate">	
                                <div class="author-comment d-flex ms-5 ps-3">
                                		<div class="blog__details__author__pic">
	                                    	<img th:if="${reply.fileRoute != null}"
												th:src="'/fileView/'+${reply.fileRoute}"
												alt="profile-sample5" class="profile" />
											<img th:if="${reply.fileRoute == null}"
												th:src="@{/images/defaulltProfile.png}"
												alt="profile-sample5" class="profile" />
										</div>

                                    <div class="author-comment-info ms-3">
                                        <h6 class="mb-1">
                                        <span style="font-weight:bold" id="writerIdText">[[${reply.writerId}]]</span> 
                                        <a th:if="${blogWrite.blogId} == ${reply.writerId}" style="color:#5bc1ac;font-weight:bold;">[작성자🍀]</a> 
                                        ([[${#dates.format(reply.replyDate, 'YY.MM.DD HH:mm')}]])</h6>

                                        <p class="mb-0" th:if="${reply.publicScope!='private'} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${reply.writerId}"> <span th:if="${reply.publicScope == 'private'}"> 🔒 </span> [[${reply.content}]]</p>
                                     	<p class="mb-0" th:unless="${reply.publicScope!='private'} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogWrite.blogId} or ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${reply.writerId}"> 🤐 글 작성자와 본인만 볼 수 있는 댓글입니다.</p>

                                        <div class="d-flex mt-2">
                                            <a href="#" class="author-comment-link me-3">신고</a>
                                            <a type="button" class="author-comment-link me-3 reDelBtn" th:value="${reply.replyId}"><span style="color:red;">삭제</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>      
					<!--  대댓글 끝 -->
					
					</div>
				</div>
                                <form class="custom-form comment-form mt-4" role="form" name="replyFrm">
                                	<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
                                    <h6 class="mb-3">댓글</h6>

                                    <textarea name="content" rows="4" class="form-control" id="comment-message"
                                        placeholder="온샘은 신고 관리를 철저하게 합니다. 댓글 작성 시, 한번 더 생각해주세요"></textarea>

                                    <div class="col-lg-3 col-md-4 col-6 ms-auto">
                                        <input type="checkbox" name="publicScope" id="scopeReply" value="public"/> <span style="color:blue;font-weight:bold;" >비밀댓글 🔒</span>
                                        <button type="button" id="replyBtn" class="form-control" >등록</button>
                                    </div>
                                    <input type="hidden" name="groupId" th:value="${blogWrite.writeId}">
                                </form>
                	</div>
            	</div>
            </section>
		</main>
<!----------------------------------- 댓글 끝 -------------------------------->
	</section>
	<!-- Blog Details Section End -->
	
	<!-- Related Blog Section Begin -->
	<section class="related-blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title related-blog-title">
						<h2>Post You May Like</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-1.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">Cooking tips make cooking simple</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-2.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">6 ways to prepare breakfast for 30</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-3.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">Visit the clean farm in the US</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 댓글신고모달창 -->
	<div class="modal hidden">
		<div class="modal__background"></div>
		<div class="modal__content">
			<h3>신고하기</h3>
			<div class="modalText">
				<p>사유선택</p>
				<input type="checkbox" name="reason" id="ban1"
					th:onclick="checkOnlyone(this)" value="욕설 및 비하 발언">욕설 및 비하 발언<span id="1"></span><br> 
				<input type="checkbox" value="저작권,명예훼손 등 기타 권리 침해" id="ban2" name="reason"
					th:onclick="checkOnlyone(this)">저작권,명예훼손 등 기타 권리 침해<span id="2"></span><br> 
				<input type="checkbox" value="불건전한 글 등록" name="reason"
					id="ban3" th:onclick="checkOnlyone(this)"> 불건전한 글 등록 <span id="3"></span><br>
				<input type="checkbox" value="광고,홍보성 내용" name="reason"
					id="ban4" th:onclick="checkOnlyone(this)"> 광고,홍보성 내용 <span id="4"></span><br> 
				<input type="checkbox" value="기타" name="reason" id="ban5" th:onclick="checkOnlyone(this)"> 기타 <span id="5"></span><br>

				<button th:onclick="banSubmit()">신고하기</button>
				<button class="closeBtn">닫기</button>
			</div>
		</div>
	</div>
		
	</section>
	<!-- Related Blog Section End -->
	<!-- JS -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
		<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
		<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
		<script th:src="@{/shoptemplate/js/main.js}"></script>
		<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
		  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
		<script>
		  Kakao.init('64b26959c96adc1324d47495b3b8e41a'); // 사용하려는 앱의 JavaScript 키 입력
		</script>
	</th:block>
	
	<!-- 좋아요버튼 / 디비 저장해야함 -->
	<script type="text/javascript">
	//csrf설정
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
	 
	
	
		let likeTF = $('.blogLike').val(); // input hidden value값으로 likeCount(like 테이블에 값이 있는지 조회)를 주고, 그 value를 가져옴
		let contentId='';
		let writerId='';
		
		var timeline1 = gsap.timeline({ repeatDelay: 0.7, paused: true}); //하트 효과
		timeline1.to(".heartbutton", {duration: 0.7, width: 50, ease: Back.easeIn}) 
	  			 .to(".like", {duration: 0.2, opacity: 0}, "-=0.7")
				 .to(".number", {duration: 0.2,opacity: 0, fontSize: 0}, "-=0.7")
				 .to(".far", {duration: 0.4, display: "none"}, "-=0.5") 
				 .to(".fa", {duration: 0.1, display: "inline-block"},"-=0.1")
				 .to(".heartbutton", {duration: 0.7, width: 170})
				 .to(".like", { opacity: 1},"-=0.5")
				 .to(".d", {duration: 0.3, opacity: 1, translateX: 0},"-=0.2").to(".number", {duration: 0.2, opacity: 1,text: "[[${cntBlogLike.count}]]", fontSize: 25}, "-=0.1");
		
		if(likeTF == 'Y'){ // like 테이블에 값이 있는지 확인하고, 값이 있으면 하트가 눌러진 상태로 표시 되게.
			timeline("[[${cntBlogLike.count}]]",true);
		}
		
		function timeline(e,tf){
			if(tf){ //만약 true이면,
				timeline1.to(".number", {duration: 0.2, opacity: 1,text: e, fontSize: 25}, "-=0.1"); //
				timeline1.play(); // 버튼 눌림
			}else{
				timeline1.progress(0).pause(); // 버튼 초기화
				$('.number').text(e);
			}
		}
		
		$(".heartbutton").click(function(){
			likeTF = $('.wrapper').find('input').val();
			event.stopPropagation();
			// 좋아요 디비 저장
			let bno = "[[${blogWrite.writeId}]]";
			let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
			
			if(id!=""){ // 로그인 된 상태이면
				//console.log($(".blogLike").val());
			  	if(likeTF=='F'){ // 테이블에 조회된 값이 없으면 db에 저장
			  			//db에 저장하는 메서드 컨트롤러에 추가
			  	
			  			$.ajax({
						      url: '/blog/addBlogLike',
						      method: 'post',
						      contentType: 'application/x-www-form-urlencoded',
						      data: {"groupId": bno}, // 컨트롤러로 넘겨줄 값. 이 페이지의 글 번호
						      beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
						      success: function (result) {
						         console.log(result.count);
						         // Y를 F로
						         
						       $('.blogLike').val('Y'); // blogLike인 클래스의 값을 불러와서 'Y'로 바꿔준다
						       timeline(result.count,true);
						      },
						      error: function (error) {
						         console.log(error);
						      }
						   })
			  	
			  	
			  	}else{	// db에 삭제
			  			//db에서 삭제 또는 수정하는 메서드 컨트롤러에 추가
			  	
			  			$.ajax({
						      url: '/blog/delBlogLike',
						      method: 'post',
						      contentType: 'application/x-www-form-urlencoded',
						      data: {"groupId": bno},
						      beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
						      success: function (result) {
						         console.log(result.count);
						         
						         // F를 Y로
						         $('.blogLike').val('F'); // blogLike인 클래스의 값을 불러와서 'F'로 바꿔준다
						         timeline(result.count,false);
						      },
						      error: function (error) {
						         console.log(error);
						      }
						   })
			  	};
			}else{ // 로그인 하지 않은 상태이면
				alert('로그인이 필요합니다');
			}
			});
				// 	좋아요 끝
			
				
				
				// 
				$("input[name='publicScope']").on("click", function(){
					if($(this).is(":checked")){
						$('#scopeReply').val('private');
					}else{
						$('#scopeReply').val('public');
					}
					
				});
				
				
				// 댓글 등록
			$('#replyBtn').on("click", function(){
				let bno = "[[${blogWrite.writeId}]]";
				let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
				if(id!=null){ // 로그인 된 상태이면
					$.ajax({
						url: '/blog/myblog/blogWrite/replyInsert',
						method: 'post',
						beforeSend : function(xhr)
			               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			               xhr.setRequestHeader(header, token);
			               },
						contentType: 'application/x-www-form-urlencoded',
						data: $('form[name="replyFrm"]').serialize(),
						success: function (result) {
					         console.log(result);
					         location.href='/blog/myblog/blogWrite?bno='+bno;	// 이거 빼고 어디에 뭐 넣어라~ 이런식으로
					    	 
						},
					      error: function (error) {
					         console.log(error);
					      }
					});
				}else{
					alert('로그인이 필요합니다.');
				}
			});
				
				
			// 대댓글 등록
			$('.rereplyBtn').each(function(){
				$(this).on("click", function(){ // 댓글 달기 버튼을 누르면 댓글 쓰는 칸 보이게
					console.log("대댓글");
					$(this).next().toggle('active'); // 댓글 쓰는 칸 열기
					$(this).next().find('.rereplyInsert').on('click', function(e){
						let bno = "[[${blogWrite.writeId}]]";
						let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
						
						if(id!=null){ // 로그인 된 상태이면
							$.ajax({
								url: '/blog/myblog/blogWrite/replyInsert',
								method: 'post',
								beforeSend : function(xhr)
					               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					               xhr.setRequestHeader(header, token);
					               },
								contentType: 'application/x-www-form-urlencoded',
								data: $(e.target).closest('form').serialize(),
								success: function (result) {
							         console.log(result);
 							         location.href='/blog/myblog/blogWrite?bno='+bno;	// 이거 빼고 어디에 뭐 넣어라~ 이런식으로
							    	 
								},
							      error: function (error) {
							         console.log(error);
							      }
							});
						}else{
							alert('로그인이 필요합니다.');
						}
					})
				})
			})
			
			// 대댓글 리스트 생성
			let listClone = $('.rereTemplate').find('author-comment').first();
			function makeRereList(item){
				let makeClone = $(listClone).clone();
				$(makeClone).find('span').text(item.writerId);
				$(makeClone).find('mb-1').text(item.replyDate);
				$(makeClone).find('p').text(item.content);
			}
			
			
			//신고모달창 생성
			const openButton = document.querySelector(".openBtn");
			const modal = document.querySelector(".modal");
			const closeButton = modal.querySelector(".closeBtn");
			const modalBackground = modal.querySelector(".modal__background");

			function displayModal(){
				console.log("클릭")
			    modal.classList.toggle("hidden");
			}

			document.querySelectorAll(".openBtn").forEach((openButton) => {
		           console.log(openButton);
		           openButton.addEventListener("click", displayModal);
		         });
			closeButton.addEventListener("click", displayModal)
			modalBackground.addEventListener("click", displayModal);
		
			
			//신고체크박스시 자세내용적기 창 생성
			function checkOnlyone(element){
				const reason=document.getElementsByName("reason");
				reason.forEach((cb) => 
				{cb.checked = false;	
				let span=cb.nextElementSibling;
				span.innerHTML="";	
				})						
				element.checked = true;
				let span=element.nextElementSibling;
				span.innerHTML="<br><textarea name='text' placeholder='상세설명' id='detailReason'></textarea>";										
			}
			
			//신고제출
			function banSubmit(){
				let bno = "[[${blogWrite.writeId}]]";
				console.log(contentId,writerId);
				let reasonLength = document.getElementsByName("reason").length;  
   				for (var i=0; i<reasonLength; i++) {
        			if (document.getElementsByName("reason")[i].checked == true) {
            			console.log(document.getElementsByName("reason")[i].value); 
            			var reason=document.getElementsByName("reason")[i].value
        			}
				}
   				
   				
   				console.log(document.getElementById("detailReason").value);
   				let detailReason=document.getElementById("detailReason").value; //상세 이유
   				let fromId="[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]"; //신고 한 사람
				//console.log(fromId, groupId,toId, reason);
				
					$.ajax({
						url: '/blog/addBan',
						method: 'post',
						contentType: 'application/x-www-form-urlencoded',
						data: {"groupId":contentId,
							   "toId":writerId,
							   "reason":reason,
							   "detailReason":detailReason},
					   beforeSend : function(xhr)
		               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		               xhr.setRequestHeader(header, token);
		               },
						success: function (result) {
					         console.log(result);
					    	 alert("신고 완료");
					    	 location.href='/blog/myblog/blogWrite?bno='+bno;
						},
					      error: function (error) {
					         console.log(error);
					      }
					})
					
			}
			
			// 그룹 아이디랑 신고받을 사람 아이디 받는 함수
				$('.openBtn').on("click",function(){
					contentId = $(this).attr('value1');
					writerId = $(this).attr('value2');
					console.log(contentId);
					console.log(writerId);
					banSubmit(contentId,writerId);
				})
				
			// 글 삭제
				$('#blogDelete').on("click", function(){
					let writeId = $(this).val();
					console.log(writeId);
					alert("정말 삭제하시겠습니까?");
					$.ajax({
						url: '/blog/blogDelete',
						method: 'post',
						contentType: 'application/x-www-form-urlencoded',
	 					data: {"writeId":writeId},
	 					beforeSend : function(xhr)
			               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			               xhr.setRequestHeader(header, token);
			               },
	 					success: function(result){
	 						console.log(result);
	 						alert("삭제완료");
	 						location.href="'/blog/myblog?userId='+'[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]'";
	 					},
	 					error: function(error){
	 						console.log(error);
	 					}
					})
				})
				
			// 댓글, 대댓글 삭제	
			$('.reDelBtn').on("click", function(){
				let replyId = $(this).attr("value");
				console.log(replyId);
				$.ajax({
					url: '/blog/replyDel',
					method: 'post',
					contentType: 'application/x-www-form-urlencoded',
 					data: {"replyId":replyId},
 					beforeSend : function(xhr)
		               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		               xhr.setRequestHeader(header, token);
		               },
 					success: function(result){
 						location.reload();
 					},
 					error: function(error){
 						console.log(error);
 					}
				})
			})
				
			// 카톡공유
			Kakao.Share.createCustomButton({
			    container: '#kakaotalk-sharing-btn',
			    templateId: 89222,
			    templateArgs: {
			      title: '라이언이 즐겨먹던 바로 그 틴케이스 치즈볼',
			      description: '바라만 봐도 즐거워지는 힐링 패키지에는 시크릿 스토리가 숨어있어요.',
			      url: 'blog/myblog/blogWrite?bno=[[${blogWrite.writeId}]]'
			    },
			  });	
			
	</script>
	
</div>

</html>