<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/shop/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>
</head>
<body>








<!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
		</th:block>
</body>
</html>