<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/bootstrap.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/elegant-icons.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/jquery-ui.min.css}"
		type="text/css">
	<link rel="stylesheet"
		th:href="@{/shoptemplate/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/slicknav.min.css}"
		type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/style.css}"
		type="text/css">
</th:block>

<style>
 /* VARIABLES -  START */
/* COLORS  */
/* DIMENSIONS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* VARIABLES - END */
/* COMMONS - START */
.flex-center, .wrapper .button-container, .wrapper {
  justiy-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* COMMONS - END */
/* STYLES -  START */
.wrapper {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.heartbutton {
  height: 50px;
  width: 170px;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 12.5px;
  cursor: pointer;
}

.content .icon {
  font-size: 25px;
  color: #ea4a87;
}
.content .icon.fa {
  display: none;
}
.content .text {
  font-size: 25px;
  color: #2f3537;
}
.content .text.like {
  margin-left: 10px;
}
.content .text.d {
  opacity: 0;
  display: inline-block;
  transform: translateX(12px);
}
.content .text.number {
  margin-left: 10px;
  color: #7a7c81;
}

/* STYLES - END */
 
</style>

</head>

<!-- Content -->

<div layout:fragment="content">

	<!-- Blog Details Hero Begin -->
	<section class="blog-details-hero set-bg"
		th:data-setbg="@{/shoptemplate/img/blog/details/details-hero.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="blog__details__hero__text">
						<h2>[[${blogWrite.writeTitle}]]</h2>
						<ul>
							<li>By [[${blogWrite.writerNickname}]]</li>
							<li>[[${#dates.format(blogWrite.writeDate, 'YYYY-MM-DD')}]]</li>
							<li>8 Comments</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Hero End -->

	<!-- Blog Details Section Begin -->
	<section class="blog-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-5 order-md-1 order-2">
					<div class="blog__sidebar">
						<!--                     	<button th:onclick="|location.href='@{/blog/myblog/blogWrite/blogUpdate/test01/BW001}'|">수정</button> -->
						<!--                     	<button th:onclick="|location.href='@{/blog/myblog/blogWrite/blogDelete/test01/BW001}'|">삭제</button> -->
						<div class="blog__sidebar__search">
							<form action="#">
								<input type="text" placeholder="Search...">
								<button type="submit">
									<span class="icon_search"></span>
								</button>
							</form>
						</div>
						<div class="blog__sidebar__item">
							<h4>Categories</h4>
							<ul>
								<li><a href="#">All</a></li>
								<li><a href="#">Beauty (20)</a></li>
								<li><a href="#">Food (5)</a></li>
								<li><a href="#">Life Style (9)</a></li>
								<li><a href="#">Travel (10)</a></li>
							</ul>
						</div>
						<div class="blog__sidebar__item">
							<h4>Recent News</h4>
							<div class="blog__sidebar__recent">
								<a href="#" class="blog__sidebar__recent__item">
									<div class="blog__sidebar__recent__item__pic">
										<img th:src="@{/shoptemplate/img/blog/sidebar/sr-1.jpg}"
											alt="">
									</div>
									<div class="blog__sidebar__recent__item__text">
										<h6>
											09 Kinds Of Vegetables<br /> Protect The Liver
										</h6>
										<span>MAR 05, 2019</span>
									</div>
								</a> <a href="#" class="blog__sidebar__recent__item">
									<div class="blog__sidebar__recent__item__pic">
										<img th:src="@{/shoptemplate/img/blog/sidebar/sr-2.jpg}"
											alt="">
									</div>
									<div class="blog__sidebar__recent__item__text">
										<h6>
											Tips You To Balance<br /> Nutrition Meal Day
										</h6>
										<span>MAR 05, 2019</span>
									</div>
								</a> <a href="#" class="blog__sidebar__recent__item">
									<div class="blog__sidebar__recent__item__pic">
										<img th:src="@{/shoptemplate/img/blog/sidebar/sr-3.jpg}"
											alt="">
									</div>
									<div class="blog__sidebar__recent__item__text">
										<h6>
											4 Principles Help You Lose <br />Weight With Vegetables
										</h6>
										<span>MAR 05, 2019</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 order-md-1 order-1">
					<div class="blog__details__text">
						<img th:src="@{/shoptemplate/img/blog/details/details-pic.jpg}"
							alt=""> [(${blogWrite.blogWrite})]
					</div>
					<div class="blog__details__content">
						<div class="row">
							<div class="col-lg-6">
								<div class="blog__details__author">
									<div class="blog__details__author__pic">
										<img
											th:src="@{/shoptemplate/img/blog/details/details-author.jpg}"
											alt="">
									</div>
									<div class="blog__details__author__text">
										<h6>[[${blogWrite.writerNickname}]]</h6>
										<span>[[${blogWrite.blogId}]]</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="blog__details__widget">
									<ul>
										<!-- 하트 -->
										<li><div class="wrapper" >
												<div class="button-container">
													<div class="heartbutton" th:onclick="saveLike(this)">
														<span class="content"> <i class="icon fa fa-heart"
															aria-hidden="true"></i> <i class="icon far fa-heart"
															aria-hidden="true"></i> <span class="text like">Like<span
																class="text d">d</span></span> <span class="text number">0</span>
														</span>
														<input type="hidden" class="blogLike" value="F"> <!-- 초기값을 F로 두기 -->
													</div>
												</div>
											</div></li>
										<li><span>Categories:</span>[[${blogWrite.categoryName}]]</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--댓글 -->
		<main>
			<section class="news-section section-padding">
            <div class="container">
                <div class="row">
                	<div class="author-comment d-flex mt-3 mb-4">
                                    <img th:src="@{/images/avatar/studio-portrait-emotional-happy-funny.jpg}"
                                        class="img-fluid avatar-image" alt="">

                                    <div class="author-comment-info ms-3">
                                        <h6 class="mb-1">Jack</h6>

                                        <p class="mb-0">Kind Heart Charity is the most supportive organization. This is
                                            Bootstrap 5 HTML CSS template for everyone. Thank you.</p>

                                        <div class="d-flex mt-2">
                                            <a href="#" class="author-comment-link me-3">Like</a>

                                            <a href="#" class="author-comment-link">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="author-comment d-flex ms-5 ps-3">
                                    <img th:src="@{/images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg}"
                                        class="img-fluid avatar-image" alt="">

                                    <div class="author-comment-info ms-3">
                                        <h6 class="mb-1">Daisy</h6>

                                        <p class="mb-0">Sed leo nisl, posuere at molestie ac, suscipit auctor mauris.
                                            Etiam quis metus elementum, tempor risus vel, condimentum orci</p>

                                        <div class="d-flex mt-2">
                                            <a href="#" class="author-comment-link me-3">Like</a>

                                            <a href="#" class="author-comment-link">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="author-comment d-flex mt-3 mb-4">
                                    <img th:src="@{/images/avatar/portrait-young-redhead-bearded-male.jpg}"
                                        class="img-fluid avatar-image" alt="">

                                    <div class="author-comment-info ms-3">
                                        <h6 class="mb-1">Wilson</h6>

                                        <p class="mb-0">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg
                                            kohm tokito Professional charity theme based on Bootstrap</p>

                                        <div class="d-flex mt-2">
                                            <a href="#" class="author-comment-link me-3">Like</a>

                                            <a href="#" class="author-comment-link">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <form class="custom-form comment-form mt-4" action="#" method="post" role="form">
                                    <h6 class="mb-3">Write a comment</h6>

                                    <textarea name="comment-message" rows="4" class="form-control" id="comment-message"
                                        placeholder="Your comment here"></textarea>

                                    <div class="col-lg-3 col-md-4 col-6 ms-auto">
                                        <button type="submit" class="form-control">Comment</button>
                                    </div>
                                </form>
                </div>
            </div>
            </section>
		</main>
	</section>
	<!-- Blog Details Section End -->
	
	
	
	
	<!-- Related Blog Section Begin -->
	<section class="related-blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title related-blog-title">
						<h2>Post You May Like</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-1.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">Cooking tips make cooking simple</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-2.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">6 ways to prepare breakfast for 30</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img th:src="@{/shoptemplate/img/blog/blog-3.jpg}" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
								<li><i class="fa fa-comment-o"></i> 5</li>
							</ul>
							<h5>
								<a href="#">Visit the clean farm in the US</a>
							</h5>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<!-- Related Blog Section End -->
	<!-- JS -->
	<th:block layout:fragment="script">
		<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
		<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
		<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
		<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
		<script th:src="@{/shoptemplate/js/main.js}"></script>
	</th:block>
	
	<!-- 좋아요버튼 / 디비 저장해야함 -->
	<script type="text/javascript">

	var like = parseInt($(".number").text()) + 1;
	var flag = true;
	var timeline1 = gsap.timeline({ repeatDelay: 0.7, paused: true});
		timeline1.to(".heartbutton", {duration: 0.7, width: 50, ease: Back.easeIn}) 
	  			 .to(".like", {duration: 0.2, opacity: 0}, "-=0.7")
				 .to(".number", {duration: 0.2,opacity: 0, fontSize: 0}, "-=0.7")
				 .to(".far", {duration: 0.4, display: "none"}, "-=0.5") 
				 .to(".fa", {duration: 0.1, display: "inline-block"},"-=0.1")
				 .to(".heartbutton", {duration: 0.7, width: 170})
				 .to(".like", { opacity: 1},"-=0.5")
				 .to(".d", {duration: 0.3, opacity: 1, translateX: 0},"-=0.2").to(".number", {duration: 0.2, opacity: 1,text: like, fontSize: 25}, "-=0.1");
		
		$(".heartbutton").click(function(){
			event.stopPropagation();
		  	flag ? timeline1.play() :   timeline1.progress(0).pause();
		  	flag = !flag;  	
		});
		
		function saveLike(data){
			// 좋아요 디비 저장
			console.log(data);
			let bno = "[[${blogWrite.writeId}]]";
			let id = "[[${session.id}]]";
			if(id!=null){ // 로그인 된 상태이면
				//console.log($(".blogLike").val());
			  	if('[[${likeCount}]]'=='F'){ // db에 저장
			  			//db에 저장하는 메서드 컨트롤러에 추가
// 			  			fetch('/blog/addBlogLike?groupId='+bno)
// 			  			.then((response)=> console.log('success'))
// 			  			.then((data) => console.log(data));
			  	
			  			$.ajax({
						      url: '/blog/addBlogLike',
						      method: 'post',
						      contentType: 'application/x-www-form-urlencoded',
						      data: {"groupId": bno},
						      success: function (result) {
						         console.log(result);
						         alert('좋아요 완료');
						      },
						      error: function (error) {
						         console.log(error);
						      }
						   })
			  	
			  	
			  	}else{					 // db에 삭제
			  			//db에서 삭제 또는 수정하는 메서드 컨트롤러에 추가
// 			  			fetch('/blog/delBlogLike?groupId='+bno)
// 			  			.then((response)=> console.log('success'))
// 			  			.then((data) => console.log(data));
			  	
			  			$.ajax({
						      url: '/blog/delBlogLike',
						      method: 'post',
						      contentType: 'application/x-www-form-urlencoded',
						      data: {"groupId": bno},
						      success: function (result) {
						         console.log(result);
						         alert('좋아요 삭제 완료');
						      },
						      error: function (error) {
						         console.log(error);
						      }
						   })
			  	};
			}else{ // 로그인 하지 않은 상태이면
				alert('로그인이 필요합니다');
			}
		  	
		}
	
	</script>
	
</div>

</html>