<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- Css  -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/blog.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/shoptemplate/css/nice-select.css}"
	type="text/css">
</th:block>
<head>
<meta charset="UTF-8">
<style>
caption.dots {
	color: #5c5e6e;
	border: bottom;
	border-width: 0 0 8px;
	border-style: solid;
	border-image:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="5" height="4"><circle fill="gray" cx="1" cy="0.5" r="0.4"/></svg>')
		0 0 100% repeat;
	width: 199px;
}
/* GENERAL STYLES */
.pagination ul {
	margin: auto;
	padding: 0;
	list-style: none;
}

/* ONE */
.p1 li {
	font-size: 14px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	float: left;
	cursor: pointer;
}

/* 블로그관리버튼 */
.info, .follow {
	font-size: 15px;
	background: #FCFBFC;
	color: #9dc2c0;
	cursor: pointer;
	outline: none;
    font-weight: bold;
    border: 2px solid #9dc2c0;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    line-height: 29px;
    margin: 6px 3px;
    z-index: 30;
    width: 130px;
}

#modalImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#mmtDelBtn {
	margin-left: 212px;
	position: absolute;
	margin-top: -47px;
}

.form-control {
	width: 280px;
}

#exampleModal .modal-dialog{
	--bs-modal-bg: #fff0;
	--bs-modal-border-color:#fff0;
	width: 900px;
}

#exampleModal .modal-image {
	width: 64%;
	height: 600px;
	padding-right: 20px;
}

#exampleModal .col-md-6 {
	width: 36%;
	background-color: #ffffff;
    border-radius: 20px;
}
#exampleModal #uploadDate {
	text-align: end;
	margin-bottom: 0px;
	position: relative;
	bottom: -5%;
}
#searchWord {
	width: 50%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px 0px 0px 3px;
}
#searchBtn {
	margin: 0px auto;
	padding: 4px 10px;
	font-size: 19px;
	border: 0px;
	background: #9dc2c0;
	color: #fff;
	cursor: pointer;
	border-radius: 0px 3px 3px 0px;
	outline: none;
}
.pagination{
	position: absolute;
    bottom: 10px;
    width: 72%;
}

#mmtInsertBtn {
	background-color: #9dc2c0;
	color: white;
	text-align: center;
	margin-right: 5px;
	margin-top: 38px;
	padding: 12px;
	position: relative;
    left: -162px;
    width: 100px;
}
.nice-select {
	color:#6c757d;
	width: 280px;
}
/* fieldset .modalText { */
/* 	margin-left: 20px; */
/* } */
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container" x-data="{ rightSide: false, leftSide: false }">
			<div class="main">
				<div class="main-container">
					<!-- 프로필 -->
					<div class="profile">
						<div class="profile-avatar">
							<img th:if="${blogInfo.fileRoute != null}"
								th:src="'/fileView/'+${blogInfo.fileRoute}"
								alt="profile-sample5" class="profile-img" /> <img
								th:if="${blogInfo.fileRoute == null}"
								th:src="@{/images/defaulltProfile.png}" alt="profile-sample5"
								class="profile-img" />
							<div class="profile-name">
								[[${blogInfo.nickname}]] <span style="font-size: 20px">@[[${blogInfo.blogId}]]</span>
								<br>
								<p>[[${blogInfo.introduction}]]</p>
							</div>

						</div>
						<!-- 헤더 -->
						<img th:if="${blogInfo.headerImg == null}" 
							 th:src="@{/blog/img/header.gif}"
							 alt="" class="profile-cover" id="headerFile">
						<img th:unless="${blogInfo.headerImg == null}" 
							 th:src="'/fileView/'+${blogInfo.headerImg}"
							 alt="" class="profile-cover" id="headerFile">
						<!-- 헤더 끝 -->

						<div class="profile-menu">
							<a  type="button" class="profile-menu-link follow"
								th:value=${subCount}
								th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} != ${blogInfo.blogId}">
								<th:block th:if="${subCount=='F'}">구독하기</th:block>
								<th:block th:unless="${subCount=='F'}">구독 중</th:block>
							</a> 
							<a  type="button" class="profile-menu-link follow"
								th:value=${subCount}
								th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} != ${blogInfo.blogId}"
								style="display: none;">구독
							</a> 
							<a  th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
								style="display: none"
								th:href="@{/blog/myblog/blogTask(blogId=${blogInfo.blogId})}"
								class="profile-menu-link info">블로그 관리 ⚙
							</a> 
							<a  th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
								th:href="@{/blog/myblog/blogTask(blogId=${blogInfo.blogId})}"
								class="profile-menu-link info">블로그 관리 ⚙
							</a>
							<!-- 검색바 -->
							<div>
								<a><input type="text" placeholder="Search..." id="searchWord"
									style="width: 150px; height: 30px; position: relative; margin-top: 17px; margin-left: 844px; overflow: auto;">
									<button type="button" class="btn btn-light" id="searchBtn"
										style="width: 40px; height: 30px; position: absolute; margin-top: 17px;">
										<i class="fa-solid fa-magnifying-glass"></i>
									</button> 
								</a>
							</div>
							<!-- 검색바 끝 -->
						</div>
					</div>
					<!-- 프로필 끝 -->
					<div class="timeline">
						<div class="left-side">
							<!-- 사이드 바 -->
							<div class="side-wrapper">
								<div class="side-title" style="margin-bottom: 0px;">
									<div class="side-menu">
										<a th:href="@{/blog/myblog(userId=${blogInfo.blogId})}"
											style="display: inherit;"> <svg
												xmlns="http://www.w3.org/2000/svg" fill="none"
												stroke="currentColor" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round"
												viewBox="0 0 24 24"
												style="margin-right: 2px; margin-bottom: 4px;">
					            <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
					            <path d="M9 22V12h6v10" />
					          </svg> Home
										</a> <a th:href="@{/blog/myblog/blogWrite/blogInsert}"
											th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
											class="blog__btn"
											style="margin-left: 150px; position: absolute;"><i
											class="fa-solid fa-pencil"></i> 글작성</a> <a
											th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
											style="display: none;"></a>
									</div>
								</div>


								<!-- 카테고리 -->
								<div class="side-title">CATEGORY</div>
								<div class="side-menu">
<!-- 									<i class="fa-solid fa-seedling"></i> -->
									<ul th:each="cate:${category}" style="list-style:none;margin-left: -27px;">
										<li><a class="searchCate fa-solid fa-seedling" th:value="${cate.categoryId}"
											style="cursor: pointer;float:left;">&nbsp; [[${cate.categoryName}]]</a></li>
									</ul>
								</div>
							</div>
							<!-- 카테고리 끝 -->

							<!-- 최신글 -->
							<div class="side-wrapper">
								<div class="side-title">RECENT NEWS</div>
								<div class="side-menu">
									<a class="blog__sidebar__recent__item"
										th:each="rW:${recentWrite}">
										<div style="margin-top: 15px;">
											<h6 style="font-size: 16px; color: #9c9cab;">[[${#dates.format(rW.writeDate,
												'MM/dd')}]]</h6>
										</div>
										<div style="margin-left:10px;">
											<h6
												th:onclick="|location.href='@{/blog/myblog/blogWrite(bno=${rW.writeId},userId=${rW.blogId})}'|"
												style="font-size: 16px;color: #9c9cab;cursor:pointer;">
												[[${rW.writeTitle}]] <span> [[${rW.subTitle}]]</span><br />
											</h6>
											<span><i class="fa-solid fa-eye"
												style="font-size: 16px;"></i> [[${rW.cnt}]]</span>
										</div>
									</a>
								</div>
							</div>
							<!-- 최신글 끝 -->

							<!-- 구독 목록 -->
							<div class="side-wrapper">
								<div class="side-title">
									SUB LIST
									<div class="side-menu" style="float: right;">
										<a
											th:href="@{/blog/myblog/blogSubscribe(blogId=${blogInfo.blogId})}"
											th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"><i
											class="fa-regular fa-square-plus"></i>&nbsp;MORE</a> <a
											th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
											style="display: none;"></a>
									</div>
								</div>
								<div>
									<table id="submeTable">
										<caption class="side-title dots"
											style="caption-side: top; text-align: center; margin-bottom: 0px;">SUB
											ME</caption>
										<thead>
											<tr>
												<th></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="subMe:${subMeList}">
												<tr>
													<td><img th:if="${subMe.fileRoute == null}"
														th:src="@{/images/defaulltProfile.png}"
														style="height: 50px; width: 50px; border-radius: 10px;" />
														<img th:if="${subMe.fileRoute != null}"
														th:src="'/fileView/'+${subMe.fileRoute}"
														style="height: 50px; width: 50px; border-radius: 10px;" />
													</td>
													<td><a
														th:href="@{/blog/myblog(userId=${subMe.memberId})}"
														style="margin-left: 5px;">[[${subMe.memberId}]]</a></td>
												</tr>
											</th:block>
										</tbody>
									</table>
									<br />
									<table id="mySubTable">
										<caption class="side-title dots"
											style="caption-side: top; text-align: center; margin-bottom: 0px;">MY
											SUB</caption>
										<thead>
											<tr>
												<th></th>
												<th></th>
											</tr>
										</thead>

										<tbody>
											<th:block th:each="mySub:${mySubList}">
												<tr>
													<td><img th:if="${mySub.fileRoute == null}"
														th:src="@{/images/defaulltProfile.png}"
														style="height: 50px; width: 50px; border-radius: 10px;" />
														<img th:if="${mySub.fileRoute != null}"
														th:src="'/fileView/'+${mySub.fileRoute}"
														style="height: 50px; width: 50px; border-radius: 10px;" />
													</td>
													<td><a
														th:href="@{/blog/myblog(userId=${mySub.groupId})}"
														style="margin-left: 5px;">[[${mySub.groupId}]]</a></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
							</div>
							<!-- 구독 목록 끝 -->
						</div>
						<div class="timeline-right">
							<!-- 모먼트 -->
							<h3 style="text-align: center; margin: 0 auto;">
								MOMENT 
								<a data-bs-toggle="modal" data-bs-target="#insertModal"
									type="button"
									th:if="${mmtCnt<4} and ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"><i class="fa-solid fa-comment-medical"></i></a>
								<a type="button"
									th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} != ${blogInfo.blogId}"
									disabled><i class="fa-solid fa-comment"></i></a>
								<a type="button" th:if="${mmtCnt==4} and ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
									onclick="alert('😥 저장 가능한 모먼트 용량이 초과되었습니다. 삭제 후 등록해주세요!')"><i class="fa-solid fa-comment-slash"></i></a>
								
								
							</h3>
							<div id="card-app" class="card-container mmtpage-content">
								<!-- 모달창 띄우는 버튼 -->
								<a th:each="moment : ${moments}" data-bs-toggle="modal"
									data-bs-target="#exampleModal" id="modalBtn"
									th:if="${moment.publicScope}=='public' or
						  ${moment.publicScope}=='partial' and  ${subCount} =='T' or
						  ${moment.blogId} == ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}">
									<a style="padding: 100px;"
									th:unless="${moment.publicScope}=='public' or
						  ${moment.publicScope}=='partial' and  ${subCount} =='T' or
						  ${moment.blogId} == ${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}"></a>

									<input type="hidden" id="mmtId" th:value="${moment.momentId}">

									<card th:data-image="@{'/fileView/'+${moment.fileRoute}}" th:if="${moment.fileRoute != null}"
										class="mmtcard inputfield" id="preview-image"
										th:style="'background: url('+@{'/fileView/'+${moment.fileRoute}}+');background-repeat:no-repeat;background-size:cover;'">
									<h1 class="mmttitle">@[[${moment.blogId}]]</h1>
									<p class="mmtcopy">[[${#dates.format(moment.uploadEnd, 'YY.MM.dd')}]]</p>
									</card>
									<card data-image="/blog/img/blogDefault.png" th:unless="${moment.fileRoute != null}"
										class="mmtcard inputfield" id="preview-image"
										th:style="'background: url('+'/blog/img/blogDefault.png'+');background-repeat:no-repeat;background-size:cover;'">
									<h1 class="mmttitle">@[[${moment.blogId}]]</h1>
									<p class="mmtcopy">~[[${#dates.format(moment.uploadEnd, 'YY.MM.dd')}]]</p>
									</card>
								</a>
							</div>
							<!-- 모먼트 끝 -->

							<!-- 페이징 해야함 -->
							<div class="col-lg-8 col-md-7"
								style="width: 90%; margin: 30px auto;">
								<div class="row blogList" style="margin-bottom: 90px;"></div> 
							</div>
							<!-- 페이징 해야함 -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 클론 -->
		<div class="template" style="display: none">
			<div class="album box">
				<div class="album-content" onclick="scopeCheck(this)" style="cursor:pointer">
					<a></a>
					<div class="album-photos" onclick="scopeCheck(this)" style="cursor:pointer">
						<input type="hidden" class="thumbnail">
						<!-- 썸네일 -->
						<img id="thumbImg" class="album-photo">
					</div>
				</div>
				<div class="album-actions">
					<a class="album-action"> <i class="fa fa-calendar-o"></i>
					</a> <a class="album-action"> <i class="fa fa-comment-o"></i>
					</a> <a class="album-action"> <i class="fa-solid fa-eye"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- 클론 끝 -->


		<!-- 모달창 조회 -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content" style="padding: 15px;background-color: white;">
					<div class="modal-body row" style="height: 50%;">
						<div class="modal-image sticky-top">
							<img id="modalImg"
								src="https://unsplash.it/800/1200.jpg?image=256"
								class="img-fluid sticky-top">
						</div>
						<div class="col-md-6 p-3">
							<span class="round"> <img
								th:if="${blogInfo.fileRoute != null}"
								th:src="'/fileView/'+${blogInfo.fileRoute}"
								alt="profile-sample5" class="profile modalP"
								style="border-radius: 100px; width: 70px; height: 70px;" /> <img
								th:if="${blogInfo.fileRoute == null}"
								th:src="@{/images/defaulltProfile.png}" alt="profile-sample5"
								class="profile modalP"
								style="border-radius: 100px; width: 70px; height: 70px;" /> <a
								class="mt-3" style="font-weight: bold; font-size: 20px;">닉네임</a>
							</span>

							<p id="nickname" style="margin-left: 8px;">Edited · 1d</p>
							<button class="mmtbtn btn" th:if="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
								style="color: white; background-color: #9dc2c0;" id="mmtDelBtn">delete</button>
							<button class="mmtbtn btn" th:unless="${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''} == ${blogInfo.blogId}"
								style="color: white; background-color: #9dc2c0;display:none;" id="mmtDelBtn">delete</button>
							<div class="mt-2 mx-2">
								<input type="text" class="form-control"
									placeholder="WITH ONSAEM" id="addUrl" readonly style="cursor:pointer;">
							</div>
							<div class="d-flex flex-row comment-row mt-2">
								<div class="p-2"></div>
								<div class="comment-text active w-100">
									<p id="mmtWrite" style="margin-top: 12px; margin-left: -5px;">내용</p>
								</div>
							</div>
							<p id="uploadDate"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달창 끝 -->

		<!-- 모먼트 작성 -->
		<div class="modal fade" id="insertModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content" style="padding: 15px;height: 819px;">
					<div class="modal-body row">
						<div class="modal-wrapper">
							<div class="title" style="margin-top:20px;margin-bottom:0px;">모먼트 작성</div>
						</div>
						<div class="col-md-6 modal-image sticky-top" style="left:26px;top:20px;position: relative;">
							<form id="momentFrm">
									<div class="p-2">
										<div class="image-container">
											<img style="width: 400px;height: 572px;border-radius:10px;margin-bottom:10px;object-fit:contain;" id="preview-image2"
												src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
											<input style="display: block;" type="file" name="uploadfile"
												multiple="multiple" id="input-image">
										</div>
									</div>
								</form>
						</div>
						<div class="col-md-6 p-3" style="left:98px;top:20px;position: relative;">
							<div class="inputfield">
									<div class="modal-wrapper" style="margin-bottom: 10px;">
										<div class="title" style="text-align: unset;font-size: 19px;margin-bottom:3px;font-weight: 600;">첨부 주소</div>
										<div class="modalText" style="height: 45px;">
											<input type="text" class="form-control" style="line-height:30px;border:solid 1px #e8e8e8;"
												placeholder="첨부할 주소를 입력하세요" id="insertUrl" maxlength="50"> <br>
										</div>
									</div>
							</div>	
							<fieldset>
								<div class="inputfield">
									<div class="modal-wrapper" style="margin-bottom: 10px;">
										<div class="title" style="text-align: unset;font-size: 19px;margin-bottom:3px;font-weight: 600;">업로드 기간</div>
										<div class="modalText">
											<input type="date" id="date" placeholder="Select a date" 
												style="width: 280px;padding-right: 10px;border:solid 1px #e8e8e8;border-radius:5px;background-color:#fff;height:42px;line-height:40px;padding-left: 18px;color: #6c757d;"
												data-datepicker-events="{date: '2020-07-12T12:00', name: 'Business Lunch Zürich', type: 'holiday'}"
												required /> <br>
										</div>
									</div>
								</div>
								<div class="inputfield">
									<div class="modal-wrapper"  style="margin-bottom: 10px;">
										<div class="title" style="text-align: unset;font-size: 19px;margin-bottom:3px;font-weight: 600;">공개범위</div>
										<div class="modalText">
											<select name="publicScope" id="scope">
												<option value="public">전체공개</option>
												<option value="partial" selected>일부공개</option>
												<option value="private">비공개</option>
											</select>
										</div>
									</div>
								</div>
							</fieldset>

							<div class="flex-row comment-row mt-2">
								<div class="modal-wrapper"  style="margin-bottom: 10px;">
									<div class="title" style="text-align: unset;font-size: 19px;margin-bottom:3px;font-weight: 600;">상세 내용</div>
								
								<textarea id="momentWrite" cols="15" rows="11" class="form-control"
								placeholder="500자 미만으로 입력해주세요" maxlength="500"></textarea></div>
							<input type="hidden" id="getblogId" th:value="${blogInfo.blogId}">
							<button type="button" id="mmtInsertBtn" class="btn">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 모먼트 작성 끝 -->

		<!-- moment -->
		<script type="text/javascript">
			
			//csrf설정
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");	
			
			// 블로그 아이디 가져오기
			let blogId = $('#getblogId').val();
// 			console.log("블로그 아이디 찾아요~!"+blogId);
			// 세션 아이디 값
			let sessionId = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";

			// 검색할 때 값 넣기
			let nowData = {"writeTitle" : null, 
						   "blogId": blogId}; 
			
			// 구독했는지 확인하기
			let subTF = $('.follow').attr('value');
			
			// 페이징 할 때 리스트 클론하기
			let listClone = $(".template").find(".album").first();
			
			// 좋아요 조회
			let likeTF = $('.blogLike').val();
			
			// 검색할때 값 넣는 곳
			function dataMake(){
				let data = {};
				if($("#searchWord").val()){
					data['writeTitle'] = $("#searchWord").val();
					data['blogId'] = blogId;
				}
				return data;
			}
			
			// 제목 검색
			$("#searchBtn").on("click", function(){
				nowData = dataMake();
				newBlogList(1);
			})
			
			// 카테고리 검색
			$(".searchCate").each(function(){
				$(this).on("click", function(){
					let categoryId = $(this).attr("value"); // value는 input아니면 attr로 가져오기!!!!!
					nowData = {"categoryId" : categoryId,
							   "blogId" : blogId};
					newBlogList(1);
				})
			})

			
// 			// moment 모달
			//moment 등록버튼을 누르면, 입력된 값을 DB로 보내기
			$("#mmtInsertBtn").on("click", function(){
				let data = new FormData($('#momentFrm')[0]); //아이디가 momentFrm을 가져온다.
				
				data.append("momentWrite", $('#momentWrite').val());
				data.append("addUrl", $('#insertUrl').val());
				data.append("uploadEnd", $('#date').val());
				data.append("publicScope",$('#scope').val());  //컨트롤러에 가져갈 내용을 담는다.
				
				if($('#date').val() != '' && $('#momentWrite').val() != ''){
					$.ajax({
						url : '/blog/insertMoment',
						enctype: 'multipart/form-data',
						method : 'POST',
						processData: false,
						contentType: false,
						data : data,
						beforeSend : function(xhr)
			               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			               xhr.setRequestHeader(header, token);
			               },
						dataType:'json',
						success : function(result) {
							alert('성공');
							location.reload();
						},
						error : function(error) {
							console.log(error);
							alert('실패');
						}
					})
				}else{
					alert("등록기간과 내용을 입력해주세요");
				}
			})
			
			// moment 모달 상세보기 모먼트번호 보내기
			$(".mmtpage-content").children("#modalBtn").each(function(){ 
				$(this).on("click", function(){
					console.log(this);
					let mno = $(this).children('#mmtId').val();
					console.log(mno);
	 				$.ajax({
	 					url: '/blog/getMoment',
	 					method: 'post',
	 					contentType: 'application/x-www-form-urlencoded',
	 					data: {"momentId": mno},
	 					beforeSend : function(xhr)
	 	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 	               xhr.setRequestHeader(header, token);
	 	               },
	 					success: function(result){
	 						$('#exampleModal').modal('show');
	 						
	 						console.log(result);
 	 						$(".mt-3").text(result.nickname);
 	 						if(result.fileRoute != null){
 	 							$("#modalImg").attr("src", "/fileView/"+result.fileRoute);
 	 						}else{
 	 							$("#modalImg").attr("src", "/blog/img/blogDefault.png");
 	 						}
 	 						$("#addUrl").val(result.addUrl);
 	 						$("#addUrl").on('click', function(){
 	 							location.href='http://'+$("#addUrl").val();
 	 						});
 	 						$("#mmtWrite").text(result.momentWrite);
							$("#nickname").text("@"+result.blogId+" · "+result.writeDate.substr(0,10)+" "+result.writeDate.substr(11,5));
							$("#uploadDate").text(result.uploadStart.substr(0,10)+" - "+result.uploadEnd.substr(0,10));
	 					},
	 					error: function (error){
	 						console.log(error);
	 					}
	 				})
				})
				
				
			})
			
			
			// 모달 끝
			
			
// 			// input file에 change 이벤트 부여
			const inputImage = document.getElementById("input-image")
			inputImage.addEventListener("change", function(e) {
				console.log('확인');
			    readImage(e.target);
			})
			// 이미지 미리보기
			function readImage(input) {
			    // 인풋 태그에 파일이 있는 경우
			    if(input.files && input.files[0]) {
			        // 이미지 파일인지 검사 (생략)
			        // FileReader 인스턴스 생성
			        const reader = new FileReader();
			        // 이미지가 로드가 된 경우
			        // reader가 이미지 읽도록 하기
			        reader.readAsDataURL(input.files[0]);
			        reader.onload = e => {
			            const previewImage = document.getElementById("preview-image2");
			            console.log('확인22');
			            previewImage.src = e.target.result;
			            console.log(previewImage.src);
			        }
			        
			    }
			}
			
// 			// 구독
			if(subTF == 'T'){ // 만약 값이 있다면
				$(".follow").css({'background-color':'#9dc2c0','color':'white','border-color':'white'});
			}else{
				$(".follow").css({'background-color':'','color':'','border-color':'#9dc2c0'});
			}
			
			
			//구독 저장
			$(".follow").on("click", function(){
				let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
				if(id!=""){
					if(subTF =='F'){ // 구독하지 않았다면~
						let th =$(this);
						$(this).css({'background-color':'#9dc2c0','color':'white','border-color':'white'});
						
						$.ajax({
							url: '/blog/addSub',
							method: 'post',
							contentType: 'application/x-www-form-urlencoded',
							data: {"groupId":blogId},
							beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
							success: function(result){
								console.log(result);
								alert("구독 완료");
								th.text('구독 중');
								subTF = 'T';
							},
							error: function(error){
								console.log(error);
							}
						})
					
				}else{
				//구독 취소
		 				$(this).css({'background-color':'','color':'#9dc2c0','border-color':'#9dc2c0'});
		 				let th =$(this);
		 				$.ajax({
		 					url: '/blog/delSub',
		 					method: 'post',
		 					contentType: 'application/x-www-form-urlencoded',
							data: {"groupId":blogId, "memberId": id},
							beforeSend : function(xhr)
				               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				               xhr.setRequestHeader(header, token);
				               },
							success: function(result){
								console.log(result);
								alert("구독 취소");
								th.text('구독하기');
								subTF = 'F';
							},
							error: function(error){
								console.log(error);
							}
		 				});
				}
			}else{
					alert('로그인이 필요합니다');
				}
			});
			
			
			
// 			console.log($("document").find('#mmtDelBtn'));
			$("#mmtDelBtn").each(function(){
				console.log(this);
				$(this).on("click", function(){
					let momentId = $('#mmtId').val();
					console.log("momentID: "+momentId);
	 				$.ajax({
	 					url: '/blog/momentDel',
	 					method: 'post',
	 					contentType: 'application/x-www-form-urlencoded',
	 					data: {"momentId":momentId},
	 					beforeSend : function(xhr)
	 	               {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 	               xhr.setRequestHeader(header, token);
	 	               },
	 					success: function(result){
	 						console.log(result);
	 						alert("삭제완료");
	 						location.reload();
	 					},
	 					error: function(error){
	 						console.log(error);
	 					}
	 				});
				});
			});
			
			
			// 페이지 이동
			$(".blogList").on("click","#pageNum",function(e){
				newBlogList($(e.target).text());
			});

		
			
			
			// 페이징 만들기 이건 본인 css나 html에 맞춰서 할것
			function makePageing(page){
				// 가져온 결과값이 0개면 리턴
				if(page.totalRecord == 0){
					return;
				}
				// 페이징을 넣을 div, ul 생성
				let pagination = $("<div/>").addClass("pagination p1");
				let ul = $("<ul/>");
				// 페이징 시작부분이 1보다 크면 이전으로 가기 버튼 생성 ex) <<
				if(page.startPage > 1){
					$(ul).append($("<li/>").html("&laquo;").css("font-size","30px").on("click",function(){newBlogList(page.startPage-page.pageSize)}));
				}
				// 페이지 생성  ex) 1 2 3 4 5
				for(let i = page.startPage; i <= page.endPage; i++){
					if(page.page == i){
						// 현재페이지와 맞는 페이지는 정해진 css가 입혀서 생성
						$(ul).append($("<li/>").text(i).css("background-color","#9dc2c0").css("border-radius","100%").css("color","#fff"));
					}else {
						$(ul).append($("<li/>").text(i).attr("id","pageNum").on("click",function(){newBlogList($(this).text());}));
					}
				}
				// 페이징 끝부분이 페이징 마지막페이지보다 작으면 다음으로 가기 버튼 생성 ex) >>
				if(page.endPage < page.lastPage){
					$(ul).append($("<li/>").html("&raquo;").css("font-size","30px").on("click",function(){newBlogList(page.startPage+page.pageSize)}));
				}
				// 완성된 페이징을 넣기
				pagination.append(ul);
				return pagination;
			}
			
			
			// 블로그 리스트 만들기
			function makeBlogList(item){
				console.log("이야!!!!!!!!!!!!!!!!!!!!!!!!!"+item.fileRoute);
				let makeClone = $(listClone).clone();
				$(makeClone).find(".album-content").data("writeid",item.writeId).data("scope",item.publicScope).data("userid",item.blogId);
				$(makeClone).find(".album-content").find('a').text(item.writeTitle+" "+item.subTitle);
				$(makeClone).find(".album-photos").find("input[type=hidden].thumbnail").val(item.blogWrite);
				$(makeClone).find(".album-photos").data("writeid",item.writeId).data("scope",item.publicScope).data("userid",item.blogId);
				if(item.fileRoute != null){
					$(makeClone).find(".album-photos").find("img").attr("src",item.fileRoute);
				}else{
					$(makeClone).find(".album-photos").find("img").attr("src","/blog/img/blogDefault.png");
				}
				$(makeClone).find(".album-action").find("i.fa-calendar-o").text(" "+item.writeDate.substr(0,10));
				$(makeClone).find(".album-action").find("i.fa-comment-o").text(" "+item.replyCnt);
				$(makeClone).find(".album-action").find("i.fa-eye").text(" "+item.cnt);
			
				return makeClone;
			}
			
			function scopeCheck(obj){
				let subTF = "[[${subCount}]]";
				let writeId = $(obj).data("writeid");
				let blogId = $(obj).data("userid");
				let scope = $(obj).data("scope");
				let id = "[[${#authentication.principal != 'anonymousUser' ? #authentication.principal.memberId:''}]]";
			
				console.log("공개범위"+subTF);
				if(scope == "public" || scope =="partial" && subTF == "T" || blogId == id){  // 구독여부 체크
					location.href="/blog/myblog/blogWrite?bno="+writeId+"&userId="+blogId
				}else if(scope == "private" && blogId == id){
					location.href="/blog/myblog/blogWrite?bno="+writeId+"&userId="+blogId
				}else{
					alert("일부공개 된 글입니다.");
				} 
				
			}
			
			// 블로그 리스트 가져오기
			function newBlogList(page){
				let data = nowData;
				data['page'] = page;
				
		        console.log(data);
		        $.ajax({
		        	url: '/blog/blogSearch',
			      method: 'GET',
			      contentType: 'application/x-www-form-urlencoded',
			      data: data,
			      success: function (result) {
					 $(".timeline-right").find(".album").detach();
					 $(".timeline-right").find(".pagination").detach();
					 $(result["blogList"]).each(function(index, item){
						$(".blogList").append(makeBlogList(item));
					 })
					 // 페이징 새로 생성
					 $(".blogList").append(makePageing(result["newPaging"]));
			      },
			      error: function (error) {
			         console.log(error);
			         alert('실패');
			      }
		        })
			}
			
 			// 마이블로그 들어오자마자 1페이지로 보여주기
			newBlogList(1);
		</script>


		<script type="text/javascript">
	$('card').each(function () {
        let Image = $(this).attr('data-image');
        let header = $(this).html();
        let template = `
		<div class="card-wrap">
		  <div class="card">
		    <div class="card-bg" style="background-image: url(` + Image + `)"></div>
		    <div class="card-info">` + header + `
		      <slot name="content"></slot>
		    </div>
		  </div>
		</div>`;
		        $(this).replaceWith($(template).on('mousemove', handleMouseMove).on('mouseleave', handleMouseLeave));
		    })

    function handleMouseMove(e) {
        let mouseX = e.pageX - $(this).find('.card').offset().left - $(this).find('.card').outerWidth() / 2;
        let mouseY = e.pageY - $(this).find('.card').offset().top - $(this).find('.card').outerHeight() / 2;
        let mousePX = mouseX / $(this).find('.card').outerWidth();
        let mousePY = mouseY / $(this).find('.card').outerHeight();
        let tX = mousePX * -40;
        let tY = mousePY * -40;
        let rX = mousePX * 30;
        let rY = mousePY * -30;
        $(this).find('.card').css('transform', `rotateY(${rX}deg) rotateX(${rY}deg)`);
        $(this).find('.card-bg').css('transform', `translateX(${tX}px) translateY(${tY}px)`);
    };
    function handleMouseLeave() {
        setTimeout(() => {
            let mouseX = 0;
            let mouseY = 0;
            let mousePX = mouseX / $(this).find('.card').outerWidth();
            let mousePY = mouseY / $(this).find('.card').outerHeight();
            let tX = mousePX * -40;
            let tY = mousePY * -40;
            let rX = mousePX * 30;
            let rY = mousePY * -30;
            $(this).find('.card').css('transform', `rotateY(${rX}deg) rotateX(${rY}deg)`);
            $(this).find('.card-bg').css('transform', `translateX(${tX}px) translateY(${tY}px)`);
        }, 1500);
    }
	</script>
		<!-- JS -->
		<th:block layout:fragment="script">
			<script th:src="@{/shoptemplate/js/jquery-3.3.1.min.js}"></script>
			<script th:src="@{/shoptemplate/js/bootstrap.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.nice-select.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery-ui.min.js}"></script>
			<script th:src="@{/shoptemplate/js/jquery.slicknav.js}"></script>
			<script th:src="@{/shoptemplate/js/mixitup.min.js}"></script>
			<script th:src="@{/shoptemplate/js/owl.carousel.min.js}"></script>
			<script th:src="@{/shoptemplate/js/main.js}"></script>
			<script src="https://kit.fontawesome.com/fef5f4c5da.js"
				crossorigin="anonymous"></script>
		</th:block>
	</div>

</body>
</html>